Repository socialincome-san/public, pull requests merged in 2023-06, with the labels that each got.

#414 Quick & dirty code to show some charts
  package-lock.json
  shared/locales/de/website-finances.json
  shared/locales/en/website-finances.json
  shared/src/utils/currency.ts
  shared/src/utils/exchangeRates.ts
  shared/src/utils/stats/ContributionStatsCalculator.ts
  shared/src/utils/stats/PaymentStatsCalculator.ts
  shared/src/utils/stats/utils.ts
  shared/tests/ContributionStatsCalculator.test.ts
  website/components/CurrencySwitcher.tsx
  website/components/LanguageSwitcher.tsx
  website/components/Layout.tsx
  website/package.json
  website/pages/transparency/finances/[currency].tsx
  website/tests-e2e/index.spec.ts-snapshots/snapshot-regression-test-for-path-for-de-1-Google-Chrome.png
  website/tests-e2e/index.spec.ts-snapshots/snapshot-regression-test-for-path-for-de-1-Mobile-Chrome.png
  website/tests-e2e/index.spec.ts-snapshots/snapshot-regression-test-for-path-for-de-1-Mobile-Safari.png
  website/tests-e2e/index.spec.ts-snapshots/snapshot-regression-test-for-path-for-en-1-Google-Chrome.png
  website/tests-e2e/index.spec.ts-snapshots/snapshot-regression-test-for-path-for-en-1-Mobile-Chrome.png
  website/tests-e2e/index.spec.ts-snapshots/snapshot-regression-test-for-path-for-en-1-Mobile-Safari.png
  website/tests-e2e/index.spec.ts-snapshots/snapshot-regression-test-for-path-for-it-1-Google-Chrome.png
  website/tests-e2e/index.spec.ts-snapshots/snapshot-regression-test-for-path-for-it-1-Mobile-Chrome.png
  website/tests-e2e/index.spec.ts-snapshots/snapshot-regression-test-for-path-for-it-1-Mobile-Safari.png
  website/tests-e2e/pages/transparency/finances.spec.ts-snapshots/snapshot-regression-test-for-path-transparency-finances-chf-for-de-1-Google-Chrome.png
  website/tests-e2e/pages/transparency/finances.spec.ts-snapshots/snapshot-regression-test-for-path-transparency-finances-chf-for-de-1-Mobile-Chrome.png
  website/tests-e2e/pages/transparency/finances.spec.ts-snapshots/snapshot-regression-test-for-path-transparency-finances-chf-for-de-1-Mobile-Safari.png
  website/tests-e2e/pages/transparency/finances.spec.ts-snapshots/snapshot-regression-test-for-path-transparency-finances-chf-for-en-1-Google-Chrome.png
  website/tests-e2e/pages/transparency/finances.spec.ts-snapshots/snapshot-regression-test-for-path-transparency-finances-chf-for-en-1-Mobile-Chrome.png
  website/tests-e2e/pages/transparency/finances.spec.ts-snapshots/snapshot-regression-test-for-path-transparency-finances-chf-for-en-1-Mobile-Safari.png
  website/tests-e2e/pages/transparency/finances.spec.ts-snapshots/snapshot-regression-test-for-path-transparency-finances-chf-for-it-1-Google-Chrome.png
  website/tests-e2e/pages/transparency/finances.spec.ts-snapshots/snapshot-regression-test-for-path-transparency-finances-chf-for-it-1-Mobile-Chrome.png
  website/tests-e2e/pages/transparency/finances.spec.ts-snapshots/snapshot-regression-test-for-path-transparency-finances-chf-for-it-1-Mobile-Safari.png
Labels: website

#427 feat(recipient_app): added json serializer
  recipients_app/README.md
  recipients_app/analysis_options.yaml
  recipients_app/lib/core/helpers/date_time_converter.dart
  recipients_app/lib/core/helpers/document_reference_converter.dart
  recipients_app/lib/core/helpers/timestamp_converter.dart
  recipients_app/lib/data/models/organization.dart
  recipients_app/lib/data/models/organization.g.dart
  recipients_app/lib/data/models/payment/social_income_payment.dart
  recipients_app/lib/data/models/payment/social_income_payment.g.dart
  recipients_app/lib/data/models/phone.dart
  recipients_app/lib/data/models/phone.g.dart
  recipients_app/lib/data/models/recipient.dart
  recipients_app/lib/data/models/recipient.g.dart
  recipients_app/lib/data/repositories/organization_repository.dart
  recipients_app/lib/data/repositories/payment_repository.dart
  recipients_app/lib/data/repositories/user_repository.dart
  recipients_app/pubspec.lock
  recipients_app/pubspec.yaml
Labels: flutter, mobileapp, dependencies

#413 feat(recipient_app): Add new surveys
  recipients_app/ios/Runner.xcodeproj/project.pbxproj
  recipients_app/lib/core/cubits/dashboard_card_manager/dashboard_card_manager_cubit.dart
  recipients_app/lib/core/cubits/survey/survey_cubit.dart
  recipients_app/lib/core/cubits/survey/survey_state.dart
  recipients_app/lib/core/helpers/timestamp_converter.dart
  recipients_app/lib/data/models/models.dart
  recipients_app/lib/data/models/payment/social_income_payment.g.dart
  recipients_app/lib/data/models/recipient.g.dart
  recipients_app/lib/data/models/survey/mapped_survey.dart
  recipients_app/lib/data/models/survey/survey.dart
  recipients_app/lib/data/models/survey/survey.g.dart
  recipients_app/lib/data/models/survey/survey_card_status.dart
  recipients_app/lib/data/models/survey/survey_ui_state.dart
  recipients_app/lib/data/repositories/repositories.dart
  recipients_app/lib/data/repositories/survey_repository.dart
  recipients_app/lib/my_app.dart
  recipients_app/lib/ui/design_components_screen.dart
  recipients_app/lib/ui/icons/survey_status_icon_with_text.dart
  recipients_app/lib/view/pages/dashboard_page.dart
  recipients_app/lib/view/pages/impact_measurement_page.dart
  recipients_app/lib/view/pages/survey_page.dart
  recipients_app/lib/view/pages/terms_and_conditions.dart
  recipients_app/lib/view/widgets/account/dashboard_card.dart
  recipients_app/lib/view/widgets/dashboard_item.dart
  recipients_app/lib/view/widgets/survey/survey_card_bottom_action.dart
  recipients_app/lib/view/widgets/survey/survey_card_container.dart
  recipients_app/pubspec.lock
Labels: mobileapp, survey
