Repository socialincome-san/public, pull requests merged in 2024-12, with the labels that each got.

#944 Website: Hero video optimization (subtitles, flickering)
  shared/locales/de/website-home.json
  shared/locales/en/website-home.json
  shared/locales/fr/website-home.json
  shared/locales/it/website-home.json
  website/src/app/[lang]/[region]/(website)/(home)/(components)/mux-video.tsx
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/hero-video.tsx
Labels: website

#939 Web: Solving newsletter subscription issues
  functions/src/webhooks/stripe/index.ts
  shared/emails/transactional/welcome-2-fr.html
  shared/emails/transactional/welcome-3-fr.html
  shared/emails/transactional/welcome-4-fr.html
  shared/src/sendgrid/SendgridSubscriptionClient.ts
  website/.env.development
  website/src/app/[lang]/[region]/(website)/newsletter/subscription-info-form.tsx
  website/src/app/api/newsletter/subscription/public/route.ts
  website/src/app/api/newsletter/subscription/route.ts
Labels: website

#973 Website: Home page explainer video (fix bug)
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/explainer-video.tsx
Labels: website

#972 Website: Transparency page (fixing bugs)
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/section-1.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/section-2.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/section-3.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/section-4.tsx
Labels: website

#954 Website: Extract translations for campaign and add Italian translation
  shared/locales/de/website-campaign.json
  shared/locales/de/website-donate.json
  shared/locales/en/website-campaign.json
  shared/locales/en/website-donate.json
  shared/locales/fr/website-campaign.json
  shared/locales/fr/website-donate.json
  shared/locales/it/website-campaign.json
  shared/locales/it/website-donate.json
  shared/locales/it/website-videos.json
  website/src/app/[lang]/[region]/(website)/campaign/[campaign]/page.tsx
Labels: fundraisers

#974 Website: Animated logo
  package-lock.json
  website/package.json
  website/src/components/logos/si-animated-logo.tsx
  website/src/components/logos/si-logo-animation.json
  website/src/components/navbar/navbar-client.tsx
Labels: website

#971 Website: Survey page (fixing bugs)
  website/src/app/[lang]/[region]/survey/[recipient]/[survey]/survey.css
  website/src/components/i18n-dialog.tsx
  website/src/components/tracking/cookie-consent-banner.tsx
  website/src/hooks/useIsPage.ts
Labels: website

#926 Website: new page for GitHub insights
  package-lock.json
  shared/locales/en/website-open-source.json
  ui/package.json
  ui/src/components/avatar.tsx
  ui/src/index.ts
  website/src/app/[lang]/[region]/(website)/open-source/(components)/contributors-client.tsx
  website/src/app/[lang]/[region]/(website)/open-source/(components)/filterForm.tsx
  website/src/app/[lang]/[region]/(website)/open-source/(components)/get-commits.ts
  website/src/app/[lang]/[region]/(website)/open-source/(components)/get-contributors.ts
  website/src/app/[lang]/[region]/(website)/open-source/(components)/get-forks.ts
  website/src/app/[lang]/[region]/(website)/open-source/(components)/get-issues.ts
  website/src/app/[lang]/[region]/(website)/open-source/(components)/get-stars.ts
  website/src/app/[lang]/[region]/(website)/open-source/(components)/issue.tsx
  website/src/app/[lang]/[region]/(website)/open-source/(components)/issues-client.tsx
  website/src/app/[lang]/[region]/(website)/open-source/(sections)/contributors.tsx
  website/src/app/[lang]/[region]/(website)/open-source/(sections)/hero.tsx
  website/src/app/[lang]/[region]/(website)/open-source/(sections)/open-issues.tsx
  website/src/app/[lang]/[region]/(website)/open-source/(sections)/overview.tsx
  website/src/app/[lang]/[region]/(website)/open-source/page.tsx
  website/src/components/logos/si-logo-animation.json
Labels: GitHub DPG

#985 Website: Combine the fetch logic in open-source page
  website/src/app/[lang]/[region]/(website)/open-source/(components)/fetch-data.ts
  website/src/app/[lang]/[region]/(website)/open-source/(components)/get-commits.ts
  website/src/app/[lang]/[region]/(website)/open-source/(components)/get-contributors.ts
  website/src/app/[lang]/[region]/(website)/open-source/(components)/get-forks.ts
  website/src/app/[lang]/[region]/(website)/open-source/(components)/get-issues.ts
  website/src/app/[lang]/[region]/(website)/open-source/(components)/get-stars.ts
Labels: website

#964 Mobile: Update to flutter 3.22.3 and packages
  recipients_app/.tool-versions
  recipients_app/README.md
  recipients_app/clean_build.sh
  recipients_app/ios/Podfile
  recipients_app/ios/Podfile.lock
  recipients_app/lib/kri_intl.dart
  recipients_app/lib/ui/buttons/button_outlined_big.dart
  recipients_app/lib/ui/buttons/button_small.dart
  recipients_app/lib/ui/configs/app_theme.dart
  recipients_app/pubspec.lock
  recipients_app/pubspec.yaml
Labels: mobile

#986 Website: User location based flag
  package-lock.json
  shared/src/types/country.ts
  shared/src/utils/stats/ContributionStatsCalculator.ts
  ui/src/lib/utils.ts
  website/package.json
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/section-3-cards.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/section-3.tsx
  website/src/app/[lang]/[region]/index.ts
  website/src/app/api/geolocation/route.ts
  website/src/components/navbar/navbar-client.tsx
  website/src/components/providers/context-providers.tsx
  website/src/hooks/queries.ts
  website/src/middleware.ts
Labels: website
