Repository socialincome-san/public, changes with the owners that CODEOWNERS names for each.
All owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, verena@socialincome.org, mikolaj@socialincome.org

feature (website): add accodion to recipient selection faq page (#687)
  website/src/app/[lang]/[region]/(website)/transparency/recipient-selection/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Update dart and libs
  recipients_app/pubspec.lock
  recipients_app/pubspec.yaml
  recipients_app/test/helpers/golden_test_device_scenario.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

chore(recipients_app): Updated to flutter 3.16.5 (#666)
  recipients_app/ios/Podfile
  recipients_app/ios/Podfile.lock
  recipients_app/lib/kri_intl.dart
  recipients_app/pubspec.lock
  recipients_app/pubspec.yaml
  recipients_app/test/helpers/golden_test_device_scenario.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Add app version to profile page
  recipients_app/ios/Podfile.lock
  recipients_app/lib/l10n/app_en.arb
  recipients_app/lib/l10n/app_kri.arb
  recipients_app/lib/view/pages/account_page.dart
  recipients_app/pubspec.lock
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Update of credits
  shared/locales/de/website-home.json
  shared/locales/en/website-home.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): add video section on home page (#680)
  shared/locales/de/website-home.json
  shared/locales/en/website-home.json
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/address-inequality.tsx
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/hero-form.tsx
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/hero.tsx
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/recognized-carousel.tsx
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/recognized.tsx
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/sdg-card.tsx
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/sdg.tsx
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/swiss-section.tsx
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/three-approaches-card.tsx
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/three-approaches.tsx
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/video.tsx
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/what-would-change.tsx
  website/src/app/[lang]/[region]/(website)/(home)/page.tsx
  website/src/app/globals.css
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Bump version (#676)
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Add app version to profile page (#689)
  recipients_app/ios/Podfile.lock
  recipients_app/lib/l10n/app_en.arb
  recipients_app/lib/l10n/app_kri.arb
  recipients_app/lib/view/pages/account_page.dart
  recipients_app/pubspec.lock
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Add new status and method for not filterred methods
  recipients_app/lib/core/cubits/survey/survey_cubit.dart
  recipients_app/lib/data/models/survey/survey_card_status.dart
  recipients_app/lib/ui/icons/survey_status_icon_with_text.dart
  recipients_app/lib/view/pages/dashboard_page.dart
  recipients_app/lib/view/pages/survey_page.dart
  recipients_app/lib/view/widgets/survey/survey_card_bottom_action.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Add surveys overview page
  recipients_app/lib/core/cubits/survey/survey_cubit.dart
  recipients_app/lib/core/cubits/survey/survey_state.dart
  recipients_app/lib/data/models/survey/mapped_survey.dart
  recipients_app/lib/l10n/app_en.arb
  recipients_app/lib/l10n/app_kri.arb
  recipients_app/lib/view/pages/dashboard_page.dart
  recipients_app/lib/view/pages/survey_page.dart
  recipients_app/lib/view/pages/surveys_page.dart
  recipients_app/lib/view/widgets/survey/survey_list_card.dart
  recipients_app/lib/view/widgets/survey/survey_status_chip.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Add surveys overview card to dashboard
  recipients_app/lib/l10n/app_en.arb
  recipients_app/lib/l10n/app_kri.arb
  recipients_app/lib/view/pages/dashboard_page.dart
  recipients_app/lib/view/pages/surveys_page.dart
  recipients_app/lib/view/widgets/survey/surveys_overview_card.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Make whole card clickable
  recipients_app/lib/view/widgets/survey/surveys_overview_card.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Make whole dashboard scrollable
  recipients_app/lib/view/pages/dashboard_page.dart
  recipients_app/lib/view/widgets/empty_item.dart
  recipients_app/lib/view/widgets/income/balance_card/balance_card_container.dart
  recipients_app/lib/view/widgets/survey/surveys_overview_card.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Add survey name to dashboard survey card
  recipients_app/lib/view/widgets/survey/survey_card_container.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Work in progress
  shared/locales/en/website-campaign-ebola-survivors.json
  ui/src/components/switch.tsx
  website/src/app/[lang]/[region]/(website)/campaigns/ebola-survivors/campaign-card.tsx
  website/src/app/[lang]/[region]/(website)/campaigns/ebola-survivors/campaign-faq.tsx
  website/src/app/[lang]/[region]/(website)/campaigns/ebola-survivors/campaign-title.tsx
  website/src/app/[lang]/[region]/(website)/campaigns/ebola-survivors/donation-form.tsx
  website/src/app/[lang]/[region]/(website)/campaigns/ebola-survivors/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Work in progress (adding content)
  shared/locales/en/website-campaign-ebola-survivors.json
  website/src/app/[lang]/[region]/(website)/campaigns/ebola-survivors/campaign-faq.tsx
  website/src/app/[lang]/[region]/(website)/campaigns/ebola-survivors/donation-form.tsx
  website/src/app/[lang]/[region]/(website)/campaigns/ebola-survivors/placeholder.png
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  ui/src/components/switch.tsx
  website/src/app/[lang]/[region]/(website)/campaigns/ebola-survivors/campaign-card.tsx
  website/src/app/[lang]/[region]/(website)/campaigns/ebola-survivors/campaign-faq.tsx
  website/src/app/[lang]/[region]/(website)/campaigns/ebola-survivors/campaign-title.tsx
  website/src/app/[lang]/[region]/(website)/campaigns/ebola-survivors/donation-form.tsx
  website/src/app/[lang]/[region]/(website)/campaigns/ebola-survivors/page.tsx
Owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 692 🛫
  pr-preview/pr-692/project.json
Owners: none

refactor(ui): make popover hoverable
  admin/src/collections/Contributions.tsx
  ui/src/components/popover.tsx
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/video.tsx
  website/src/components/navbar/navbar-client.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

refactor(general): upgrade firebase-tools
  .github/workflows/actions/init/action.yml
  .github/workflows/website-update-snapshots.yml
  package-lock.json
  package.json
Owners: andras@socialincome.org, michael@socialincome.org

fix typing
  ui/src/components/popover.tsx
Owners: rene@socialincome.org

refactor(general): upgrade firebase-tools (#695)
  .github/workflows/actions/init/action.yml
  .github/workflows/website-update-snapshots.yml
  package-lock.json
  package.json
Owners: andras@socialincome.org, michael@socialincome.org

Deploy preview for PR 694 🛫
  pr-preview/pr-694/assets/typography.stories-ccc3a598.js.map
  pr-preview/pr-694/project.json
Owners: none

Deploying to gh-pages from @ socialincome-san/public@cedeea2d6c6019f6eec4f7c17d90231dff40c3df 🚀
  project.json
Owners: none

Deploy preview for PR 694 🛫
  pr-preview/pr-694/project.json
Owners: none

refactor(ui): make popover hoverable (#694)
  admin/src/collections/Contributions.tsx
  ui/src/components/popover.tsx
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/video.tsx
  website/src/components/navbar/navbar-client.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Deploying to gh-pages from @ socialincome-san/public@91dc333eef06f60820c0732464c598c3a890a5a3 🚀
  assets/Color-6VNJS4EI-3c42ec68.js
  assets/Color-6VNJS4EI-3c42ec68.js.map
  assets/Color-6VNJS4EI-440dc15a.js
  assets/Color-6VNJS4EI-440dc15a.js.map
  assets/DocsRenderer-NNNQARDV-8a13da0e.js
  assets/DocsRenderer-NNNQARDV-8a13da0e.js.map
  assets/DocsRenderer-NNNQARDV-8af7ad29.js
  assets/DocsRenderer-NNNQARDV-8af7ad29.js.map
  assets/WithTooltip-4HIR6TLV-83aec35d.js
  assets/WithTooltip-4HIR6TLV-83aec35d.js.map
  assets/WithTooltip-4HIR6TLV-c93701f2.js
  assets/WithTooltip-4HIR6TLV-c93701f2.js.map
  assets/chunk-HLWAVYOI-36619765.js
  assets/chunk-HLWAVYOI-36619765.js.map
  assets/chunk-HLWAVYOI-eea786cc.js.map
  assets/formatter-SWP5E3XI-1694ea41.js
  assets/formatter-SWP5E3XI-1694ea41.js.map
  assets/formatter-SWP5E3XI-6a9bcd45.js.map
  assets/iframe-4ca47c81.js
  assets/iframe-4ca47c81.js.map
  assets/iframe-988b28b5.js
  assets/iframe-988b28b5.js.map
  assets/preview-174e811a.js
  assets/preview-174e811a.js.map
  assets/preview-e83df1b7.js
  assets/preview-e83df1b7.js.map
  assets/syntaxhighlighter-NMPM6SWI-5b97524c.js
  assets/syntaxhighlighter-NMPM6SWI-5b97524c.js.map
  assets/syntaxhighlighter-NMPM6SWI-b0ed1b9e.js
  assets/syntaxhighlighter-NMPM6SWI-b0ed1b9e.js.map
  assets/typography.stories-1571c65c.js
  assets/typography.stories-1571c65c.js.map
  assets/typography.stories-9150ed52.js
  assets/typography.stories-9150ed52.js.map
  iframe.html
  project.json
Owners: none

Added the login options for developers
  README.md
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

Prettified Code!
  README.md
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

Fix saving issue
  recipients_app/lib/view/pages/account_page.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Add Accordion to FAQ and Add progressbar component to the placeholder
  package-lock.json
  ui/package.json
  ui/src/components/progress.tsx
  website/src/app/[lang]/[region]/(website)/campaigns/ebola-survivors/campaign-card.tsx
  website/src/app/[lang]/[region]/(website)/campaigns/ebola-survivors/campaign-faq.tsx
Owners: andras@socialincome.org, michael@socialincome.org, rene@socialincome.org, sandino@socialincome.org

refactor(general): update expenses collection
  admin/src/App.tsx
  admin/src/collections/Expenses.ts
  admin/src/collections/OperationalExpenses.ts
  seed/auth_export/accounts.json
  seed/firebase-export-metadata.json
  seed/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  seed/firestore_export/all_namespaces/all_kinds/output-0
  seed/firestore_export/firestore_export.overall_export_metadata
  shared/src/types/expense.ts
  shared/src/types/operational-expense.ts
  shared/src/utils/exchangeRates.ts
  shared/src/utils/stats/ContributionStatsCalculator.ts
  shared/src/utils/stats/ExpensesStatsCalculator.ts
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

typing
  shared/src/utils/stats/PaymentStatsCalculator.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(general): update expenses collection (#698)
  admin/src/App.tsx
  admin/src/collections/Expenses.ts
  admin/src/collections/OperationalExpenses.ts
  seed/auth_export/accounts.json
  seed/firebase-export-metadata.json
  seed/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  seed/firestore_export/all_namespaces/all_kinds/output-0
  seed/firestore_export/firestore_export.overall_export_metadata
  shared/src/types/expense.ts
  shared/src/types/operational-expense.ts
  shared/src/utils/exchangeRates.ts
  shared/src/utils/stats/ContributionStatsCalculator.ts
  shared/src/utils/stats/ExpensesStatsCalculator.ts
  shared/src/utils/stats/PaymentStatsCalculator.ts
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(website): fix typing
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/charts/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bugfix(website): random subscriptions list entries for users without stripe_customer_id
  website/src/app/[lang]/[region]/(website)/me/subscriptions/billing-portal-button.tsx
  website/src/app/api/stripe/billing-portal-session/create/route.ts
  website/src/app/api/stripe/subscriptions/route.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bugfix(website): random subscriptions list entries for users without stripe_customer_id (#699)
  website/src/app/[lang]/[region]/(website)/me/subscriptions/billing-portal-button.tsx
  website/src/app/api/stripe/billing-portal-session/create/route.ts
  website/src/app/api/stripe/subscriptions/route.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

update readme and seed
  README.md
  seed/auth_export/accounts.json
  seed/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  seed/firestore_export/all_namespaces/all_kinds/output-0
  seed/firestore_export/firestore_export.overall_export_metadata
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

update readme and seed
  seed/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
Owners: none

feature(readme): list login options for devs (#696)
  README.md
  seed/auth_export/accounts.json
  seed/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  seed/firestore_export/all_namespaces/all_kinds/output-0
  seed/firestore_export/firestore_export.overall_export_metadata
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/ui/ rene@socialincome.org
.github/workflows/ui.yml rene@socialincome.org

firebase.json andras@socialincome.org michael@socialincome.org
firestore.rules andras@socialincome.org michael@socialincome.org
package.json andras@socialincome.org michael@socialincome.org
storage.rules andras@socialincome.org michael@socialincome.org

admin/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
functions/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
shared/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
recipients_app/ verena@socialincome.org mikolaj@socialincome.org sandino@socialincome.org
website/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org

*.md sandino@socialincome.org andras@socialincome.org michael@socialincome.org
