Repository socialincome-san/public, changes with the owners that CODEOWNERS names for each.
All owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, verena@socialincome.org, mikolaj@socialincome.org

Update payment confirmation and contestation methods to not override whole object
  recipients_app/lib/data/repositories/payment_repository.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

website(feature): add cookie banner
  shared/locales/de/website-common.json
  shared/locales/en/website-common.json
  shared/src/firebase/client/init.ts
  shared/src/utils/messaging/email.ts
  shared/src/utils/messaging/whatsapp.ts
  shared/src/utils/templates.ts
  ui/CONTRIBUTING.md
  ui/src/components/carousel.tsx
  ui/src/components/form.tsx
  ui/src/components/typography/typography.tsx
  ui/src/globals.css
  website/src/app/[lang]/[region]/(website)/(home)/section-1-form.tsx
  website/src/app/[lang]/[region]/(website)/layout.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/charts/transparency-charts.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/info-card.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/page.tsx
  website/src/app/[lang]/[region]/donate/layout.tsx
  website/src/app/[lang]/[region]/layout.tsx
  website/src/app/context-providers.tsx
  website/src/app/layout.tsx
  website/src/components/i18n-dialog.tsx
  website/src/components/navbar/navbar-client.tsx
  website/src/components/tracking/cookie-consent-banner.tsx
  website/src/components/tracking/facebook-tracking.tsx
  website/src/components/tracking/linkedin-tracking.tsx
  website/src/components/ui/book.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Prettified Code!
  shared/src/firebase/client/init.ts
  shared/src/utils/messaging/email.ts
  shared/src/utils/messaging/whatsapp.ts
  shared/src/utils/templates.ts
  ui/CONTRIBUTING.md
  ui/src/components/carousel.tsx
  ui/src/components/form.tsx
  ui/src/components/typography/typography.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/charts/transparency-charts.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/info-card.tsx
  website/src/components/i18n-dialog.tsx
  website/src/components/navbar/navbar-client.tsx
  website/src/components/ui/book.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Deploy preview for PR 640 🛫
  pr-preview/pr-640/assets/typography-1bc445e8.js.map
  pr-preview/pr-640/assets/typography.stories-9702cfb9.js.map
  pr-preview/pr-640/project.json
Owners: none

website(feature): add cookie banner (#640)
  shared/locales/de/website-common.json
  shared/locales/en/website-common.json
  ui/src/globals.css
  website/src/app/[lang]/[region]/(website)/(home)/section-1-form.tsx
  website/src/app/[lang]/[region]/(website)/layout.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/page.tsx
  website/src/app/[lang]/[region]/donate/layout.tsx
  website/src/app/[lang]/[region]/layout.tsx
  website/src/app/context-providers.tsx
  website/src/app/layout.tsx
  website/src/components/tracking/cookie-consent-banner.tsx
  website/src/components/tracking/facebook-tracking.tsx
  website/src/components/tracking/linkedin-tracking.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Deploying to gh-pages from @ socialincome-san/public@c4c5ed2736318abdb2ba0cf15413f232ebd6668d 🚀
  project.json
Owners: none

Deploy preview for PR 620 🛫
  pr-preview/pr-620/project.json
Owners: none

Refined NavBar: "My Profile" instead of "Login", back to theme colors
  shared/locales/en/website-common.json
  website/src/components/navbar/navbar-client.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/components/navbar/navbar-client.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): refined navbar (#636)
  website/src/components/logos/si-icon.tsx
  website/src/components/navbar/navbar-client.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bugfix(admin): load upcoming surveys correctly
  admin/src/views/NextSurveysView.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bugfix(admin): load upcoming surveys correctly (#643)
  admin/src/views/NextSurveysView.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Add Evidence link to Navbar
  website/src/components/navbar/navbar.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Add code and translations for multi-colored titles
  shared/locales/de/website-common.json
  shared/locales/de/website-evidence.json
  shared/locales/en/website-common.json
  shared/locales/en/website-evidence.json
  website/src/app/[lang]/[region]/(website)/evidence/section-1.tsx
  website/src/app/[lang]/[region]/(website)/evidence/section-2.tsx
  website/src/app/[lang]/[region]/(website)/evidence/section-3.tsx
  website/src/app/[lang]/[region]/(website)/evidence/section-4.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  shared/locales/de/website-common.json
  shared/locales/de/website-evidence.json
  shared/locales/en/website-common.json
  shared/locales/en/website-evidence.json
  website/src/app/[lang]/[region]/(website)/evidence/section-1.tsx
  website/src/app/[lang]/[region]/(website)/evidence/section-2.tsx
  website/src/app/[lang]/[region]/(website)/evidence/section-3.tsx
  website/src/app/[lang]/[region]/(website)/evidence/section-4.tsx
  website/src/components/navbar/navbar.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

small ui adjustments and make mobile friendly
  website/src/app/[lang]/[region]/(website)/evidence/section-2.tsx
  website/src/app/[lang]/[region]/(website)/evidence/section-3.tsx
  website/src/app/[lang]/[region]/(website)/evidence/section-4.tsx
  website/src/app/[lang]/[region]/(website)/evidence/section-card.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

fix linting errors
  website/src/app/[lang]/[region]/(website)/transparency/finances/page.tsx
  website/src/app/context-providers.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

website(feature): add raw payments stats page
  website/src/app/[lang]/[region]/(website)/transparency/finances/raw-payments-stats/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

fix linting issue
  website/src/app/[lang]/[region]/(website)/transparency/finances/raw-payments-stats/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

website(feature): add raw payments stats page (#644)
  website/src/app/[lang]/[region]/(website)/transparency/finances/raw-payments-stats/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

remove italian translations
  shared/locales/it/common.json
  shared/locales/it/countries.json
  shared/locales/it/website-bank-details.json
  shared/locales/it/website-evidence.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): migrate bank and evidence pages (#620)
  shared/locales/de/website-bank-details.json
  shared/locales/de/website-common.json
  shared/locales/de/website-evidence.json
  shared/locales/en/website-bank-details.json
  shared/locales/en/website-common.json
  shared/locales/en/website-evidence.json
  shared/locales/it/common.json
  shared/locales/it/countries.json
  shared/locales/it/website-bank-details.json
  website/src/app/[lang]/[region]/(website)/bank/page.tsx
  website/src/app/[lang]/[region]/(website)/evidence/page.tsx
  website/src/app/[lang]/[region]/(website)/evidence/section-1.tsx
  website/src/app/[lang]/[region]/(website)/evidence/section-2.tsx
  website/src/app/[lang]/[region]/(website)/evidence/section-3.tsx
  website/src/app/[lang]/[region]/(website)/evidence/section-4.tsx
  website/src/app/[lang]/[region]/(website)/evidence/section-card.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/page.tsx
  website/src/app/context-providers.tsx
  website/src/components/navbar/navbar.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  shared/locales/de/website-common.json
  shared/locales/de/website-our-work.json
  shared/locales/en/website-common.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(general): add vercel analytics and upgrade dependencies
  .github/workflows/actions/init/action.yml
  .github/workflows/prettify-pr.yml
  .github/workflows/website-update-snapshots.yml
  admin/package.json
  functions/package.json
  package-lock.json
  package.json
  shared/package.json
  shared/src/firebase/client/init.ts
  website/package.json
  website/src/app/context-providers.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  shared/src/utils/messaging/email.ts
  shared/src/utils/messaging/whatsapp.ts
  shared/src/utils/templates.ts
  ui/CONTRIBUTING.md
  ui/src/components/carousel.tsx
  ui/src/components/form.tsx
  ui/src/components/typography/typography.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/charts/transparency-charts.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/info-card.tsx
  website/src/components/i18n-dialog.tsx
  website/src/components/navbar/navbar-client.tsx
  website/src/components/ui/book.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Deploy preview for PR 646 🛫
  pr-preview/pr-646/assets/typography-1bc445e8.js.map
  pr-preview/pr-646/assets/typography.stories-af9f345a.js.map
  pr-preview/pr-646/project.json
Owners: none

update tes
  shared/src/stripe/StripeWebhookHandler.test.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 646 🛫
  pr-preview/pr-646/project.json
Owners: none

refactor(general): add vercel analytics and upgrade dependencies (#646)
  .github/workflows/actions/init/action.yml
  .github/workflows/prettify-pr.yml
  .github/workflows/website-update-snapshots.yml
  admin/package.json
  functions/package.json
  package-lock.json
  package.json
  shared/package.json
  shared/src/firebase/client/init.ts
  shared/src/stripe/StripeWebhookHandler.test.ts
  shared/src/utils/messaging/email.ts
  shared/src/utils/messaging/whatsapp.ts
  shared/src/utils/templates.ts
  ui/CONTRIBUTING.md
  ui/src/components/carousel.tsx
  ui/src/components/form.tsx
  ui/src/components/typography/typography.tsx
  website/package.json
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/charts/transparency-charts.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/info-card.tsx
  website/src/app/context-providers.tsx
  website/src/components/i18n-dialog.tsx
  website/src/components/navbar/navbar-client.tsx
  website/src/components/ui/book.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Deploying to gh-pages from @ socialincome-san/public@7fa5560d8dde407d9c46aea576b5537108aa9d63 🚀
  assets/typography-1bc445e8.js.map
  assets/typography.stories-da6c4c69.js.map
  project.json
Owners: none

feature(website): various refinements
  shared/locales/de/common.json
  website/src/app/not-found.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): various refinements
  website/src/app/[lang]/[region]/layout.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploying to gh-pages from @ socialincome-san/public@b5b4a4b6f5d6e31fda54e970c02740e9deef842b 🚀
  assets/Color-6VNJS4EI-66d47b62.js
  assets/Color-6VNJS4EI-66d47b62.js.map
  assets/Color-6VNJS4EI-863dc72d.js
  assets/Color-6VNJS4EI-863dc72d.js.map
  assets/DocsRenderer-NNNQARDV-1033e603.js
  assets/DocsRenderer-NNNQARDV-1033e603.js.map
  assets/DocsRenderer-NNNQARDV-97a63391.js
  assets/DocsRenderer-NNNQARDV-97a63391.js.map
  assets/WithTooltip-4HIR6TLV-cf53da5f.js
  assets/WithTooltip-4HIR6TLV-cf53da5f.js.map
  assets/WithTooltip-4HIR6TLV-dffbad8a.js
  assets/WithTooltip-4HIR6TLV-dffbad8a.js.map
  assets/chunk-HLWAVYOI-16af0f49.js
  assets/chunk-HLWAVYOI-16af0f49.js.map
  assets/chunk-HLWAVYOI-adf65118.js.map
  assets/formatter-SWP5E3XI-f297d4d8.js.map
  assets/formatter-SWP5E3XI-f5b0d8a3.js
  assets/formatter-SWP5E3XI-f5b0d8a3.js.map
  assets/globals-15d1dbd8.css
  assets/globals-e37b3fd9.css
  assets/iframe-ab6e3302.js
  assets/iframe-ab6e3302.js.map
  assets/iframe-b4fa25ab.js
  assets/iframe-b4fa25ab.js.map
  assets/preview-18c59e76.js.map
  assets/preview-b83f2bf4.js
  assets/preview-b83f2bf4.js.map
  assets/preview-d7b880a9.js
  assets/preview-d7b880a9.js.map
  assets/preview-fa01265b.js
  assets/preview-fa01265b.js.map
  assets/syntaxhighlighter-NMPM6SWI-8438a020.js
  assets/syntaxhighlighter-NMPM6SWI-8438a020.js.map
  assets/syntaxhighlighter-NMPM6SWI-a470a651.js
  assets/syntaxhighlighter-NMPM6SWI-a470a651.js.map
  assets/typography.stories-da6c4c69.js.map
  assets/typography.stories-fb1bb605.js
  assets/typography.stories-fb1bb605.js.map
  iframe.html
  project.json
Owners: none

bug(recipients_app): fix payments updates from app to not override fields not used by the app (#639)
  recipients_app/lib/data/models/payment/social_income_payment.dart
  recipients_app/lib/data/models/payment/social_income_payment.g.dart
  recipients_app/lib/data/models/recipient.dart
  recipients_app/lib/data/models/recipient.g.dart
  recipients_app/lib/data/repositories/payment_repository.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Remove redundant update by and at fields from recipient and payment
  recipients_app/lib/data/models/payment/social_income_payment.dart
  recipients_app/lib/data/models/payment/social_income_payment.g.dart
  recipients_app/lib/data/models/recipient.dart
  recipients_app/lib/data/models/recipient.g.dart
  recipients_app/lib/data/repositories/payment_repository.dart
  recipients_app/lib/data/repositories/user_repository.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Basic page for article (poverty statistics)
  shared/locales/en/website-poverty-statistics-2023.json
  website/src/app/[lang]/[region]/(website)/world-poverty-statistics-2023/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  shared/locales/en/website-poverty-statistics-2023.json
  website/src/app/[lang]/[region]/(website)/world-poverty-statistics-2023/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Implement Unica77 font with custom font feature settings on website
  ui/src/globals.css
  ui/tailwind.config.ts
Owners: rene@socialincome.org

Prettified Code!
  ui/tailwind.config.ts
Owners: rene@socialincome.org

Deploy preview for PR 651 🛫
  pr-preview/pr-651/project.json
Owners: none

CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/ui/ rene@socialincome.org
.github/workflows/ui.yml rene@socialincome.org

firebase.json andras@socialincome.org michael@socialincome.org
firestore.rules andras@socialincome.org michael@socialincome.org
package.json andras@socialincome.org michael@socialincome.org
storage.rules andras@socialincome.org michael@socialincome.org

admin/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
functions/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
shared/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
recipients_app/ verena@socialincome.org mikolaj@socialincome.org sandino@socialincome.org
website/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org

*.md sandino@socialincome.org andras@socialincome.org michael@socialincome.org
