Repository socialincome-san/public, changes with the owners that CODEOWNERS names for each.
All owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, verena@socialincome.org, mikolaj@socialincome.org

CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/ui/ rene@socialincome.org
.github/workflows/ui.yml rene@socialincome.org

firebase.json andras@socialincome.org michael@socialincome.org
firestore.rules andras@socialincome.org michael@socialincome.org
package.json andras@socialincome.org michael@socialincome.org
storage.rules andras@socialincome.org michael@socialincome.org

admin/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
functions/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
shared/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
recipients_app/ verena@socialincome.org mikolaj@socialincome.org sandino@socialincome.org
website/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org

*.md sandino@socialincome.org andras@socialincome.org michael@socialincome.org

Added all Krio translations for the surveys.
  shared/locales/kri/website-survey.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 462 🛫
  functions-playwright-report/pr-462/index.html
Owners: none

added github action for drawing recipients when the lists dir is updated
  .github/workflows/execute-draw.yml
Owners: none

create the draws dir if it doesn't exist
  .github/workflows/execute-draw.yml
Owners: none

Prettified Code!
  admin/index.html
  admin/public/index.html
  admin/src/App.tsx
  admin/src/actions/CreateDonationCertificatesAction.tsx
  admin/src/actions/InviteWhatsappAction.tsx
  admin/src/actions/PaymentProcessAction.tsx
  admin/src/collections/shared.ts
  admin/src/collections/surveys/Surveys.tsx
  admin/src/index.tsx
  admin/src/views/PaymentsConfirmationView.tsx
  admin/tests/playwright/admin.spec.ts
  functions/src/cron/ExchangeRateImporter.ts
  functions/src/cron/PostFinanceImporter.ts
  functions/src/onchange/FirestoreAuditor.test.ts
  functions/src/onchange/FirestoreAuditor.ts
  functions/src/webhooks/admin/donation-certificates/DonationCertificateHandler.ts
  functions/src/webhooks/admin/payment-process/PaymentTaskProcessor.test.ts
  functions/src/webhooks/admin/payment-process/tasks/CreateNewPaymentsTask.ts
  functions/src/webhooks/admin/payment-process/tasks/SendNotificationsTask.ts
  functions/src/webhooks/admin/scripts/SurveyManager.ts
  functions/src/webhooks/stripe/StripeWebhook.ts
  functions/src/webhooks/twilio/TwilioIncomingMessageHandler.ts
  functions/src/webhooks/twilio/TwilioOutgoingMessageHandler.ts
  functions/src/webhooks/website/SurveyLogin.ts
  recipients_app/web/index.html
  shared/src/firebase/admin/FirestoreAdmin.test.ts
  shared/src/firebase/admin/FirestoreAdmin.ts
  shared/src/firebase/admin/StorageAdmin.ts
  shared/src/utils/i18n.ts
  shared/src/utils/stats/ContributionStatsCalculator.test.ts
  shared/src/utils/stats/ContributionStatsCalculator.ts
  shared/src/utils/stats/PaymentStatsCalculator.ts
  shared/src/utils/stats/utils.ts
  shared/src/utils/templates.ts
  shared/tests/firestore.rules.test.ts
  ui/src/components/combobox/Combobox.tsx
  ui/src/components/dropdown/dropdown.tsx
  ui/src/components/select/Select.tsx
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/survey.tsx
  website/src/firebase/admin.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, verena@socialincome.org, mikolaj@socialincome.org, rene@socialincome.org

Deploy preview for PR 471 🛫
  functions-playwright-report/pr-471/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-471/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-471/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-471/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-471/index.html
Owners: none

Deploy preview for PR 471 🛫
  functions-playwright-report/pr-471/index.html
Owners: none

Deploy preview for PR 471 🛫
  pr-preview/pr-471/project.json
Owners: none

Adding specific logos and icon for future newsletter (and website)
  shared/assets/logos/si-icon-100-black.png
  shared/assets/logos/si-icon-100-white.png
  shared/assets/logos/si-icon-100-yellow.png
  shared/assets/logos/si-icon-1633-black.png
  shared/assets/logos/si-icon-1633-white.png
  shared/assets/logos/si-icon-1633-yellow.png
  shared/assets/logos/si-icon-817-black.png
  shared/assets/logos/si-icon-817-white.png
  shared/assets/logos/si-icon-817-yellow.png
  shared/assets/logos/si-icon-yellow-816.png
  shared/assets/logos/si-logo-467-black.png
  shared/assets/logos/si-logo-467-white.png
  shared/assets/logos/si-logo-467-yellow.png
  shared/assets/logos/si-logo-934-black.png
  shared/assets/logos/si-logo-934-white.png
  shared/assets/logos/si-logo-934-yellow.png
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  admin/index.html
  admin/public/index.html
  admin/src/App.tsx
  admin/src/actions/CreateDonationCertificatesAction.tsx
  admin/src/actions/InviteWhatsappAction.tsx
  admin/src/actions/PaymentProcessAction.tsx
  admin/src/collections/shared.ts
  admin/src/collections/surveys/Surveys.tsx
  admin/src/index.tsx
  admin/src/views/PaymentsConfirmationView.tsx
  admin/tests/playwright/admin.spec.ts
  functions/src/cron/ExchangeRateImporter.ts
  functions/src/cron/PostFinanceImporter.ts
  functions/src/onchange/FirestoreAuditor.test.ts
  functions/src/onchange/FirestoreAuditor.ts
  functions/src/webhooks/admin/donation-certificates/DonationCertificateHandler.ts
  functions/src/webhooks/admin/payment-process/PaymentTaskProcessor.test.ts
  functions/src/webhooks/admin/payment-process/tasks/CreateNewPaymentsTask.ts
  functions/src/webhooks/admin/payment-process/tasks/SendNotificationsTask.ts
  functions/src/webhooks/admin/scripts/SurveyManager.ts
  functions/src/webhooks/stripe/StripeWebhook.ts
  functions/src/webhooks/twilio/TwilioIncomingMessageHandler.ts
  functions/src/webhooks/twilio/TwilioOutgoingMessageHandler.ts
  functions/src/webhooks/website/SurveyLogin.ts
  recipients_app/web/index.html
  shared/src/firebase/admin/FirestoreAdmin.test.ts
  shared/src/firebase/admin/FirestoreAdmin.ts
  shared/src/firebase/admin/StorageAdmin.ts
  shared/src/utils/i18n.ts
  shared/src/utils/stats/ContributionStatsCalculator.test.ts
  shared/src/utils/stats/ContributionStatsCalculator.ts
  shared/src/utils/stats/PaymentStatsCalculator.ts
  shared/src/utils/stats/utils.ts
  shared/src/utils/templates.ts
  shared/tests/firestore.rules.test.ts
  ui/src/components/combobox/Combobox.tsx
  ui/src/components/dropdown/dropdown.tsx
  ui/src/components/select/Select.tsx
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/survey.tsx
  website/src/firebase/admin.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, verena@socialincome.org, mikolaj@socialincome.org, rene@socialincome.org

Deploy preview for PR 472 🛫
  functions-playwright-report/pr-472/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-472/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-472/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-472/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-472/index.html
Owners: none

Deploy preview for PR 472 🛫
  functions-playwright-report/pr-472/index.html
Owners: none

Deploy preview for PR 473 🛫
  pr-preview/pr-473/assets/Combobox-2efe91b2.js.map
  pr-preview/pr-473/assets/Select-31516249.js.map
  pr-preview/pr-473/assets/dropdown-d1eff73e.js.map
  pr-preview/pr-473/project.json
Owners: none

update package.json files
  functions/package.json
  shared/package.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 473 🛫
  pr-preview/pr-473/assets/Combobox-2efe91b2.js.map
  pr-preview/pr-473/assets/Select-31516249.js.map
  pr-preview/pr-473/assets/dropdown-d1eff73e.js.map
  pr-preview/pr-473/project.json
Owners: none

fix tests
  admin/src/actions/PaymentProcessAction.tsx
  functions/src/firebase.ts
  functions/src/webhooks/admin/payment-process/index.ts
  functions/src/webhooks/admin/payment-process/tasks/CreatePaymentsTask.test.ts
  functions/src/webhooks/admin/payment-process/tasks/CreatePaymentsTask.ts
  functions/src/webhooks/admin/payment-process/tasks/PaymentCSVTask.test.ts
  functions/src/webhooks/admin/payment-process/tasks/RegistrationCSVTask.test.ts
  functions/src/webhooks/admin/payment-process/tasks/UpdateRecipientsTask.test.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  functions/src/webhooks/admin/payment-process/tasks/CreatePaymentsTask.test.ts
  functions/src/webhooks/admin/payment-process/tasks/CreatePaymentsTask.ts
  functions/src/webhooks/admin/payment-process/tasks/PaymentCSVTask.test.ts
  functions/src/webhooks/admin/payment-process/tasks/RegistrationCSVTask.test.ts
  functions/src/webhooks/admin/payment-process/tasks/UpdateRecipientsTask.test.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 473 🛫
  functions-playwright-report/pr-473/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-473/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-473/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-473/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-473/index.html
Owners: none

Deploying to gh-pages from @ socialincome-san/public@bab4bedd293a8538a3ce0759cebcbc2f679b2f5f 🚀
  assets/Combobox-2efe91b2.js.map
  assets/Select-31516249.js.map
  assets/dropdown-d1eff73e.js.map
  functions-playwright-report/pr-462/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-462/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-462/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-462/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-462/index.html
  functions-playwright-report/pr-463/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-463/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-463/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-463/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-463/index.html
  functions-playwright-report/pr-465/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-465/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-465/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-465/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-465/index.html
  functions-playwright-report/pr-471/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-471/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-471/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-471/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-471/index.html
  functions-playwright-report/pr-472/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-472/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-472/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-472/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-472/index.html
  functions-playwright-report/pr-473/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-473/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-473/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-473/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-473/index.html
  project.json
Owners: none

Deploy preview for PR 462 🛫
  pr-preview/pr-462/assets/Combobox-2efe91b2.js.map
  pr-preview/pr-462/assets/Select-31516249.js.map
  pr-preview/pr-462/assets/dropdown-d1eff73e.js.map
  pr-preview/pr-462/project.json
Owners: none

Deploy preview for PR 462 🛫
  functions-playwright-report/pr-462/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-462/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-462/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-462/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-462/index.html
Owners: none

Deploy preview for PR 471 🛫
  pr-preview/pr-471/project.json
Owners: none

refactor(website): update surveys (#462)
  shared/locales/en/website-survey.json
  shared/locales/kri/website-survey.json
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/questionnaires.ts
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/questions.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 471 🛫
  functions-playwright-report/pr-471/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-471/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-471/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-471/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-471/index.html
Owners: none

Deploy preview for PR 472 🛫
  pr-preview/pr-472/project.json
Owners: none

Deploy preview for PR 472 🛫
  functions-playwright-report/pr-472/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-472/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-472/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-472/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-472/index.html
Owners: none

Deploy preview for PR 472 🛫
  pr-preview/pr-472/project.json
Owners: none

Deploy preview for PR 472 🛫
  functions-playwright-report/pr-472/index.html
Owners: none

Adding specific logos and icon for future newsletter (and website) (#472)
  shared/assets/logos/si-icon-100-black.png
  shared/assets/logos/si-icon-100-white.png
  shared/assets/logos/si-icon-100-yellow.png
  shared/assets/logos/si-icon-1633-black.png
  shared/assets/logos/si-icon-1633-white.png
  shared/assets/logos/si-icon-1633-yellow.png
  shared/assets/logos/si-icon-817-black.png
  shared/assets/logos/si-icon-817-white.png
  shared/assets/logos/si-icon-817-yellow.png
  shared/assets/logos/si-icon-yellow-816.png
  shared/assets/logos/si-logo-467-black.png
  shared/assets/logos/si-logo-467-white.png
  shared/assets/logos/si-logo-467-yellow.png
  shared/assets/logos/si-logo-934-black.png
  shared/assets/logos/si-logo-934-white.png
  shared/assets/logos/si-logo-934-yellow.png
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(website): add linting step to deployment
  .github/workflows/website.yml
  package.json
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/page.tsx
  website/src/hooks/initialize-firebase-client.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(website): add linting step to deployment (#474)
  .github/workflows/website.yml
  package.json
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/page.tsx
  website/src/hooks/initialize-firebase-client.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 471 🛫
  functions-playwright-report/pr-471/index.html
Owners: none

Adding some new html emails and partials to the code. It's still wip.
  shared/templates/email/adjust-contribution.hbs.mjml
  shared/templates/email/partials/from-aurelie-schmiedlin.hbs
  shared/templates/email/showcase-all-elements.mjml
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bugfix(website): escape newline characters before parsing service account json
  .gitignore
  website/src/firebase/admin.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bugfix(website): escape newline characters before parsing service account json
  website/src/firebase/admin.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/firebase/admin.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bugfix(website): escape newline characters before parsing service account json (#475)
  .gitignore
  website/src/firebase/admin.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(general): upgrade npm dependencies
  .github/workflows/actions/init/action.yml
  .github/workflows/website-update-snapshots.yml
  admin/package.json
  functions/package.json
  functions/src/webhooks/stripe/StripeWebhook.test.ts
  package-lock.json
  package.json
  shared/package.json
  website/package.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

update strip api version
  functions/src/webhooks/admin/scripts/index.ts
  functions/src/webhooks/stripe/index.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 476 🛫
  functions-playwright-report/pr-476/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-476/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-476/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-476/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-476/index.html
Owners: none
