Repository socialincome-san/public, changes with the owners that CODEOWNERS names for each.
All owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, verena@socialincome.org, mikolaj@socialincome.org

wip
  .github/workflows/deployment.yml
  functions/.env.sample
  functions/src/config.ts
  functions/src/webhooks/admin/donation-certificates/index.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

wip
  package-lock.json
  ui/package.json
Owners: andras@socialincome.org, michael@socialincome.org

wip
  package-lock.json
  ui/package.json
Owners: andras@socialincome.org, michael@socialincome.org

feature(functions): first payout email function (initial version) (#789)
  .github/workflows/deployment.yml
  functions/.env.sample
  functions/package.json
  functions/src/config.ts
  functions/src/cron/first-payout-email/index.ts
  functions/src/webhooks/admin/donation-certificates/index.ts
  package-lock.json
  shared/src/sendgrid/SendgridMailClient.ts
  ui/package.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

wip
  package-lock.json
  website/package.json
  website/src/app/[lang]/[region]/(website)/me/security/page.tsx
  website/src/app/[lang]/[region]/(website)/me/security/swiss-qr-bill.tsx
  website/src/app/api/swiss-qr-bill/route.ts
  website/src/app/api/user/qr-bill/route.ts
  website/src/hooks/useApi.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

wip
  website/src/app/api/swiss-qr-bill/route.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Styling newsletter banner and cookie banner for the page. Making sure they are not covering each other.
  shared/locales/de/website-common.json
  shared/locales/de/website-newsletter.json
  shared/locales/en/website-common.json
  shared/locales/en/website-newsletter.json
  ui/src/components/card.tsx
  website/src/components/newsletter-popup/newsletter-popup-client.tsx
  website/src/components/tracking/cookie-consent-banner.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Prettified Code!
  ui/src/components/card.tsx
  website/src/components/newsletter-popup/newsletter-popup-client.tsx
  website/src/components/tracking/cookie-consent-banner.tsx
Owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Complete FAQ section
  shared/locales/de/website-home2.json
  ui/src/components/accordion2.tsx
  website/src/app/[lang]/[region]/v2/(home)/(sections)/faq.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Prettified Code!
  ui/src/components/accordion2.tsx
  website/src/app/[lang]/[region]/v2/(home)/(sections)/faq.tsx
Owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Start quotes section
  shared/locales/en/website-home2.json
  website/src/app/[lang]/[region]/v2/(home)/(assets)/avatarImgData.jpg
  website/src/app/[lang]/[region]/v2/(home)/(components)/contributors-people-carousel.tsx
  website/src/app/[lang]/[region]/v2/(home)/(sections)/quotes.tsx
  website/src/app/[lang]/[region]/v2/(home)/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/app/[lang]/[region]/v2/(home)/(components)/contributors-people-carousel.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Correct margin-top for arrow vertical alignment
  website/src/app/[lang]/[region]/v2/(home)/(components)/contributors-people-carousel.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/app/[lang]/[region]/v2/(home)/(components)/contributors-people-carousel.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Added a badge for highlighting the active campaign
  shared/locales/de/website-donate.json
  shared/locales/en/website-donate.json
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/active-campaign.tsx
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/hero.tsx
  website/src/app/[lang]/[region]/(website)/(home)/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  shared/locales/de/website-donate.json
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/active-campaign.tsx
  website/src/app/[lang]/[region]/(website)/(home)/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

wip
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/active-campaign.tsx
  website/src/components/newsletter-popup/newsletter-popup-client.tsx
  website/src/components/tracking/cookie-consent-banner.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

wip
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/hero.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): badge for highlighting active campaign on landing page (#794)
  shared/locales/de/website-donate.json
  shared/locales/en/website-donate.json
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/active-campaign.tsx
  website/src/app/[lang]/[region]/(website)/(home)/page.tsx
  website/src/components/newsletter-popup/newsletter-popup-client.tsx
  website/src/components/tracking/cookie-consent-banner.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

chore(general): update local firebase environment settings
  .firebaserc
  admin/.env.development
  admin/package.json
  functions/.env.sample
  functions/package.json
  package.json
  shared/package.json
  website/.env.development
  website/package.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

chore(general): update local firebase environment settings (#795)
  .firebaserc
  admin/.env.development
  admin/package.json
  functions/.env.sample
  functions/package.json
  package.json
  shared/package.json
  website/.env.development
  website/package.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Typo in campaign FAQ fixed
  shared/locales/en/website-faq.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Adding two simple pages, which says right or wrong (it will be used in future newsletter for interactive quiz questions. The pages will be linked to the tell the right or wrong answer)
  shared/locales/de/website-quiz.json
  shared/locales/en/website-quiz.json
  website/src/app/[lang]/[region]/(website)/(quiz)/right/page.tsx
  website/src/app/[lang]/[region]/(website)/(quiz)/wrong/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  shared/locales/de/website-quiz.json
  shared/locales/en/website-quiz.json
  website/src/app/[lang]/[region]/(website)/(quiz)/right/page.tsx
  website/src/app/[lang]/[region]/(website)/(quiz)/wrong/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Add code for overview section
  .gitignore
  shared/locales/en/website-home2.json
  website/src/app/[lang]/[region]/v2/(home)/(sections)/overview.tsx
  website/src/app/[lang]/[region]/v2/(home)/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

fix margins
  website/src/app/[lang]/[region]/v2/(home)/(sections)/overview.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Rename translation keys
  shared/locales/de/website-home2.json
  shared/locales/en/website-home2.json
  website/src/app/[lang]/[region]/v2/(home)/(sections)/overview.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Add Approach section
  shared/locales/en/website-home2.json
  website/src/app/[lang]/[region]/v2/(home)/(components)/approach-cards.tsx
  website/src/app/[lang]/[region]/v2/(home)/(sections)/approach.tsx
  website/src/app/[lang]/[region]/v2/(home)/(sections)/faq.tsx
  website/src/app/[lang]/[region]/v2/(home)/(sections)/overview.tsx
  website/src/app/[lang]/[region]/v2/(home)/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Remove text-left in faq
  website/src/app/[lang]/[region]/v2/(home)/(sections)/faq.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/app/[lang]/[region]/v2/(home)/(sections)/faq.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Changed all relative links to the new legal pages
  shared/locales/de/website-common.json
  shared/locales/de/website-donate.json
  shared/locales/de/website-privacy.json
  shared/locales/de/website-terms-and-conditions.json
  shared/locales/de/website-terms-of-use.json
  shared/locales/en/website-common.json
  shared/locales/en/website-donate.json
  shared/locales/en/website-terms-and-conditions.json
  shared/locales/en/website-terms-of-use.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Update README.md
  README.md
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

Prettified Code!
  README.md
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

Update README.md (#799)
  README.md
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

bugfix(website): typo (#796)
  shared/locales/en/website-faq.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

fix links
  shared/locales/de/website-common.json
  shared/locales/de/website-donate.json
  shared/locales/de/website-privacy.json
  shared/locales/de/website-terms-and-conditions.json
  shared/locales/de/website-terms-of-use.json
  shared/locales/en/website-common.json
  shared/locales/en/website-donate.json
  shared/locales/en/website-terms-and-conditions.json
  shared/locales/en/website-terms-of-use.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): quiz pages
  shared/locales/de/website-quiz.json
  shared/locales/en/website-quiz.json
  website/src/app/[lang]/[region]/(website)/(quiz)/right/page.tsx
  website/src/app/[lang]/[region]/(website)/(quiz)/wrong/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): redirects legal pages (#798)
  shared/locales/de/website-common.json
  shared/locales/de/website-donate.json
  shared/locales/de/website-privacy.json
  shared/locales/de/website-terms-and-conditions.json
  shared/locales/de/website-terms-of-use.json
  shared/locales/en/website-common.json
  shared/locales/en/website-donate.json
  shared/locales/en/website-terms-and-conditions.json
  shared/locales/en/website-terms-of-use.json
  website/src/app/[lang]/[region]/(website)/privacy/page.tsx
  website/src/app/[lang]/[region]/(website)/terms-and-conditions/page.tsx
  website/src/app/[lang]/[region]/(website)/terms-of-use/page.tsx
  website/src/middleware.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

update styling
  shared/locales/de/website-common.json
  shared/locales/de/website-newsletter.json
  shared/locales/en/website-common.json
  shared/locales/en/website-newsletter.json
  website/src/app/[lang]/[region]/(website)/newsletter/page.tsx
  website/src/app/[lang]/[region]/(website)/newsletter/subscription-info-form.tsx
  website/src/components/footer/footer.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): styling newsletter signup page (#784)
  shared/locales/de/website-common.json
  shared/locales/de/website-newsletter.json
  shared/locales/en/website-common.json
  shared/locales/en/website-newsletter.json
  shared/src/mailchimp/MailchimpAPI.ts
  website/src/app/[lang]/[region]/(website)/newsletter/page.tsx
  website/src/app/[lang]/[region]/(website)/newsletter/subscription-info-form.tsx
  website/src/app/api/newsletter/subscription/route.ts
  website/src/components/footer/footer.tsx
  website/src/components/newsletter-popup/newsletter-popup-client.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/ui/ rene@socialincome.org
.github/workflows/ui.yml rene@socialincome.org

firebase.json andras@socialincome.org michael@socialincome.org
firestore.rules andras@socialincome.org michael@socialincome.org
package.json andras@socialincome.org michael@socialincome.org
storage.rules andras@socialincome.org michael@socialincome.org

admin/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
functions/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
shared/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
recipients_app/ verena@socialincome.org mikolaj@socialincome.org sandino@socialincome.org
website/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org

*.md sandino@socialincome.org andras@socialincome.org michael@socialincome.org
