Repository socialincome-san/public, changes with the owners that CODEOWNERS names for each.
All owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, verena@socialincome.org, mikolaj@socialincome.org

rename
  admin/src/collections/Contributions.tsx
  shared/src/stripe/StripeEventHandler.ts
  shared/src/types/contribution.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(functions): update campaign amount_collected_chf in stripe hook (#714)
  admin/src/collections/Contributions.tsx
  shared/src/stripe/StripeEventHandler.test.ts
  shared/src/stripe/StripeEventHandler.ts
  shared/src/types/contribution.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  shared/src/stripe/StripeEventHandler.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

cleanup
  shared/src/stripe/StripeEventHandler.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): campaign page (#716)
  shared/locales/de/website-donate.json
  shared/locales/en/website-donate.json
  website/src/app/[lang]/[region]/donate/campaign/[campaign]/page.tsx
  website/src/app/[lang]/[region]/donate/one-time/one-time-donation-form.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Adding all language files
  shared/locales/de/website-videos.json
  shared/locales/en/website-videos.json
  website/src/app/[lang]/[region]/(website)/video/explained/page.tsx
  website/src/app/[lang]/[region]/(website)/video/recipients/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(shared): use checkout metadata in stripe hook
  shared/src/stripe/StripeEventHandler.test.ts
  shared/src/stripe/StripeEventHandler.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

update test
  functions/src/webhooks/admin/scripts/index.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(shared): use checkout metadata in stripe hook (#721)
  functions/src/webhooks/admin/scripts/index.ts
  shared/src/stripe/StripeEventHandler.test.ts
  shared/src/stripe/StripeEventHandler.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bugfix(shared): fix campaign reference
  shared/src/stripe/StripeEventHandler.ts
  shared/src/types/contribution.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  shared/src/stripe/StripeEventHandler.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bugfix(shared): fix campaign reference
  shared/src/stripe/StripeEventHandler.test.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bugfix(shared): fix campaign reference (#723)
  shared/src/stripe/StripeEventHandler.test.ts
  shared/src/stripe/StripeEventHandler.ts
  shared/src/types/contribution.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bugfix(shared): fix campaign reference
  shared/src/stripe/StripeEventHandler.test.ts
  shared/src/stripe/StripeEventHandler.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(admin): add functionality to export surveys as tsv files
  admin/src/actions/PaymentProcessAction.tsx
  admin/src/collections/surveys/CSVDownloadAction.tsx
  admin/src/collections/surveys/Surveys.tsx
  shared/src/types/survey.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(admin): add functionality to export surveys as tsv files (#724)
  admin/src/actions/PaymentProcessAction.tsx
  admin/src/collections/surveys/CSVDownloadAction.tsx
  admin/src/collections/surveys/Surveys.tsx
  shared/src/types/survey.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): campaign page
  admin/src/collections/Campaigns.ts
  package-lock.json
  shared/src/stripe/StripeEventHandler.ts
  shared/src/types/campaign.ts
  ui/package.json
  ui/src/components/progress.tsx
  website/src/app/[lang]/[region]/donate/campaign/[campaign]/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Deploy preview for PR 725 🛫
  pr-preview/pr-725/project.json
Owners: none

Adding dedicated video pages with translations
  shared/locales/de/website-videos.json
  shared/locales/en/website-videos.json
  website/src/app/[lang]/[region]/(website)/(video)/explainer-video/page.tsx
  website/src/app/[lang]/[region]/(website)/(video)/money-route-video/page.tsx
  website/src/app/[lang]/[region]/(website)/(video)/testimonial-video/page.tsx
  website/src/app/[lang]/[region]/(website)/video/explained/page.tsx
  website/src/app/[lang]/[region]/(website)/video/recipients/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  shared/locales/de/website-videos.json
  website/src/app/[lang]/[region]/(website)/(video)/explainer-video/page.tsx
  website/src/app/[lang]/[region]/(website)/(video)/money-route-video/page.tsx
  website/src/app/[lang]/[region]/(website)/(video)/testimonial-video/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Changed existing videos so they use the same translations
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/video.tsx
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/flow-of-funds.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/video.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Basic structure for new page
  shared/locales/de/common.json
  shared/locales/de/website-updates.json
  shared/locales/en/common.json
  shared/locales/en/website-updates.json
  website/src/app/[lang]/[region]/(website)/updates/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Add metadata
  website/src/app/[lang]/[region]/(website)/updates/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  shared/locales/de/website-updates.json
  shared/locales/en/website-updates.json
  website/src/app/[lang]/[region]/(website)/updates/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Combine 3 pages
  website/src/app/[lang]/[region]/(website)/legal/page.tsx
  website/src/app/[lang]/[region]/(website)/legal/privacy-section.tsx
  website/src/app/[lang]/[region]/(website)/legal/terms-and-conditions-section.tsx
  website/src/app/[lang]/[region]/(website)/legal/terms-of-use-section.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Add /legal/fundraisers page
  seed/auth_export/accounts.json
  seed/auth_export/config.json
  seed/firebase-export-metadata.json
  seed/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  seed/firestore_export/all_namespaces/all_kinds/output-0
  seed/firestore_export/firestore_export.overall_export_metadata
  seed/storage_export/blobs/26963059-d26d-4a90-9c64-8884109ad5be
  seed/storage_export/blobs/29ad217a-1025-4a74-adef-295bd4cbe559
  seed/storage_export/blobs/e1af5b1c-1696-4aa3-8eaa-b939ce3215e7
  seed/storage_export/buckets.json
  seed/storage_export/metadata/26963059-d26d-4a90-9c64-8884109ad5be.json
  seed/storage_export/metadata/29ad217a-1025-4a74-adef-295bd4cbe559.json
  seed/storage_export/metadata/e1af5b1c-1696-4aa3-8eaa-b939ce3215e7.json
  shared/locales/de/website-fundraisers.json
  shared/locales/de/website-legal.json
  shared/locales/en/website-fundraisers.json
  shared/locales/en/website-legal.json
  website/src/app/[lang]/[region]/(website)/legal/donations/page.tsx
  website/src/app/[lang]/[region]/(website)/legal/fundraisers/page.tsx
  website/src/app/[lang]/[region]/(website)/legal/layout-client.tsx
  website/src/app/[lang]/[region]/(website)/legal/layout.tsx
  website/src/app/[lang]/[region]/(website)/legal/page.tsx
  website/src/app/[lang]/[region]/(website)/legal/privacy/page.tsx
  website/src/app/[lang]/[region]/(website)/legal/site-use/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Revert seed/ folder
  seed/auth_export/accounts.json
  seed/auth_export/config.json
  seed/firebase-export-metadata.json
  seed/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  seed/firestore_export/all_namespaces/all_kinds/output-0
  seed/firestore_export/firestore_export.overall_export_metadata
  seed/storage_export/blobs/26963059-d26d-4a90-9c64-8884109ad5be
  seed/storage_export/blobs/29ad217a-1025-4a74-adef-295bd4cbe559
  seed/storage_export/blobs/e1af5b1c-1696-4aa3-8eaa-b939ce3215e7
  seed/storage_export/buckets.json
  seed/storage_export/metadata/26963059-d26d-4a90-9c64-8884109ad5be.json
  seed/storage_export/metadata/29ad217a-1025-4a74-adef-295bd4cbe559.json
  seed/storage_export/metadata/e1af5b1c-1696-4aa3-8eaa-b939ce3215e7.json
Owners: none

Prettified Code!
  shared/locales/de/website-fundraisers.json
  shared/locales/en/website-fundraisers.json
  shared/locales/en/website-legal.json
  website/src/app/[lang]/[region]/(website)/legal/fundraisers/page.tsx
  website/src/app/[lang]/[region]/(website)/legal/layout-client.tsx
  website/src/app/[lang]/[region]/(website)/legal/layout.tsx
  website/src/app/[lang]/[region]/(website)/legal/privacy/page.tsx
  website/src/app/[lang]/[region]/(website)/legal/site-use/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Some text inputs (especially for the German translation)
  shared/locales/de/website-fundraisers.json
  shared/locales/en/website-fundraisers.json
  shared/locales/en/website-legal.json
  website/src/app/[lang]/[region]/(website)/legal/layout-client.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  shared/locales/en/website-legal.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Added inputs from @renestalder in #707
  README.md
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

Prettified Code!
  README.md
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

Remove extraneous title and add Legal information translations
  shared/locales/de/website-legal.json
  shared/locales/en/website-legal.json
  website/src/app/[lang]/[region]/(website)/legal/layout-client.tsx
  website/src/app/[lang]/[region]/(website)/legal/layout.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

chore: add zed editor config
  .zed/settings.json
Owners: none

Small work around to keep icon the same size
  shared/locales/en/website-legal.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Clean up duplicated translations
  shared/locales/de/website-common.json
  shared/locales/en/website-common.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Standardized all titles on the legal page
  website/src/app/[lang]/[region]/(website)/legal/privacy/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Simplified Translations
  website/src/components/footer/footer.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/components/footer/footer.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/ui/ rene@socialincome.org
.github/workflows/ui.yml rene@socialincome.org

firebase.json andras@socialincome.org michael@socialincome.org
firestore.rules andras@socialincome.org michael@socialincome.org
package.json andras@socialincome.org michael@socialincome.org
storage.rules andras@socialincome.org michael@socialincome.org

admin/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
functions/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
shared/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
recipients_app/ verena@socialincome.org mikolaj@socialincome.org sandino@socialincome.org
website/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org

*.md sandino@socialincome.org andras@socialincome.org michael@socialincome.org
