Repository socialincome-san/public, changes with the owners that CODEOWNERS names for each.
All owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, verena@socialincome.org, mikolaj@socialincome.org

CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/ui/ rene@socialincome.org
.github/workflows/ui.yml rene@socialincome.org

firebase.json andras@socialincome.org michael@socialincome.org
firestore.rules andras@socialincome.org michael@socialincome.org
package.json andras@socialincome.org michael@socialincome.org
storage.rules andras@socialincome.org michael@socialincome.org

admin/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
functions/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
shared/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
recipients_app/ verena@socialincome.org mikolaj@socialincome.org sandino@socialincome.org
website/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org

*.md sandino@socialincome.org andras@socialincome.org michael@socialincome.org

Add more errors
  recipients_app/lib/l10n/app_en.arb
  recipients_app/lib/view/error_localization_helper.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Fix some text styles
  recipients_app/lib/view/widgets/welcome/otp_input_page.dart
  recipients_app/lib/view/widgets/welcome/phone_input_page.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Deploy preview for PR 582 🛫
  pr-preview/pr-582/project.json
Owners: none

Deploy preview for PR 582 🛫
  functions-playwright-report/pr-582/index.html
Owners: none

chore(recipients_app): Enable copy paste for OTP input (#597)
  recipients_app/lib/data/models/phone.dart
  recipients_app/lib/data/models/phone.g.dart
  recipients_app/lib/view/widgets/welcome/otp_input.dart
  recipients_app/lib/view/widgets/welcome/otp_input_field.dart
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

chore(recipients_app): Change 12 months title to generic (#582)
  recipients_app/lib/l10n/app_en.arb
  recipients_app/lib/l10n/app_kri.arb
  recipients_app/lib/view/error_localization_helper.dart
  recipients_app/lib/view/pages/welcome_page.dart
  recipients_app/lib/view/widgets/survey/survey_card_container.dart
  recipients_app/lib/view/widgets/welcome/otp_input_page.dart
  recipients_app/lib/view/widgets/welcome/phone_input_page.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

bugfix(function): small fixes
  admin/package.json
  admin/src/collections/recipients/RecipientsProperties.ts
  functions/src/webhooks/admin/payment-process/tasks/UpdateDatabaseEntriesTask.ts
  functions/src/webhooks/admin/scripts/index.ts
  package-lock.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): initial faq page (#598)
  shared/locales/de/website-common.json
  shared/locales/de/website-faq.json
  shared/locales/en/website-common.json
  shared/locales/en/website-faq.json
  website/src/app/[lang]/[country]/(website)/about-us/section-1.tsx
  website/src/app/[lang]/[country]/(website)/faq/faq-section.tsx
  website/src/app/[lang]/[country]/(website)/faq/page.tsx
  website/src/components/navbar/navbar.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 603 🛫
  functions-playwright-report/pr-603/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-603/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-603/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-603/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-603/index.html
Owners: none

bugfix(function): small fixes
  .github/workflows/functions.yml
Owners: none

bugfix(function): small fixes (#603)
  .github/workflows/functions.yml
  admin/package.json
  admin/src/collections/recipients/RecipientsProperties.ts
  functions/src/webhooks/admin/payment-process/tasks/UpdateDatabaseEntriesTask.ts
  functions/src/webhooks/admin/scripts/index.ts
  package-lock.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploying to gh-pages from @ socialincome-san/public@6115d3d0192d56b99dff126afe0595c62e6fd026 🚀
  functions-playwright-report/pr-563/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-563/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-563/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-563/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-563/index.html
  functions-playwright-report/pr-565/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-565/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-565/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-565/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-565/index.html
  functions-playwright-report/pr-582/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-582/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-582/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-582/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-582/index.html
  functions-playwright-report/pr-597/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-597/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-597/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-597/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-597/index.html
  functions-playwright-report/pr-598/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-598/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-598/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-598/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-598/index.html
  functions-playwright-report/pr-603/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-603/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-603/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-603/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-603/index.html
  project.json
Owners: none

Added missing translation for subtitle in main naviation menu (EN/DE)
  shared/locales/de/website-common.json
  shared/locales/en/website-common.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): add legal pages
  shared/locales/en/website-faq.json
  shared/locales/en/website-privacy.json
  shared/locales/en/website-terms-for-contributions.json
  shared/locales/en/website-terms-of-use.json
  website/src/app/[lang]/[country]/(website)/(home)/section-2.tsx
  website/src/app/[lang]/[country]/(website)/faq/faq-section.tsx
  website/src/app/[lang]/[country]/(website)/faq/page.tsx
  website/src/app/[lang]/[country]/(website)/our-work/(sections)/our-work.tsx
  website/src/app/[lang]/[country]/(website)/privacy/page.tsx
  website/src/app/[lang]/[country]/(website)/terms-for-contributions/page.tsx
  website/src/app/[lang]/[country]/(website)/terms-of-use/page.tsx
  website/src/components/footer/footer.tsx
  website/src/components/prose-accordion.tsx
  website/src/components/vimeo-video.tsx
  website/tailwind.config.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(website): subtitles in navbar (#604)
  shared/locales/de/website-common.json
  shared/locales/en/website-common.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  shared/locales/en/website-privacy.json
  shared/locales/en/website-terms-for-contributions.json
  shared/locales/en/website-terms-of-use.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): add legal pages (#605)
  shared/locales/en/website-faq.json
  shared/locales/en/website-privacy.json
  shared/locales/en/website-terms-for-contributions.json
  shared/locales/en/website-terms-of-use.json
  website/src/app/[lang]/[country]/(website)/(home)/section-2.tsx
  website/src/app/[lang]/[country]/(website)/faq/faq-section.tsx
  website/src/app/[lang]/[country]/(website)/faq/page.tsx
  website/src/app/[lang]/[country]/(website)/our-work/(sections)/our-work.tsx
  website/src/app/[lang]/[country]/(website)/privacy/page.tsx
  website/src/app/[lang]/[country]/(website)/terms-for-contributions/page.tsx
  website/src/app/[lang]/[country]/(website)/terms-of-use/page.tsx
  website/src/components/footer/footer.tsx
  website/src/components/prose-accordion.tsx
  website/src/components/vimeo-video.tsx
  website/tailwind.config.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

German translations for Privacy Policy
  shared/locales/de/website-privacy.json
  website/src/app/[lang]/[country]/(website)/privacy/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Small fix for translations for Privacy Policy
  shared/locales/de/website-privacy.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

DE translations for Terms of Use
  shared/locales/de/website-terms-of-use.json
  shared/locales/en/website-terms-of-use.json
  website/src/app/[lang]/[country]/(website)/terms-of-use/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

DE translations for Terms and Conditions
  shared/locales/de/website-terms-for-contributions.json
  shared/locales/en/website-terms-for-contributions.json
  website/src/app/[lang]/[country]/(website)/terms-for-contributions/page.tsx
  website/src/components/footer/footer.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Small text change
  shared/locales/de/website-terms-and-conditions.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

First draft for placeholder pages during development (one assigned, one unassigned)
  shared/locales/de/website-csr.json
  shared/locales/de/website-impact.json
  shared/locales/en/website-csr.json
  shared/locales/en/website-impact.json
  website/src/app/[lang]/[country]/(website)/csr/page.tsx
  website/src/app/[lang]/[country]/(website)/transparency/impact/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Optimized small things for a normal screen
  website/src/app/[lang]/[country]/(website)/transparency/impact/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Some screen and typography optimizations
  ui/src/components/typography/typography.tsx
  website/src/app/[lang]/[country]/(website)/csr/page.tsx
  website/src/app/[lang]/[country]/(website)/transparency/impact/page.tsx
Owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

moved draw logic into its own folder
  .github/workflows/execute-draw.yml
  recipients_selection/README.md
  recipients_selection/draw.sh
  recipients_selection/draws/10-aurora-2023-10-31.txt
  recipients_selection/draws/2-testlist
  recipients_selection/lists/10-aurora-2023-10-31.txt
  recipients_selection/lists/2-testlist
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

Prettified Code!
  recipients_selection/README.md
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

refactor(recipients-selection): move files and update scripts (#607)
  .github/workflows/execute-draw.yml
  recipients_selection/README.md
  recipients_selection/draw.sh
  recipients_selection/draws/10-aurora-2023-10-31.txt
  recipients_selection/draws/2-testlist
  recipients_selection/lists/10-aurora-2023-10-31.txt
  recipients_selection/lists/2-testlist
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

added a graceful exit when there are no draws to complete
  recipients_selection/draw.sh
Owners: none

added a graceful exit when there are no draws to complete
  recipients_selection/draw.sh
Owners: none

added a graceful exit when there are no draws to complete (#608)
  recipients_selection/draw.sh
Owners: none

changing link to right figma prototype
  website/src/app/[lang]/[country]/(website)/csr/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

changing link to the new github issue and text change
  shared/locales/en/website-impact.json
  website/src/app/[lang]/[country]/(website)/transparency/impact/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

triggered a new recipient draw
  lists/4-aurora-2023-11-08.txt
  lists/aurora-2023-10-31.txt
  lists/testlist
Owners: none

create PR step now continues if there are no changes
  .github/workflows/execute-draw.yml
  lists/4-aurora-2023-11-08.txt
  lists/aurora-2023-10-31.txt
  lists/testlist
Owners: none

create PR step now continues if there are no changes (#611)
  .github/workflows/execute-draw.yml
  lists/4-aurora-2023-11-08.txt
  lists/aurora-2023-10-31.txt
  lists/testlist
Owners: none

triggered a new recipient draw
  recipients_selection/lists/4-aurora-2023-11-08.txt
  recipients_selection/lists/aurora-2023-10-31.txt
  recipients_selection/lists/testlist
Owners: none

removed old draw filename format names
  recipients_selection/lists/aurora-2023-10-31.txt
  recipients_selection/lists/testlist
Owners: none

removed old draw filename format names (#612)
  recipients_selection/lists/aurora-2023-10-31.txt
  recipients_selection/lists/testlist
Owners: none

completed a recipient draw
  recipients_selection/draws/4-aurora-2023-11-08.txt
Owners: none
