Repository socialincome-san/public, changes with the owners that CODEOWNERS names for each.
All owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, verena@socialincome.org, mikolaj@socialincome.org

CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/ui/ rene@socialincome.org
.github/workflows/ui.yml rene@socialincome.org

firebase.json andras@socialincome.org michael@socialincome.org
firestore.rules andras@socialincome.org michael@socialincome.org
package.json andras@socialincome.org michael@socialincome.org
storage.rules andras@socialincome.org michael@socialincome.org

admin/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
functions/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
shared/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
recipients_app/ verena@socialincome.org mikolaj@socialincome.org sandino@socialincome.org
website/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org

*.md sandino@socialincome.org andras@socialincome.org michael@socialincome.org

bugfix(website): fix deopted-into-client-rendering issue
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/layout.tsx
  website/src/components/language-switcher/language-switcher.tsx
  website/src/components/navbar/navbar.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bugfix(website): fix deopted-into-client-rendering issue (#525)
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/layout.tsx
  website/src/components/navbar/navbar.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Integrate isolate-package in functions/
  .gitignore
  firebase.json
  functions/package.json
  functions/src/webhooks/admin/payment-process/index.ts
  isolate.config.json
  package-lock.json
  package.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

updated dart, updated dependencies
  recipients_app/ios/Podfile
  recipients_app/ios/Podfile.lock
  recipients_app/lib/view/pages/survey_page.dart
  recipients_app/pubspec.lock
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

updated survey page
  recipients_app/lib/view/pages/survey_page.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

added golden test setup and balance container golden test
  recipients_app/README.md
  recipients_app/dart_test.yaml
  recipients_app/pubspec.lock
  recipients_app/pubspec.yaml
  recipients_app/test/golden_tests/balance_card_container_golden_test.dart
  recipients_app/test/golden_tests/goldens/ci/balance_card_confirmed.png
  recipients_app/test/golden_tests/goldens/ci/balance_card_confirmed_and_contested.png
  recipients_app/test/golden_tests/goldens/ci/balance_card_confirmed_and_paid.png
  recipients_app/test/golden_tests/goldens/ci/balance_card_confirmed_and_triple_contested.png
  recipients_app/test/golden_tests/goldens/ci/balance_card_confirmed_and_triple_inreview.png
  recipients_app/test/golden_tests/goldens/ci/list_tile.png
  recipients_app/test/golden_tests/goldens/macos/balance_card_confirmed.png
  recipients_app/test/golden_tests/goldens/macos/balance_card_confirmed_and_contested.png
  recipients_app/test/golden_tests/goldens/macos/balance_card_confirmed_and_paid.png
  recipients_app/test/golden_tests/goldens/macos/balance_card_confirmed_and_triple_contested.png
  recipients_app/test/golden_tests/goldens/macos/balance_card_confirmed_and_triple_inreview.png
  recipients_app/test/helpers/device.dart
  recipients_app/test/helpers/flutter_test_config.dart
  recipients_app/test/helpers/golden_test_device_scenario.dart
  recipients_app/test/helpers/pump_app.dart
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org, verena@socialincome.org, mikolaj@socialincome.org

Prettified Code!
  recipients_app/README.md
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

added recipient name and last name and updated at when confirming payment
  recipients_app/lib/core/cubits/payment/payments_cubit.dart
  recipients_app/lib/data/models/payment/social_income_payment.dart
  recipients_app/lib/data/repositories/payment_repository.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

added recipient name and updatedat when contesting a payment
  recipients_app/lib/core/cubits/payment/payments_cubit.dart
  recipients_app/lib/data/repositories/payment_repository.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Initial commit
  website/src/app/[lang]/[country]/(website)/company-search/page.tsx
  website/src/app/api/companies/ch/route.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Basic setup of the i18next
  recipients_app/assets/localizations/en/common.json
  recipients_app/assets/localizations/kri/common.json
  recipients_app/lib/krio_intl.dart
  recipients_app/pubspec.lock
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Basic usage of i18next
  recipients_app/assets/localizations/en/common.json
  recipients_app/assets/localizations/kri/common.json
  recipients_app/lib/my_app.dart
  recipients_app/lib/view/pages/account_page.dart
  recipients_app/lib/view/pages/payment_tile.dart
  recipients_app/lib/view/widgets/survey/survey_card_bottom_action.dart
  recipients_app/lib/view/widgets/welcome/phone_input_page.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

feat(recipient_app): #527: updated dart, updated dependencies (#528)
  recipients_app/ios/Podfile
  recipients_app/ios/Podfile.lock
  recipients_app/lib/view/pages/survey_page.dart
  recipients_app/pubspec.lock
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

changed snackbar to flushbar using a package
  recipients_app/TODO.md
  recipients_app/lib/core/helpers/flushbar_helper.dart
  recipients_app/lib/core/helpers/snackbar_helper.dart
  recipients_app/lib/ui/configs/app_colors.dart
  recipients_app/lib/view/pages/account_page.dart
  recipients_app/lib/view/pages/terms_and_conditions_page.dart
  recipients_app/lib/view/pages/welcome_page.dart
  recipients_app/lib/view/widgets/dialogs/social_income_contact_dialog.dart
  recipients_app/pubspec.lock
  recipients_app/pubspec.yaml
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org, verena@socialincome.org, mikolaj@socialincome.org

quick cleanup
  recipients_app/lib/core/helpers/helpers.dart
  recipients_app/lib/data/models/models.dart
  recipients_app/lib/data/models/payment/payment.dart
  recipients_app/lib/ui/inputs/inputs.dart
  recipients_app/web/favicon.png
  recipients_app/web/icons/Icon-192.png
  recipients_app/web/icons/Icon-512.png
  recipients_app/web/icons/Icon-maskable-192.png
  recipients_app/web/icons/Icon-maskable-512.png
  recipients_app/web/index.html
  recipients_app/web/manifest.json
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

added appcheck to staging and prod
  recipients_app/lib/main.dart
  recipients_app/lib/main_dev.dart
  recipients_app/pubspec.lock
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

updated merge issues
  recipients_app/pubspec.lock
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Write user id instead of name to the updatedBy field
  recipients_app/lib/data/repositories/payment_repository.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

added appcheck to staging and prod (#534)
  recipients_app/lib/main.dart
  recipients_app/lib/main_dev.dart
  recipients_app/pubspec.lock
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

feat(recipient_app): #529 - golden test setup for mobile app (#530)
  recipients_app/README.md
  recipients_app/dart_test.yaml
  recipients_app/lib/view/pages/survey_page.dart
  recipients_app/pubspec.lock
  recipients_app/pubspec.yaml
  recipients_app/test/golden_tests/balance_card_container_golden_test.dart
  recipients_app/test/golden_tests/goldens/ci/balance_card_confirmed.png
  recipients_app/test/golden_tests/goldens/ci/balance_card_confirmed_and_contested.png
  recipients_app/test/golden_tests/goldens/ci/balance_card_confirmed_and_paid.png
  recipients_app/test/golden_tests/goldens/ci/balance_card_confirmed_and_triple_contested.png
  recipients_app/test/golden_tests/goldens/ci/balance_card_confirmed_and_triple_inreview.png
  recipients_app/test/golden_tests/goldens/ci/list_tile.png
  recipients_app/test/golden_tests/goldens/macos/balance_card_confirmed.png
  recipients_app/test/golden_tests/goldens/macos/balance_card_confirmed_and_contested.png
  recipients_app/test/golden_tests/goldens/macos/balance_card_confirmed_and_paid.png
  recipients_app/test/golden_tests/goldens/macos/balance_card_confirmed_and_triple_contested.png
  recipients_app/test/golden_tests/goldens/macos/balance_card_confirmed_and_triple_inreview.png
  recipients_app/test/helpers/device.dart
  recipients_app/test/helpers/flutter_test_config.dart
  recipients_app/test/helpers/golden_test_device_scenario.dart
  recipients_app/test/helpers/pump_app.dart
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org, verena@socialincome.org, mikolaj@socialincome.org

feat(recipient_app): #456 attach recipient info to payment update (#531)
  recipients_app/lib/core/cubits/payment/payments_cubit.dart
  recipients_app/lib/data/models/payment/social_income_payment.dart
  recipients_app/lib/data/repositories/payment_repository.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

added multilanguage support
  recipients_app/README.md
  recipients_app/l10n.yaml
  recipients_app/lib/l10n/app_en.arb
  recipients_app/lib/my_app.dart
  recipients_app/lib/view/pages/account_page.dart
  recipients_app/pubspec.lock
  recipients_app/pubspec.yaml
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org, verena@socialincome.org, mikolaj@socialincome.org

feat(recipient_app): #416 - unified toasts (#533)
  recipients_app/TODO.md
  recipients_app/lib/core/helpers/flushbar_helper.dart
  recipients_app/lib/core/helpers/helpers.dart
  recipients_app/lib/core/helpers/snackbar_helper.dart
  recipients_app/lib/data/models/models.dart
  recipients_app/lib/data/models/payment/payment.dart
  recipients_app/lib/ui/configs/app_colors.dart
  recipients_app/lib/ui/inputs/inputs.dart
  recipients_app/lib/view/pages/account_page.dart
  recipients_app/lib/view/pages/terms_and_conditions_page.dart
  recipients_app/lib/view/pages/welcome_page.dart
  recipients_app/lib/view/widgets/dialogs/social_income_contact_dialog.dart
  recipients_app/pubspec.lock
  recipients_app/pubspec.yaml
  recipients_app/web/favicon.png
  recipients_app/web/icons/Icon-192.png
  recipients_app/web/icons/Icon-512.png
  recipients_app/web/icons/Icon-maskable-192.png
  recipients_app/web/icons/Icon-maskable-512.png
  recipients_app/web/index.html
  recipients_app/web/manifest.json
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org, verena@socialincome.org, mikolaj@socialincome.org

moved all strings to translation file
  recipients_app/lib/l10n/app_en.arb
  recipients_app/lib/view/pages/dashboard_page.dart
  recipients_app/lib/view/pages/main_app_page.dart
  recipients_app/lib/view/pages/payment_tile.dart
  recipients_app/lib/view/pages/payment_tile_bottom_action.dart
  recipients_app/lib/view/pages/payments_page.dart
  recipients_app/lib/view/pages/survey_page.dart
  recipients_app/lib/view/pages/terms_and_conditions_page.dart
  recipients_app/lib/view/widgets/account/organization_info.dart
  recipients_app/lib/view/widgets/dialogs/social_income_contact_dialog.dart
  recipients_app/lib/view/widgets/income/balance_card/balance_card.dart
  recipients_app/lib/view/widgets/income/balance_card/balance_card_bottom_action.dart
  recipients_app/lib/view/widgets/income/balance_card/balance_card_container.dart
  recipients_app/lib/view/widgets/income/balance_card/balance_card_header.dart
  recipients_app/lib/view/widgets/income/balance_card/on_hold_bottom_card.dart
  recipients_app/lib/view/widgets/income/income.dart
  recipients_app/lib/view/widgets/income/review_payment_header.dart
  recipients_app/lib/view/widgets/income/review_payment_modal.dart
  recipients_app/lib/view/widgets/survey/survey_card_bottom_action.dart
  recipients_app/lib/view/widgets/survey/survey_card_container.dart
  recipients_app/lib/view/widgets/welcome/otp_input_page.dart
  recipients_app/lib/view/widgets/welcome/phone_input_page.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

added kri
  recipients_app/lib/core/cubits/settings/settings_cubit.dart
  recipients_app/lib/core/cubits/settings/settings_state.dart
  recipients_app/lib/kri_intl.dart
  recipients_app/lib/l10n/app_en.arb
  recipients_app/lib/l10n/app_kri.arb
  recipients_app/lib/my_app.dart
  recipients_app/lib/view/pages/account_page.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

cleanup
  recipients_app/ios/Runner.xcodeproj/project.pbxproj
  recipients_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  recipients_app/lib/core/cubits/settings/settings_cubit.dart
  recipients_app/lib/core/cubits/settings/settings_state.dart
  recipients_app/lib/l10n/app_en.arb
  recipients_app/pubspec.lock
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Add both krio and en_us symbols and patterns in krio delegate
  recipients_app/lib/kri_intl.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

locale is switched to preferred locale after logging in
  recipients_app/lib/core/cubits/settings/settings_cubit.dart
  recipients_app/lib/l10n/app_en.arb
  recipients_app/lib/l10n/app_kri.arb
  recipients_app/lib/my_app.dart
  recipients_app/lib/view/widgets/income/balance_card/balance_card_header.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Prettified Code!
  recipients_app/README.md
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

Update translation for past payments
  recipients_app/lib/view/pages/payments_page.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Adding env variable for survey base url
  recipients_app/.vscode/launch.json
  recipients_app/lib/core/cubits/survey/survey_cubit.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

feat(recipient_app) - #63 added multilanguage support (#536)
  recipients_app/.vscode/launch.json
  recipients_app/README.md
  recipients_app/ios/Runner.xcodeproj/project.pbxproj
  recipients_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  recipients_app/l10n.yaml
  recipients_app/lib/core/cubits/settings/settings_cubit.dart
  recipients_app/lib/core/cubits/settings/settings_state.dart
  recipients_app/lib/core/cubits/survey/survey_cubit.dart
  recipients_app/lib/core/helpers/helpers.dart
  recipients_app/lib/kri_intl.dart
  recipients_app/lib/l10n/app_en.arb
  recipients_app/lib/l10n/app_kri.arb
  recipients_app/lib/my_app.dart
  recipients_app/lib/ui/inputs/inputs.dart
  recipients_app/lib/view/pages/account_page.dart
  recipients_app/lib/view/pages/dashboard_page.dart
  recipients_app/lib/view/pages/main_app_page.dart
  recipients_app/lib/view/pages/payment_tile.dart
  recipients_app/lib/view/pages/payment_tile_bottom_action.dart
  recipients_app/lib/view/pages/payments_page.dart
  recipients_app/lib/view/pages/survey_page.dart
  recipients_app/lib/view/pages/terms_and_conditions_page.dart
  recipients_app/lib/view/widgets/account/organization_info.dart
  recipients_app/lib/view/widgets/dialogs/social_income_contact_dialog.dart
  recipients_app/lib/view/widgets/income/balance_card/balance_card.dart
  recipients_app/lib/view/widgets/income/balance_card/balance_card_bottom_action.dart
  recipients_app/lib/view/widgets/income/balance_card/balance_card_container.dart
  recipients_app/lib/view/widgets/income/balance_card/balance_card_header.dart
  recipients_app/lib/view/widgets/income/balance_card/on_hold_bottom_card.dart
  recipients_app/lib/view/widgets/income/income.dart
  recipients_app/lib/view/widgets/income/review_payment_header.dart
  recipients_app/lib/view/widgets/income/review_payment_modal.dart
  recipients_app/lib/view/widgets/survey/survey_card_bottom_action.dart
  recipients_app/lib/view/widgets/survey/survey_card_container.dart
  recipients_app/lib/view/widgets/welcome/otp_input_page.dart
  recipients_app/lib/view/widgets/welcome/phone_input_page.dart
  recipients_app/pubspec.lock
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

Unify language property for user selected language, regenerated g files
  recipients_app/lib/core/cubits/settings/settings_cubit.dart
  recipients_app/lib/data/models/payment/social_income_payment.g.dart
  recipients_app/lib/data/models/recipient.dart
  recipients_app/lib/data/models/recipient.g.dart
  recipients_app/lib/view/pages/account_page.dart
  recipients_app/pubspec.lock
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

enabled push notifications for android
  recipients_app/ios/Runner/Runner.entitlements
  recipients_app/lib/core/cubits/settings/settings_cubit.dart
  recipients_app/lib/data/repositories/messaging_repository.dart
  recipients_app/lib/data/repositories/repositories.dart
  recipients_app/lib/main.dart
  recipients_app/lib/main_dev.dart
  recipients_app/lib/my_app.dart
  recipients_app/pubspec.lock
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Unify language property for user selected language, regenerated g files (#537)
  recipients_app/lib/core/cubits/settings/settings_cubit.dart
  recipients_app/lib/data/models/payment/social_income_payment.g.dart
  recipients_app/lib/data/models/recipient.dart
  recipients_app/lib/data/models/recipient.g.dart
  recipients_app/lib/view/pages/account_page.dart
  recipients_app/pubspec.lock
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

added comment
  recipients_app/lib/data/repositories/messaging_repository.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Interaction prototype of company search
  website/src/app/[lang]/[country]/(website)/company-search/companies_registers/zefix.tsx
  website/src/app/[lang]/[country]/(website)/company-search/page.tsx
  website/src/app/[lang]/[country]/(website)/company-search/types.tsx
  website/src/app/api/companies/ch/route.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feat(recipient_app): #61 - enabled push notifications for android (#539)
  recipients_app/ios/Runner/Runner.entitlements
  recipients_app/lib/core/cubits/settings/settings_cubit.dart
  recipients_app/lib/data/repositories/messaging_repository.dart
  recipients_app/lib/data/repositories/repositories.dart
  recipients_app/lib/main.dart
  recipients_app/lib/main_dev.dart
  recipients_app/lib/my_app.dart
  recipients_app/pubspec.lock
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Add basic config before generation
  recipients_app/assets/splash.png
  recipients_app/assets/splashAndroid12.png
  recipients_app/pubspec.lock
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Generate new splash files
  recipients_app/android/app/src/main/AndroidManifest.xml
  recipients_app/android/app/src/main/res/drawable-hdpi/android12splash.png
  recipients_app/android/app/src/main/res/drawable-hdpi/splash.png
  recipients_app/android/app/src/main/res/drawable-mdpi/android12splash.png
  recipients_app/android/app/src/main/res/drawable-mdpi/splash.png
  recipients_app/android/app/src/main/res/drawable-night-hdpi/android12splash.png
  recipients_app/android/app/src/main/res/drawable-night-mdpi/android12splash.png
  recipients_app/android/app/src/main/res/drawable-night-xhdpi/android12splash.png
  recipients_app/android/app/src/main/res/drawable-night-xxhdpi/android12splash.png
  recipients_app/android/app/src/main/res/drawable-night-xxxhdpi/android12splash.png
  recipients_app/android/app/src/main/res/drawable-v21/background.png
  recipients_app/android/app/src/main/res/drawable-v21/launch_background.xml
  recipients_app/android/app/src/main/res/drawable-xhdpi/android12splash.png
  recipients_app/android/app/src/main/res/drawable-xhdpi/splash.png
  recipients_app/android/app/src/main/res/drawable-xxhdpi/android12splash.png
  recipients_app/android/app/src/main/res/drawable-xxhdpi/splash.png
  recipients_app/android/app/src/main/res/drawable-xxxhdpi/android12splash.png
  recipients_app/android/app/src/main/res/drawable-xxxhdpi/splash.png
  recipients_app/android/app/src/main/res/drawable/background.png
  recipients_app/android/app/src/main/res/drawable/launch_background.xml
  recipients_app/android/app/src/main/res/drawable/launch_image.png
  recipients_app/android/app/src/main/res/values-night-v31/styles.xml
  recipients_app/android/app/src/main/res/values-v31/styles.xml
  recipients_app/android/app/src/main/res/values/styles.xml
  recipients_app/ios/Runner/Assets.xcassets/LaunchBackground.imageset/Contents.json
  recipients_app/ios/Runner/Assets.xcassets/LaunchBackground.imageset/background.png
  recipients_app/ios/Runner/Base.lproj/LaunchScreen.storyboard
  recipients_app/ios/Runner/Info.plist
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org
