Repository socialincome-san/public, changes with the owners that CODEOWNERS names for each.
All owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, verena@socialincome.org, mikolaj@socialincome.org

feature(admin): add upcoming surveys view (#483)
  admin/package.json
  admin/src/App.tsx
  admin/src/collections/recipients/Recipients.tsx
  admin/src/collections/recipients/RecipientsProperties.ts
  admin/src/collections/recipients/RecipientsSurveys.tsx
  admin/src/collections/shared.ts
  admin/src/collections/surveys/Surveys.tsx
  admin/src/collections/surveys/SurveysProperties.ts
  admin/src/views/NextSurveysView.tsx
  admin/src/views/PaymentsConfirmationView.tsx
  admin/src/views/ScriptsView.tsx
  functions/src/webhooks/admin/payment-process/tasks/CreatePaymentsTask.test.ts
  functions/src/webhooks/admin/payment-process/tasks/CreatePaymentsTask.ts
  package-lock.json
  seed/auth_export/accounts.json
  seed/firebase-export-metadata.json
  seed/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  seed/firestore_export/all_namespaces/all_kinds/output-0
  seed/firestore_export/firestore_export.overall_export_metadata
  shared/src/types/admin/Survey.ts
  shared/src/utils/date.ts
  shared/src/utils/stats/PaymentStatsCalculator.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bugfix(function): fix imports
  functions/src/webhooks/admin/payment-process/tasks/CreatePaymentsTask.test.ts
  functions/src/webhooks/admin/payment-process/tasks/CreatePaymentsTask.ts
  functions/src/webhooks/admin/payment-process/tasks/UpdateRecipientsTask.test.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bugfix(function): fix imports (#484)
  functions/src/webhooks/admin/payment-process/tasks/CreatePaymentsTask.test.ts
  functions/src/webhooks/admin/payment-process/tasks/CreatePaymentsTask.ts
  functions/src/webhooks/admin/payment-process/tasks/UpdateRecipientsTask.test.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 484 🛫
  functions-playwright-report/pr-484/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-484/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-484/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-484/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-484/index.html
Owners: none

Deploy preview for PR 485 🛫
  functions-playwright-report/pr-485/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-485/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-485/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-485/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-485/index.html
Owners: none

refactor(website): update website (wip)
  admin/src/collections/recipients/Recipients.tsx
  functions/src/webhooks/admin/donation-certificates/DonationCertificateHandler.ts
  functions/src/webhooks/admin/scripts/SurveyManager.ts
  functions/src/webhooks/stripe/StripeWebhook.ts
  shared/locales/de/website-about-us.json
  shared/locales/de/website-common.json
  shared/locales/de/website-our-work.json
  shared/locales/de/website-transparency.json
  shared/locales/en/website-about-us.json
  shared/locales/en/website-common.json
  shared/locales/en/website-our-work.json
  shared/locales/en/website-transparency.json
  shared/src/types/admin/Contribution.ts
  shared/src/types/admin/Recipient.ts
  shared/src/types/admin/Survey.ts
  shared/src/utils/stats/ContributionStatsCalculator.ts
  shared/src/utils/stats/PaymentStatsCalculator.ts
  ui/src/client-components.ts
  ui/src/index.ts
  website/src/app/[lang]/[country]/(website)/(home)/page.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-4.tsx
  website/src/app/[lang]/[country]/(website)/about-us/change.gif
  website/src/app/[lang]/[country]/(website)/about-us/page.tsx
  website/src/app/[lang]/[country]/(website)/about-us/section-1.tsx
  website/src/app/[lang]/[country]/(website)/layout.tsx
  website/src/app/[lang]/[country]/(website)/our-work/page.tsx
  website/src/app/[lang]/[country]/(website)/our-work/phones.gif
  website/src/app/[lang]/[country]/(website)/our-work/section-1.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/contribution-stats.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/page.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/transparency-charts.tsx
  website/src/app/[lang]/[country]/index.ts
  website/src/components/language-switcher/language-switcher-dropdown.tsx
  website/src/components/language-switcher/language-switcher.tsx
  website/src/components/navbar/navbar-wrapper.tsx
  website/src/components/navbar/navbar.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Prettified Code!
  shared/locales/de/website-about-us.json
  shared/locales/de/website-our-work.json
  shared/locales/en/website-about-us.json
  shared/locales/en/website-our-work.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 488 🛫
  functions-playwright-report/pr-488/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-488/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-488/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-488/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-488/index.html
Owners: none

Deploy preview for PR 488 🛫
  functions-playwright-report/pr-488/index.html
Owners: none

fix test
  admin/package.json
  package-lock.json
  shared/src/utils/stats/ContributionStatsCalculator.test.ts
  website/package.json
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/get-stats.ts
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 488 🛫
  functions-playwright-report/pr-488/index.html
Owners: none

bugfix(functions): fix imports
  functions/src/webhooks/admin/scripts/SurveyManager.ts
  functions/src/webhooks/stripe/StripeWebhook.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bugfix(functions): fix imports (#489)
  functions/src/webhooks/admin/scripts/SurveyManager.ts
  functions/src/webhooks/stripe/StripeWebhook.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 489 🛫
  functions-playwright-report/pr-489/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-489/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-489/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-489/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-489/index.html
Owners: none

complete section-5
  shared/locales/en/website-home.json
  ui/src/components/typography/typography.stories.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-5.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Prettified Code!
  ui/src/components/typography/typography.stories.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-5.tsx
Owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 490 🛫
  functions-playwright-report/pr-490/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-490/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-490/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-490/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-490/index.html
Owners: none

Deploy preview for PR 490 🛫
  functions-playwright-report/pr-490/index.html
Owners: none

Deploy preview for PR 490 🛫
  pr-preview/pr-490/project.json
Owners: none

Passing forceResendingToken to make it possible to not wait for timeout after going back to phone input
  recipients_app/lib/core/cubits/signup/signup_cubit.dart
  recipients_app/lib/core/cubits/signup/signup_state.dart
  recipients_app/lib/data/repositories/user_repository.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Use forked version of the intl_phone_number_input
  recipients_app/ios/Podfile.lock
  recipients_app/lib/view/widgets/welcome/phone_input_page.dart
  recipients_app/pubspec.lock
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Add otp code widget
  recipients_app/lib/ui/inputs/input_text.dart
  recipients_app/lib/view/widgets/welcome/otp_input.dart
  recipients_app/lib/view/widgets/welcome/otp_input_field.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Update login flow
  recipients_app/assets/earth_animation.gif
  recipients_app/lib/view/pages/welcome_page.dart
  recipients_app/lib/view/widgets/welcome/otp_input_page.dart
  recipients_app/lib/view/widgets/welcome/phone_input.dart
  recipients_app/lib/view/widgets/welcome/phone_input_page.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Prettified Code!
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Reenable privacy policy page after redesign
  recipients_app/lib/my_app.dart
  recipients_app/lib/view/pages/terms_and_conditions.dart
  recipients_app/lib/view/pages/terms_and_conditions_page.dart
  recipients_app/lib/view/widgets/welcome/otp_input_page.dart
  recipients_app/lib/view/widgets/welcome/phone_input_page.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Log current stats for debugging
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/transparency-charts.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Log current stats for debugging (#493)
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/transparency-charts.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

section-6 website completed
  recipients_app/assets/sdg-logo.svg
  recipients_app/assets/sdgLogo.svg
  shared/assets/logos/sdg-logo.svg
  shared/locales/en/website-home.json
  website/src/app/[lang]/[country]/(website)/(home)/page.tsx
  website/src/app/[lang]/[country]/(website)/(home)/sdgLogo.svg
  website/src/app/[lang]/[country]/(website)/(home)/section-6-card.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-6.tsx
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

Prettified Code!
  shared/locales/en/website-home.json
  website/src/app/[lang]/[country]/(website)/(home)/section-6-card.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-6.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 494 🛫
  functions-playwright-report/pr-494/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-494/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-494/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-494/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-494/index.html
Owners: none

Deploy preview for PR 494 🛫
  functions-playwright-report/pr-494/index.html
Owners: none

Debugging Revalidate
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/get-stats.ts
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/page.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/test.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/transparency-charts.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Debugging Revalidate
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/page.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/test.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/transparency-charts.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/page.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/transparency-charts.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

fixed broken logout, fixed small code stylings
  recipients_app/lib/data/repositories/user_repository.dart
  recipients_app/lib/view/pages/account_page.dart
  recipients_app/lib/view/widgets/welcome/otp_input_page.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Add comment for counter shrink box
  recipients_app/lib/ui/inputs/input_text.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/transparency-charts.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bugfix(website): caching of transparency page (#495)
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/get-stats.ts
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/page.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/transparency-charts.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): initial stripe integration
  .github/workflows/deployment.yml
  functions/package.json
  functions/src/webhooks/admin/scripts/index.ts
  functions/src/webhooks/stripe/index.ts
  package-lock.json
  shared/src/stripe/index.ts
  ui/package.json
  ui/tailwind.config.ts
  website/package.json
  website/src/app/[lang]/[country]/(website)/(home)/section-1-input.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-1.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-2.tsx
  website/src/app/[lang]/[country]/(website)/donate/checkout-form.tsx
  website/src/app/[lang]/[country]/(website)/donate/page.tsx
  website/src/app/[lang]/[country]/(website)/donate/success/page.tsx
  website/src/app/[lang]/[country]/(website)/layout.tsx
  website/src/app/[lang]/[country]/(website)/me/login/page.tsx
  website/src/app/[lang]/[country]/index.ts
  website/src/app/api/stripe/payment-intent/route.ts
  website/src/components/navbar/navbar-wrapper.tsx
  website/src/components/navbar/navbar.tsx
  website/src/components/stripe/payment-intent-fetcher.tsx
  website/src/components/stripe/stripe-context-provider.tsx
  website/src/i18n.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

use NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY env variable
  website/src/components/stripe/payment-intent-fetcher.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/ui/ rene@socialincome.org
.github/workflows/ui.yml rene@socialincome.org

firebase.json andras@socialincome.org michael@socialincome.org
firestore.rules andras@socialincome.org michael@socialincome.org
package.json andras@socialincome.org michael@socialincome.org
storage.rules andras@socialincome.org michael@socialincome.org

admin/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
functions/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
shared/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
recipients_app/ verena@socialincome.org mikolaj@socialincome.org sandino@socialincome.org
website/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org

*.md sandino@socialincome.org andras@socialincome.org michael@socialincome.org
