Repository socialincome-san/public, changes with the owners that CODEOWNERS names for each.
All owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, verena@socialincome.org, mikolaj@socialincome.org

CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/ui/ rene@socialincome.org
.github/workflows/ui.yml rene@socialincome.org

firebase.json andras@socialincome.org michael@socialincome.org
firestore.rules andras@socialincome.org michael@socialincome.org
package.json andras@socialincome.org michael@socialincome.org
storage.rules andras@socialincome.org michael@socialincome.org

admin/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
functions/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
shared/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
recipients_app/ verena@socialincome.org mikolaj@socialincome.org sandino@socialincome.org
website/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org

*.md sandino@socialincome.org andras@socialincome.org michael@socialincome.org

Deploy preview for PR 496 🛫
  functions-playwright-report/pr-496/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-496/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-496/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-496/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-496/index.html
Owners: none

Test website build with local emulator
  .github/workflows/website.yml
Owners: none

feature(website): initial stripe integration (#496)
  .github/workflows/deployment.yml
  .github/workflows/website.yml
  functions/package.json
  functions/src/webhooks/admin/scripts/index.ts
  functions/src/webhooks/stripe/index.ts
  package-lock.json
  shared/src/stripe/index.ts
  ui/package.json
  ui/tailwind.config.ts
  website/package.json
  website/src/app/[lang]/[country]/(website)/(home)/section-1-input.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-1.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-2.tsx
  website/src/app/[lang]/[country]/(website)/donate/checkout-form.tsx
  website/src/app/[lang]/[country]/(website)/donate/page.tsx
  website/src/app/[lang]/[country]/(website)/donate/success/page.tsx
  website/src/app/[lang]/[country]/(website)/layout.tsx
  website/src/app/[lang]/[country]/(website)/me/login/page.tsx
  website/src/app/[lang]/[country]/index.ts
  website/src/app/api/stripe/payment-intent/route.ts
  website/src/components/navbar/navbar-wrapper.tsx
  website/src/components/navbar/navbar.tsx
  website/src/components/stripe/payment-intent-fetcher.tsx
  website/src/components/stripe/stripe-context-provider.tsx
  website/src/i18n.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Update the logo on the website
  website/src/components/logos/si-logo.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(general): fix gh actions for prs from forked repositories
  .github/workflows/prettify-pr.yml
  .github/workflows/website.yml
Owners: none

refactor(general): fix gh actions for prs from forked repositories (#499)
  .github/workflows/prettify-pr.yml
  .github/workflows/website.yml
Owners: none

Remove id attribute from svg in si-logo.tsx
  website/src/components/logos/si-logo.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Update the logo on the website (#498)
  website/src/components/logos/si-logo.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Update README.md
  README.md
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

Prettified Code!
  README.md
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

website section-6 correction made.
  recipients_app/assets/sdg-logo.svg
  recipients_app/assets/sdgLogo.svg
  shared/assets/logos/sdg-logo.svg
  website/src/app/[lang]/[country]/(website)/(home)/section-6-card.tsx
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

Prettified Code!
  website/src/app/[lang]/[country]/(website)/(home)/section-6-card.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): integrate stripe checkout
  functions/package.json
  functions/src/firebase.ts
  functions/src/webhooks/admin/scripts/index.ts
  functions/src/webhooks/stripe/StripeWebhook.ts
  functions/src/webhooks/stripe/index.ts
  package-lock.json
  shared/.env.sample
  shared/package.json
  shared/src/firebase/admin/app.ts
  shared/src/stripe/StripeEventHandler.ts
  shared/src/stripe/StripeWebhookHandler.test.ts
  shared/src/types/admin/User.ts
  website/.env.development
  website/src/app/[lang]/[country]/(website)/(home)/section-2.tsx
  website/src/app/[lang]/[country]/(website)/donate/checkout-form.tsx
  website/src/app/[lang]/[country]/(website)/donate/page.tsx
  website/src/app/[lang]/[country]/(website)/donate/success/create-user-form.tsx
  website/src/app/[lang]/[country]/(website)/donate/success/link-google-form.tsx
  website/src/app/[lang]/[country]/(website)/donate/success/page.tsx
  website/src/app/[lang]/[country]/(website)/me/login/page.tsx
  website/src/app/[lang]/[country]/(website)/me/page.tsx
  website/src/app/api/stripe/checkout/new/route.ts
  website/src/app/api/stripe/checkout/success/route.ts
  website/src/app/api/stripe/payment-intent/route.ts
  website/src/components/navbar/navbar.tsx
  website/src/components/stripe/payment-intent-fetcher.tsx
  website/src/components/stripe/stripe-context-provider.tsx
  website/src/firebase.ts
  website/src/firebase/client.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 494 🛫
  functions-playwright-report/pr-494/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-494/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-494/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-494/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-494/index.html
Owners: none

Deploy preview for PR 494 🛫
  pr-preview/pr-494/project.json
Owners: none

update placesholders
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/page.tsx
  website/src/app/[lang]/[country]/(website)/donate/page.tsx
  website/src/app/[lang]/[country]/(website)/donate/success/create-user-form.tsx
  website/src/app/[lang]/[country]/(website)/me/login/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 494 🛫
  functions-playwright-report/pr-494/index.html
Owners: none

fix import
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/survey.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 501 🛫
  functions-playwright-report/pr-501/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-501/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-501/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-501/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-501/index.html
Owners: none

Deploy preview for PR 501 🛫
  functions-playwright-report/pr-501/index.html
Owners: none

Deploy preview for PR 501 🛫
  functions-playwright-report/pr-501/index.html
Owners: none

feature(website): integrate stripe checkout (#501)
  functions/package.json
  functions/src/firebase.ts
  functions/src/webhooks/admin/scripts/index.ts
  functions/src/webhooks/stripe/StripeWebhook.ts
  functions/src/webhooks/stripe/index.ts
  package-lock.json
  shared/.env.sample
  shared/package.json
  shared/src/firebase/admin/app.ts
  shared/src/stripe/StripeEventHandler.ts
  shared/src/stripe/StripeWebhookHandler.test.ts
  shared/src/types/admin/User.ts
  website/.env.development
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/page.tsx
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/survey.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-2.tsx
  website/src/app/[lang]/[country]/(website)/donate/checkout-form.tsx
  website/src/app/[lang]/[country]/(website)/donate/page.tsx
  website/src/app/[lang]/[country]/(website)/donate/success/create-user-form.tsx
  website/src/app/[lang]/[country]/(website)/donate/success/link-google-form.tsx
  website/src/app/[lang]/[country]/(website)/donate/success/page.tsx
  website/src/app/[lang]/[country]/(website)/me/login/page.tsx
  website/src/app/[lang]/[country]/(website)/me/page.tsx
  website/src/app/api/stripe/checkout/new/route.ts
  website/src/app/api/stripe/checkout/success/route.ts
  website/src/app/api/stripe/payment-intent/route.ts
  website/src/components/navbar/navbar.tsx
  website/src/components/stripe/payment-intent-fetcher.tsx
  website/src/components/stripe/stripe-context-provider.tsx
  website/src/firebase.ts
  website/src/firebase/client.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 494 🛫
  functions-playwright-report/pr-494/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-494/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-494/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-494/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-494/index.html
Owners: none

Fixed some small typos and links
  README.md
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

Prettified Code!
  README.md
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

Update README.md (#500)
  README.md
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

Deploy preview for PR 500 🛫
  functions-playwright-report/pr-500/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-500/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-500/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-500/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-500/index.html
Owners: none

Fixed a typo that led to a missing translation in the survey tool
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/questions.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(website): fixed typo for translation in survey tool (#505)
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/questions.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

favicon changed
  website/public/favicon.ico
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

cleanup
  recipients_app/assets/sdgLogo.svg
  shared/assets/logos/sdg-logo.svg
  shared/locales/en/website-home.json
  website/src/app/[lang]/[country]/(website)/(home)/sdg-logo.svg
  website/src/app/[lang]/[country]/(website)/(home)/sdgLogo.svg
  website/src/app/[lang]/[country]/(website)/(home)/section-6-card.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-6.tsx
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

Deploy preview for PR 494 🛫
  functions-playwright-report/pr-494/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-494/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-494/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-494/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-494/index.html
Owners: none

feature(website) section-6 on home page completed (#494)
  shared/locales/en/website-home.json
  website/src/app/[lang]/[country]/(website)/(home)/page.tsx
  website/src/app/[lang]/[country]/(website)/(home)/sdg-logo.svg
  website/src/app/[lang]/[country]/(website)/(home)/section-6-card.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-6.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bugfix(functions): fix wrong import
  functions/src/webhooks/stripe/index.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 509 🛫
  functions-playwright-report/pr-509/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-509/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-509/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-509/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-509/index.html
Owners: none

bugfix(functions): fix broken imports
  functions/package.json
  package-lock.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bugfix(functions): fix wrong import (#509)
  functions/package.json
  functions/src/webhooks/stripe/index.ts
  package-lock.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 509 🛫
  functions-playwright-report/pr-509/index.html
Owners: none

Deploying to gh-pages from @ socialincome-san/public@eecdc0a8c90578c812cf9c4e1487b23ff9445f39 🚀
  functions-playwright-report/pr-494/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-494/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-494/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-494/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-494/index.html
  functions-playwright-report/pr-509/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-509/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-509/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-509/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-509/index.html
  project.json
Owners: none

bugfix(functions): use .env file for functions deployment
  .github/workflows/deployment.yml
Owners: none
