Repository socialincome-san/public, changes with the owners that CODEOWNERS names for each.
All owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, verena@socialincome.org, mikolaj@socialincome.org

bugfix(functions): use .env file for functions deployment (#511)
  .github/workflows/deployment.yml
Owners: none

favicon changed (#508)
  website/public/favicon.ico
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(function): process recipients in parallel in CreatePaymentsTask
  functions/src/webhooks/admin/payment-process/tasks/CreatePaymentsTask.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(function): process recipients in parallel in CreatePaymentsTask (#513)
  functions/src/webhooks/admin/payment-process/tasks/CreatePaymentsTask.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 513 🛫
  functions-playwright-report/pr-513/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-513/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-513/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-513/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-513/index.html
Owners: none

Deploy preview for PR 512 🛫
  functions-playwright-report/pr-512/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-512/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-512/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-512/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-512/index.html
Owners: none

Deploying to gh-pages from @ socialincome-san/public@68258ed0f92fb481ef63e86e53851a4fdd2e5628 🚀
  functions-playwright-report/pr-513/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-513/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-513/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-513/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-513/index.html
  project.json
Owners: none

Small text changes to streamline templates
  .github/ISSUE_TEMPLATE/admin_tool_bug_issue_template.yml
  .github/ISSUE_TEMPLATE/mobile_app_bug_issue_template.yml
  .github/ISSUE_TEMPLATE/website_bug_issue_template.yml
  .github/ISSUE_TEMPLATE/website_feature_request_template.yml
Owners: none

Prettified Code!
  functions/package.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 515 🛫
  functions-playwright-report/pr-515/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-515/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-515/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-515/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-515/index.html
Owners: none

refactor(general): cleanups and preparations for coding weekend
  admin/package.json
  admin/src/App.tsx
  admin/src/collections/ContributorOrganisations.ts
  admin/src/collections/NewsletterSubscribers.ts
  functions/package.json
  package-lock.json
  seed/auth_export/accounts.json
  seed/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  seed/firestore_export/all_namespaces/all_kinds/output-0
  seed/firestore_export/firestore_export.overall_export_metadata
  shared/package.json
  shared/src/stripe/StripeWebhookHandler.test.ts
  shared/src/types/admin/ContributorOrganisation.ts
  shared/src/types/admin/NewsletterSubscriber.ts
  shared/src/types/index.ts
  shared/tests/firestore.rules.test.ts
  ui/README.md
  ui/package.json
  website/.env.production
  website/README.md
  website/package.json
  website/src/app/[lang]/[country]/(website)/layout.tsx
  website/src/app/[lang]/[country]/(website)/me/page.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/charts/page.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/charts/transparency-charts.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/contribution-stats.ts
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/payment-stats.ts
  website/src/components/footer/footer.tsx
  website/src/components/navbar/navbar-wrapper.tsx
  website/src/components/navbar/navbar.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

rename file
  website/.env.development
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 519 🛫
  functions-playwright-report/pr-519/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-519/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-519/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-519/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-519/index.html
Owners: none

Deploy preview for PR 519 🛫
  functions-playwright-report/pr-519/index.html
Owners: none

remove broken import
  admin/src/collections/Users.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(general): cleanups and preparations for coding weekend (#519)
  admin/package.json
  admin/src/App.tsx
  admin/src/collections/ContributorOrganisations.ts
  admin/src/collections/NewsletterSubscribers.ts
  admin/src/collections/Users.tsx
  functions/package.json
  package-lock.json
  seed/auth_export/accounts.json
  seed/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  seed/firestore_export/all_namespaces/all_kinds/output-0
  seed/firestore_export/firestore_export.overall_export_metadata
  shared/package.json
  shared/src/stripe/StripeWebhookHandler.test.ts
  shared/src/types/admin/ContributorOrganisation.ts
  shared/src/types/admin/NewsletterSubscriber.ts
  shared/src/types/index.ts
  shared/tests/firestore.rules.test.ts
  ui/README.md
  ui/package.json
  website/.env.development
  website/README.md
  website/package.json
  website/src/app/[lang]/[country]/(website)/layout.tsx
  website/src/app/[lang]/[country]/(website)/me/page.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/charts/page.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/charts/transparency-charts.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/contribution-stats.ts
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/payment-stats.ts
  website/src/components/footer/footer.tsx
  website/src/components/navbar/navbar-wrapper.tsx
  website/src/components/navbar/navbar.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Update README.md
  README.md
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

Prettified Code!
  README.md
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

Update dev files for local emulators based on real staging project
  recipients_app/android/app/src/dev/google-services.json
  recipients_app/ios/GoogleServicesConfig/GoogleService-Info-Dev.plist
  recipients_app/ios/Runner/Info.plist
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Prettified Code!
  recipients_app/android/app/src/dev/google-services.json
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

chore(recipient_app): Update dev files for local emulators based on real staging project (#521)
  recipients_app/android/app/src/dev/google-services.json
  recipients_app/ios/GoogleServicesConfig/GoogleService-Info-Dev.plist
  recipients_app/ios/Runner/Info.plist
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Fixes missing whitespace for upcoming surveys and payments confirmation views
  admin/src/views/NextSurveysView.tsx
  admin/src/views/PaymentsConfirmationView.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Fixes missing whitespace for upcoming surveys and payments confirmation views (#523)
  admin/src/views/NextSurveysView.tsx
  admin/src/views/PaymentsConfirmationView.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 471 🛫
  functions-playwright-report/pr-471/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-471/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-471/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-471/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-471/index.html
Owners: none

added github action for drawing recipients when the lists dir is updated (#471)
  .github/workflows/execute-draw.yml
Owners: none

refactor(general): update README.md (#520)
  README.md
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

Deploy preview for PR 515 🛫
  functions-playwright-report/pr-515/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-515/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-515/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-515/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-515/index.html
Owners: none

chore(general): update issue templates (#515)
  .github/ISSUE_TEMPLATE/admin_tool_bug_issue_template.yml
  .github/ISSUE_TEMPLATE/mobile_app_bug_issue_template.yml
  .github/ISSUE_TEMPLATE/website_bug_issue_template.yml
  .github/ISSUE_TEMPLATE/website_feature_request_template.yml
Owners: none

refactor(website): update navbar & login page, create translator & user hooks
  shared/locales/de/website-me.json
  shared/locales/en/website-me.json
  ui/src/components/containers/base-container.tsx
  ui/src/components/typography/typography.tsx
  ui/tailwind.config.ts
  website/package.json
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/survey.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-2.tsx
  website/src/app/[lang]/[country]/(website)/donate/success/page.tsx
  website/src/app/[lang]/[country]/(website)/me/login/page.tsx
  website/src/app/[lang]/[country]/(website)/me/login/password-reset/page.tsx
  website/src/app/[lang]/[country]/(website)/me/page.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/charts/transparency-charts.tsx
  website/src/app/layout.tsx
  website/src/components/language-switcher/language-switcher-dropdown.tsx
  website/src/components/language-switcher/language-switcher.tsx
  website/src/components/navbar/navbar-wrapper.tsx
  website/src/components/navbar/navbar.tsx
  website/src/hooks/initialize-firebase-client.ts
  website/src/hooks/useAuthUser.ts
  website/src/hooks/useTranslator.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Prettified Code!
  shared/locales/de/website-me.json
  shared/locales/en/website-me.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 524 🛫
  functions-playwright-report/pr-524/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-524/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-524/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-524/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-524/index.html
Owners: none

fix
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/survey.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 524 🛫
  pr-preview/pr-524/project.json
Owners: none

fix linting issue
  website/src/components/footer/footer.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 524 🛫
  functions-playwright-report/pr-524/index.html
Owners: none

Deploy preview for PR 524 🛫
  functions-playwright-report/pr-524/index.html
Owners: none

small bugfix
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/charts/transparency-charts.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 524 🛫
  functions-playwright-report/pr-524/index.html
Owners: none

refactor(website): update navbar & login page, create translator & user hooks (#524)
  shared/locales/de/website-me.json
  shared/locales/en/website-me.json
  ui/src/components/containers/base-container.tsx
  ui/src/components/typography/typography.tsx
  ui/tailwind.config.ts
  website/package.json
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/survey.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-2.tsx
  website/src/app/[lang]/[country]/(website)/donate/success/page.tsx
  website/src/app/[lang]/[country]/(website)/me/login/page.tsx
  website/src/app/[lang]/[country]/(website)/me/login/password-reset/page.tsx
  website/src/app/[lang]/[country]/(website)/me/page.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/charts/transparency-charts.tsx
  website/src/app/layout.tsx
  website/src/components/footer/footer.tsx
  website/src/components/language-switcher/language-switcher-dropdown.tsx
  website/src/components/language-switcher/language-switcher.tsx
  website/src/components/navbar/navbar-wrapper.tsx
  website/src/components/navbar/navbar.tsx
  website/src/hooks/initialize-firebase-client.ts
  website/src/hooks/useAuthUser.ts
  website/src/hooks/useTranslator.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

bugfix(website): fix deopted-into-client-rendering issue
  website/src/components/language-switcher/language-switcher.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/ui/ rene@socialincome.org
.github/workflows/ui.yml rene@socialincome.org

firebase.json andras@socialincome.org michael@socialincome.org
firestore.rules andras@socialincome.org michael@socialincome.org
package.json andras@socialincome.org michael@socialincome.org
storage.rules andras@socialincome.org michael@socialincome.org

admin/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
functions/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
shared/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
recipients_app/ verena@socialincome.org mikolaj@socialincome.org sandino@socialincome.org
website/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org

*.md sandino@socialincome.org andras@socialincome.org michael@socialincome.org
