Repository socialincome-san/public, changes with the owners that CODEOWNERS names for each.
All owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, verena@socialincome.org, mikolaj@socialincome.org

Prettified Code!
  shared/locales/en/website-evidence.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(website): separate stripe product for one-time donation
  website/src/app/api/stripe/checkout/new-payment/route.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(website): separate stripe product for one-time donation (#627)
  website/src/app/api/stripe/checkout/new-payment/route.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Fix problem with null pointer in payments list
  recipients_app/lib/data/repositories/user_repository.dart
  recipients_app/lib/view/pages/payments_page.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Add empty payments list string
  recipients_app/lib/l10n/app_en.arb
  recipients_app/lib/l10n/app_kri.arb
  recipients_app/lib/view/pages/payments_page.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

refactor(website): update donation payment flow
  shared/locales/de/website-donate.json
  shared/locales/de/website-me.json
  shared/locales/en/website-donate.json
  shared/locales/en/website-me.json
  shared/src/firebase/client/init.ts
  shared/src/utils/messaging/email.ts
  shared/src/utils/messaging/whatsapp.ts
  shared/src/utils/templates.ts
  ui/CONTRIBUTING.md
  ui/src/components/button.tsx
  ui/src/components/carousel.tsx
  ui/src/components/form.tsx
  ui/src/components/typography/typography.tsx
  ui/src/globals.css
  ui/src/interfaces/color.ts
  website/src/app/[lang]/[region]/(website)/(home)/section-1-form.tsx
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/team.tsx
  website/src/app/[lang]/[region]/(website)/me/payments/page.tsx
  website/src/app/[lang]/[region]/(website)/me/personal-info/page.tsx
  website/src/app/[lang]/[region]/(website)/me/user-context-provider.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/charts/transparency-charts.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/info-card.tsx
  website/src/app/[lang]/[region]/donate/individual/donation-form.tsx
  website/src/app/[lang]/[region]/donate/individual/page.tsx
  website/src/app/[lang]/[region]/donate/one-time/page.tsx
  website/src/app/api/stripe/checkout/new-payment/route.ts
  website/src/components/footer/footer.tsx
  website/src/components/i18n-dialog.tsx
  website/src/components/navbar/navbar-client.tsx
  website/src/components/ui/book.tsx
  website/src/i18n.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Prettified Code!
  shared/src/firebase/client/init.ts
  shared/src/utils/messaging/email.ts
  shared/src/utils/messaging/whatsapp.ts
  shared/src/utils/templates.ts
  ui/CONTRIBUTING.md
  ui/src/components/carousel.tsx
  ui/src/components/form.tsx
  ui/src/components/typography/typography.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/charts/transparency-charts.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/info-card.tsx
  website/src/components/i18n-dialog.tsx
  website/src/components/navbar/navbar-client.tsx
  website/src/components/ui/book.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Deploy preview for PR 630 🛫
  pr-preview/pr-630/assets/typography-108fd55e.js.map
  pr-preview/pr-630/assets/typography.stories-3057f40f.js.map
  pr-preview/pr-630/project.json
Owners: none

linting issues
  ui/src/components/typography/typography.tsx
  website/src/app/[lang]/[region]/donate/individual/donation-form.tsx
Owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  ui/src/components/typography/typography.tsx
Owners: rene@socialincome.org

refactor(website): update donation payment flow (#630)
  shared/locales/de/website-donate.json
  shared/locales/de/website-me.json
  shared/locales/en/website-donate.json
  shared/locales/en/website-me.json
  ui/src/components/button.tsx
  ui/src/components/typography/typography.tsx
  ui/src/globals.css
  ui/src/interfaces/color.ts
  website/src/app/[lang]/[region]/(website)/(home)/section-1-form.tsx
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/team.tsx
  website/src/app/[lang]/[region]/(website)/me/payments/page.tsx
  website/src/app/[lang]/[region]/(website)/me/personal-info/page.tsx
  website/src/app/[lang]/[region]/(website)/me/user-context-provider.tsx
  website/src/app/[lang]/[region]/donate/individual/donation-form.tsx
  website/src/app/[lang]/[region]/donate/individual/page.tsx
  website/src/app/[lang]/[region]/donate/one-time/page.tsx
  website/src/app/api/stripe/checkout/new-payment/route.ts
  website/src/components/footer/footer.tsx
  website/src/i18n.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Deploy preview for PR 630 🛫
  pr-preview/pr-630/assets/typography-1bc445e8.js.map
  pr-preview/pr-630/project.json
Owners: none

chore(recipients-app): Fix grey empty payments (#628)
  recipients_app/lib/data/repositories/user_repository.dart
  recipients_app/lib/l10n/app_en.arb
  recipients_app/lib/l10n/app_kri.arb
  recipients_app/lib/view/pages/payments_page.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Prettified Code!
  shared/locales/en/website-about-us.json
  shared/src/firebase/client/init.ts
  shared/src/utils/messaging/email.ts
  shared/src/utils/messaging/whatsapp.ts
  shared/src/utils/templates.ts
  ui/CONTRIBUTING.md
  ui/src/components/carousel.tsx
  ui/src/components/form.tsx
  ui/src/components/typography/typography.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/charts/transparency-charts.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/info-card.tsx
  website/src/components/i18n-dialog.tsx
  website/src/components/navbar/navbar-client.tsx
  website/src/components/ui/book.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Deploy preview for PR 631 🛫
  pr-preview/pr-631/assets/typography-1bc445e8.js.map
  pr-preview/pr-631/assets/typography.stories-ca6b5446.js.map
  pr-preview/pr-631/project.json
Owners: none

feature(website): finish about us page (#631)
  shared/locales/de/website-about-us.json
  shared/locales/de/website-home.json
  shared/locales/de/website-team.json
  shared/locales/en/website-about-us.json
  shared/locales/en/website-home.json
  shared/locales/en/website-team.json
  shared/src/utils/i18n.ts
  website/src/app/[lang]/[region]/(website)/(home)/(assets)/helping-others.gif
  website/src/app/[lang]/[region]/(website)/(home)/(assets)/jackpot.gif
  website/src/app/[lang]/[region]/(website)/(home)/(assets)/together.gif
  website/src/app/[lang]/[region]/(website)/(home)/page.tsx
  website/src/app/[lang]/[region]/(website)/(home)/section-1-form.tsx
  website/src/app/[lang]/[region]/(website)/(home)/section-1.tsx
  website/src/app/[lang]/[region]/(website)/(home)/section-2.tsx
  website/src/app/[lang]/[region]/(website)/(home)/section-3.tsx
  website/src/app/[lang]/[region]/(website)/(home)/section-4.tsx
  website/src/app/[lang]/[region]/(website)/(home)/section-5-card.tsx
  website/src/app/[lang]/[region]/(website)/(home)/section-5.tsx
  website/src/app/[lang]/[region]/(website)/(home)/section-6.tsx
  website/src/app/[lang]/[region]/(website)/(home)/section-7.tsx
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/100-percent-model.tsx
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/contact.tsx
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/flow-of-funds.tsx
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/landing-page.tsx
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/our-mission.tsx
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/section-1.tsx
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/team.tsx
  website/src/app/[lang]/[region]/(website)/about-us/page.tsx
  website/src/app/[lang]/[region]/(website)/our-work/(sections)/contributors.tsx
  website/src/app/[lang]/[region]/(website)/our-work/(sections)/how-it-works.tsx
  website/src/app/[lang]/[region]/(website)/our-work/(sections)/our-work.tsx
  website/src/app/[lang]/[region]/(website)/our-work/(sections)/recipients.tsx
  website/src/app/[lang]/[region]/(website)/our-work/(sections)/whats-next.tsx
  website/src/components/footer/footer.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

simplify html
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/contact.tsx
  website/src/app/[lang]/[region]/(website)/csr/anthony.jpg
  website/src/app/[lang]/[region]/(website)/csr/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): csr placeholder page (#621)
  shared/locales/de/website-csr.json
  shared/locales/en/website-csr.json
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/contact.tsx
  website/src/app/[lang]/[region]/(website)/csr/anthony.jpg
  website/src/app/[lang]/[region]/(website)/csr/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Refurbish website-evidence-page section-2, section-3 and section-4
  shared/locales/en/website-evidence.json
  website/src/app/[lang]/[region]/(website)/evidence/section-2.tsx
  website/src/app/[lang]/[region]/(website)/evidence/section-3.tsx
  website/src/app/[lang]/[region]/(website)/evidence/section-4.tsx
  website/src/app/[lang]/[region]/(website)/evidence/section-card.tsx
  website/src/app/[lang]/[region]/(website)/evidence/section-paragraph.tsx
  website/src/app/[lang]/[region]/(website)/example/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

typing/cleanup
  shared/src/utils/i18n.ts
  website/src/app/[lang]/[region]/(website)/evidence/section-2.tsx
  website/src/app/[lang]/[region]/(website)/evidence/section-3.tsx
  website/src/app/[lang]/[region]/(website)/evidence/section-4.tsx
  website/src/app/[lang]/[region]/(website)/evidence/section-card.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Added information for error handling for better guidance.
  README.md
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

Prettified Code!
  README.md
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

website(refactor): revisit transparency page
  shared/locales/de/website-transparency.json
  shared/locales/en/website-transparency.json
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/info-card.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/page.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/section-1.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/section-2.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/section-3-cards.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/section-3.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/section-4.tsx
  website/src/components/footer/footer.tsx
  website/src/components/navbar/navbar-client.tsx
  website/src/components/navbar/navbar.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(general): update readme (#633)
  README.md
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

Prettified Code!
  shared/locales/de/website-transparency.json
  shared/locales/en/website-transparency.json
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/info-card.tsx
  website/src/components/navbar/navbar-client.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

WiP
  shared/src/utils/stats/ContributionStatsCalculator.ts
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/section-4.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

WiP
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/section-4.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

website(refactor): revisit transparency page (#634)
  shared/locales/de/website-transparency.json
  shared/locales/en/website-transparency.json
  shared/src/utils/stats/ContributionStatsCalculator.ts
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/info-card.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/page.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/section-1.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/section-2.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/section-3-cards.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/section-3.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/section-4.tsx
  website/src/components/footer/footer.tsx
  website/src/components/navbar/navbar-client.tsx
  website/src/components/navbar/navbar.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bugfix(website): formatting
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/section-4.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bugfix(website): formatting (#635)
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/section-4.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Refined NavBar: Adjusted Logo Sizes and Optimized Whitespace & Text for Mobile/Web Views
  website/src/components/navbar/navbar-client.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Refined NavBar: Adjusted Logo Sizes and Optimized Whitespace & Text for Mobile/Web Views
  website/src/components/logos/si-icon.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Add German translations of website-evidence page
  shared/locales/de/website-evidence.json
  website/src/app/[lang]/[region]/(website)/evidence/section-3.tsx
  website/src/app/[lang]/[region]/(website)/evidence/section-4.tsx
  website/src/app/[lang]/[region]/(website)/example/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/app/[lang]/[region]/(website)/evidence/section-3.tsx
  website/src/app/[lang]/[region]/(website)/evidence/section-4.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/components/logos/si-icon.tsx
  website/src/components/navbar/navbar-client.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Refined NavBar: Adjusted Mobile View
  shared/locales/en/website-common.json
  website/src/components/navbar/navbar-client.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/components/navbar/navbar-client.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bugfix(website): fix build issues
  website/src/app/[lang]/[region]/(website)/layout.tsx
  website/src/components/navbar/navbar.tsx
  website/src/i18n.ts
  website/src/middleware.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bugfix(website): fix build issues (#637)
  website/src/app/[lang]/[region]/(website)/layout.tsx
  website/src/components/navbar/navbar.tsx
  website/src/i18n.ts
  website/src/middleware.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Exclude ids fields from outgoing json objects
  recipients_app/lib/data/models/payment/social_income_payment.dart
  recipients_app/lib/data/models/payment/social_income_payment.g.dart
  recipients_app/lib/data/models/recipient.dart
  recipients_app/lib/data/models/recipient.g.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/ui/ rene@socialincome.org
.github/workflows/ui.yml rene@socialincome.org

firebase.json andras@socialincome.org michael@socialincome.org
firestore.rules andras@socialincome.org michael@socialincome.org
package.json andras@socialincome.org michael@socialincome.org
storage.rules andras@socialincome.org michael@socialincome.org

admin/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
functions/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
shared/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
recipients_app/ verena@socialincome.org mikolaj@socialincome.org sandino@socialincome.org
website/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org

*.md sandino@socialincome.org andras@socialincome.org michael@socialincome.org
