Repository socialincome-san/public, changes with the owners that CODEOWNERS names for each.
All owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, verena@socialincome.org, mikolaj@socialincome.org

CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/ui/ rene@socialincome.org
.github/workflows/ui.yml rene@socialincome.org

firebase.json andras@socialincome.org michael@socialincome.org
firestore.rules andras@socialincome.org michael@socialincome.org
package.json andras@socialincome.org michael@socialincome.org
storage.rules andras@socialincome.org michael@socialincome.org

admin/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
functions/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
shared/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
recipients_app/ verena@socialincome.org mikolaj@socialincome.org sandino@socialincome.org
website/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org

*.md sandino@socialincome.org andras@socialincome.org michael@socialincome.org

refactor(shared): fix firestore tests
  seed/auth_export/accounts.json
  seed/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  seed/firestore_export/all_namespaces/all_kinds/output-0
  seed/firestore_export/firestore_export.overall_export_metadata
  shared/tests/firestore.rules.test.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 692 🛫
  pr-preview/pr-692/project.json
Owners: none

only create donation certficates for users with valid address
  functions/src/webhooks/admin/donation-certificates/DonationCertificateWriter.ts
  functions/src/webhooks/admin/donation-certificates/index.ts
  shared/locales/de/website-me.json
  shared/locales/en/website-me.json
  website/src/app/[lang]/[region]/(website)/me/donation-certificates/donation-certificates-table.tsx
  website/src/app/[lang]/[region]/(website)/me/donation-certificates/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

update seed
  seed/auth_export/accounts.json
  seed/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  seed/firestore_export/all_namespaces/all_kinds/output-0
  seed/firestore_export/firestore_export.overall_export_metadata
  seed/storage_export/buckets.json
Owners: none

update seed
  seed/auth_export/accounts.json
  seed/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  seed/firestore_export/all_namespaces/all_kinds/output-0
  seed/firestore_export/firestore_export.overall_export_metadata
Owners: none

refactor(general): add donation certificate download section on website (#672)
  admin/src/actions/CreateDonationCertificatesAction.tsx
  admin/src/collections/Users.tsx
  functions/src/webhooks/admin/donation-certificates/DonationCertificateHandler.ts
  functions/src/webhooks/admin/donation-certificates/DonationCertificateWriter.ts
  functions/src/webhooks/admin/donation-certificates/index.ts
  seed/auth_export/accounts.json
  seed/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  seed/firestore_export/all_namespaces/all_kinds/output-0
  seed/firestore_export/firestore_export.overall_export_metadata
  seed/storage_export/buckets.json
  shared/locales/de/donation-certificate.json
  shared/locales/de/website-me.json
  shared/locales/en/donation-certificate.json
  shared/locales/en/website-me.json
  shared/locales/fr/donation-certificate.json
  shared/src/firebase/admin/StorageAdmin.test.ts
  shared/src/firebase/admin/StorageAdmin.ts
  shared/src/types/donation-certificate.ts
  shared/src/utils/i18n.test.ts
  website/src/app/[lang]/[region]/(website)/me/donation-certificates/donation-certificates-table.tsx
  website/src/app/[lang]/[region]/(website)/me/donation-certificates/page.tsx
  website/src/app/[lang]/[region]/(website)/me/layout-client.tsx
  website/src/app/[lang]/[region]/(website)/me/layout.tsx
  website/src/app/[lang]/[region]/(website)/me/personal-info/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bugfix(functions): fix translations in functions runtime
  functions/src/webhooks/admin/donation-certificates/index.ts
  shared/src/utils/i18n.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

dynamically load fs module
  shared/src/utils/i18n.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bugfix(functions): fix translations in functions runtime (#703)
  functions/src/webhooks/admin/donation-certificates/index.ts
  shared/src/utils/i18n.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(functions): update memory limit and storage location for donation certificate function
  functions/src/webhooks/admin/donation-certificates/index.ts
  seed/auth_export/accounts.json
  seed/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  seed/firestore_export/all_namespaces/all_kinds/output-0
  seed/firestore_export/firestore_export.overall_export_metadata
  seed/storage_export/blobs/26963059-d26d-4a90-9c64-8884109ad5be
  seed/storage_export/blobs/29ad217a-1025-4a74-adef-295bd4cbe559
  seed/storage_export/blobs/e1af5b1c-1696-4aa3-8eaa-b939ce3215e7
  seed/storage_export/metadata/26963059-d26d-4a90-9c64-8884109ad5be.json
  seed/storage_export/metadata/29ad217a-1025-4a74-adef-295bd4cbe559.json
  seed/storage_export/metadata/e1af5b1c-1696-4aa3-8eaa-b939ce3215e7.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(functions): update memory limit and storage location for donation certificate function (#704)
  functions/src/webhooks/admin/donation-certificates/index.ts
  seed/auth_export/accounts.json
  seed/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  seed/firestore_export/all_namespaces/all_kinds/output-0
  seed/firestore_export/firestore_export.overall_export_metadata
  seed/storage_export/blobs/26963059-d26d-4a90-9c64-8884109ad5be
  seed/storage_export/blobs/29ad217a-1025-4a74-adef-295bd4cbe559
  seed/storage_export/blobs/e1af5b1c-1696-4aa3-8eaa-b939ce3215e7
  seed/storage_export/metadata/26963059-d26d-4a90-9c64-8884109ad5be.json
  seed/storage_export/metadata/29ad217a-1025-4a74-adef-295bd4cbe559.json
  seed/storage_export/metadata/e1af5b1c-1696-4aa3-8eaa-b939ce3215e7.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(functions): update maxInstances parameter
  functions/src/index.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(functions): update functions config
  functions/src/index.ts
  functions/src/webhooks/admin/donation-certificates/index.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Missing lang parameter
  website/src/app/[lang]/[region]/(website)/campaigns/ebola-survivors/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Small issue with unused lang parameter
  website/src/app/[lang]/[region]/(website)/campaigns/ebola-survivors/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Added the Tiktok Videos (wip)
  shared/locales/en/website-campaign-ebola-survivors.json
  website/src/app/[lang]/[region]/(website)/campaigns/ebola-survivors/campaign-si-video.tsx
  website/src/app/[lang]/[region]/(website)/campaigns/ebola-survivors/campaign-tiktok-videos.tsx
  website/src/app/[lang]/[region]/(website)/campaigns/ebola-survivors/donation-form.tsx
  website/src/app/[lang]/[region]/(website)/campaigns/ebola-survivors/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/app/[lang]/[region]/(website)/campaigns/ebola-survivors/campaign-si-video.tsx
  website/src/app/[lang]/[region]/(website)/campaigns/ebola-survivors/campaign-tiktok-videos.tsx
  website/src/app/[lang]/[region]/(website)/campaigns/ebola-survivors/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

684 | [Admin Tool Feature]: Get rid of number validation
  admin/src/collections/recipients/RecipientsProperties.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Change text size in FAQ
  website/src/app/[lang]/[region]/(website)/campaigns/ebola-survivors/campaign-faq.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Add About Social Income section in campaigns/ebola-survivors
  shared/locales/en/website-campaign-ebola-survivors.json
  website/src/app/[lang]/[region]/(website)/campaigns/ebola-survivors/(assets)/AboutSI.png
  website/src/app/[lang]/[region]/(website)/campaigns/ebola-survivors/about-si.tsx
  website/src/app/[lang]/[region]/(website)/campaigns/ebola-survivors/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

579 | [Admin Tool Feature]: Adding questionnaire type to overview
  admin/src/views/NextSurveysView.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Reenable contact dialog
  recipients_app/lib/view/pages/account_page.dart
  recipients_app/lib/view/widgets/dialogs/social_income_contact_dialog.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Update contact details
  recipients_app/lib/view/widgets/dialogs/social_income_contact_dialog.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

feature(admin): fundraising campaign
  admin/src/App.tsx
  admin/src/collections/Campaigns.ts
  shared/src/types/campaign.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bug(recipients_app): Fix profile update, fix contact dialog button (#711)
  recipients_app/lib/view/pages/account_page.dart
  recipients_app/lib/view/widgets/dialogs/social_income_contact_dialog.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Adding all language files
  shared/locales/it/common.json
  shared/locales/it/countries.json
  shared/locales/it/donation-certificate.json
  shared/locales/it/message-payment-confirmation.json
  shared/locales/it/message-whatsapp-opt-in.json
  shared/locales/it/website-about-us.json
  shared/locales/it/website-arts.json
  shared/locales/it/website-bank-details.json
  shared/locales/it/website-books.json
  shared/locales/it/website-common.json
  shared/locales/it/website-csr.json
  shared/locales/it/website-donate.json
  shared/locales/it/website-evidence.json
  shared/locales/it/website-faq.json
  shared/locales/it/website-finances.json
  shared/locales/it/website-home.json
  shared/locales/it/website-how-to-reduce-income-inequality.json
  shared/locales/it/website-login.json
  shared/locales/it/website-me.json
  shared/locales/it/website-our-work.json
  shared/locales/it/website-poverty-statistics-2024.json
  shared/locales/it/website-privacy.json
  shared/locales/it/website-recipient-selection.json
  shared/locales/it/website-reporting.json
  shared/locales/it/website-survey.json
  shared/locales/it/website-terms-and-conditions.json
  shared/locales/it/website-terms-of-use.json
  shared/locales/it/website-what-is-poverty.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): campaign metadata in stripe checkout
  website/src/app/api/stripe/checkout-session/create/route.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Update website-home.json
  shared/locales/it/website-home.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

appending amount_collected
  admin/src/collections/Campaigns.ts
  shared/src/types/campaign.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

added pull to refresh
  recipients_app/analysis_options.yaml
  recipients_app/ios/Podfile.lock
  recipients_app/lib/view/pages/dashboard_page.dart
  recipients_app/pubspec.lock
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

feature(functions): update campaign amount_collected_chf in stripe hook
  shared/src/stripe/StripeEventHandler.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

added pull to refresh to payments page
  recipients_app/lib/view/pages/payments_page.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

feature(admin): adding questionnaire type to overview (#709)
  admin/src/views/NextSurveysView.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(admin): update phone number validation (#706)
  admin/src/collections/recipients/RecipientsProperties.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): campaign page
  shared/locales/de/website-donate.json
  shared/locales/en/website-donate.json
  website/src/app/[lang]/[region]/donate/campaign/[campaign]/page.tsx
  website/src/app/[lang]/[region]/donate/one-time/one-time-donation-form.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

creator name
  admin/src/collections/Campaigns.ts
  shared/src/types/campaign.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): campaign metadata in stripe checkout (#713)
  website/src/app/api/stripe/checkout-session/create/route.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

associate contribution with campaign
  admin/src/collections/Contributions.tsx
  shared/src/stripe/StripeEventHandler.ts
  shared/src/types/contribution.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(admin): fundraising campaign (#712)
  admin/src/App.tsx
  admin/src/collections/Campaigns.ts
  shared/src/types/campaign.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

remove firecms dependency
  shared/src/stripe/StripeEventHandler.test.ts
  shared/src/stripe/StripeEventHandler.ts
  shared/src/types/contribution.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org
