Repository socialincome-san/public, changes with the owners that CODEOWNERS names for each.
All owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, verena@socialincome.org, mikolaj@socialincome.org

CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/ui/ rene@socialincome.org
.github/workflows/ui.yml rene@socialincome.org

firebase.json andras@socialincome.org michael@socialincome.org
firestore.rules andras@socialincome.org michael@socialincome.org
package.json andras@socialincome.org michael@socialincome.org
storage.rules andras@socialincome.org michael@socialincome.org

admin/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
functions/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
shared/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
recipients_app/ verena@socialincome.org mikolaj@socialincome.org sandino@socialincome.org
website/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org

*.md sandino@socialincome.org andras@socialincome.org michael@socialincome.org

Small typos and text optimization (remove unknown abbreviations)
  shared/locales/de/website-newsletter.json
  shared/locales/de/website-reporting.json
  shared/locales/en/website-newsletter.json
  shared/locales/en/website-reporting.json
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/hero-form.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

triggered a new recipient draw
  recipients_selection/lists/10-aurora-2023-10-31.txt
  recipients_selection/lists/11-reachoutsalone-2024-04-22.txt
  recipients_selection/lists/2-testlist
  recipients_selection/lists/4-aurora-2023-11-08.txt
Owners: none

completed a recipient draw
  recipients_selection/draws/11-reachoutsalone-2024-04-22.txt
  recipients_selection/draws/2-testlist
Owners: none

triggered a new recipient draw
  recipients_selection/lists/10-aurora-2023-10-31.txt
  recipients_selection/lists/11-reachoutsalone-2024-04-22.txt
  recipients_selection/lists/2-testlist
  recipients_selection/lists/4-aurora-2023-11-08.txt
Owners: none

completed a recipient draw
  recipients_selection/draws/11-reachoutsalone-2024-04-22.txt
  recipients_selection/draws/2-testlist
Owners: none

feature(website): sections for new landing page (#791)
  .gitignore
  shared/locales/de/website-home2.json
  ui/src/components/accordion2.tsx
  website/src/app/[lang]/[region]/v2/(home)/(assets)/avatarImgData.jpg
  website/src/app/[lang]/[region]/v2/(home)/(components)/approach-cards.tsx
  website/src/app/[lang]/[region]/v2/(home)/(components)/contributors-people-carousel.tsx
  website/src/app/[lang]/[region]/v2/(home)/(sections)/approach.tsx
  website/src/app/[lang]/[region]/v2/(home)/(sections)/faq.tsx
  website/src/app/[lang]/[region]/v2/(home)/(sections)/overview.tsx
  website/src/app/[lang]/[region]/v2/(home)/(sections)/quotes.tsx
  website/src/app/[lang]/[region]/v2/(home)/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

completed a recipient draw
  recipients_selection/draws/11-reachoutsalone-2024-04-22.txt
  recipients_selection/draws/2-testlist
Owners: none
