Repository socialincome-san/public, changes with the owners that CODEOWNERS names for each.
All owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, verena@socialincome.org, mikolaj@socialincome.org

wip
  package-lock.json
  website/package.json
  website/src/app/[lang]/[region]/(website)/me/security/page.tsx
  website/src/app/[lang]/[region]/(website)/me/security/swiss-qr-bill.tsx
  website/src/app/[lang]/[region]/(website)/me/security/update-password-form.tsx
  website/src/app/api/user/qr-bill/route.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 747 🛫
  pr-preview/pr-747/assets/Color-6VNJS4EI-0510dbcf.js
  pr-preview/pr-747/assets/Color-6VNJS4EI-0510dbcf.js.map
  pr-preview/pr-747/assets/Color-6VNJS4EI-1100f5ec.js
  pr-preview/pr-747/assets/Color-6VNJS4EI-1100f5ec.js.map
  pr-preview/pr-747/assets/DocsRenderer-NNNQARDV-5fe7904c.js
  pr-preview/pr-747/assets/DocsRenderer-NNNQARDV-5fe7904c.js.map
  pr-preview/pr-747/assets/DocsRenderer-NNNQARDV-64bcdbbb.js
  pr-preview/pr-747/assets/DocsRenderer-NNNQARDV-64bcdbbb.js.map
  pr-preview/pr-747/assets/WithTooltip-4HIR6TLV-020c1d55.js
  pr-preview/pr-747/assets/WithTooltip-4HIR6TLV-020c1d55.js.map
  pr-preview/pr-747/assets/WithTooltip-4HIR6TLV-c8bfb1a4.js
  pr-preview/pr-747/assets/WithTooltip-4HIR6TLV-c8bfb1a4.js.map
  pr-preview/pr-747/assets/chunk-HLWAVYOI-c76d3628.js
  pr-preview/pr-747/assets/chunk-HLWAVYOI-c76d3628.js.map
  pr-preview/pr-747/assets/chunk-HLWAVYOI-d61409f8.js.map
  pr-preview/pr-747/assets/formatter-SWP5E3XI-d3857334.js.map
  pr-preview/pr-747/assets/formatter-SWP5E3XI-e92df36d.js
  pr-preview/pr-747/assets/formatter-SWP5E3XI-e92df36d.js.map
  pr-preview/pr-747/assets/globals-3f5989e2.css
  pr-preview/pr-747/assets/globals-d6d74278.css
  pr-preview/pr-747/assets/iframe-3471c0d7.js
  pr-preview/pr-747/assets/iframe-3471c0d7.js.map
  pr-preview/pr-747/assets/iframe-397e108c.js
  pr-preview/pr-747/assets/iframe-397e108c.js.map
  pr-preview/pr-747/assets/preview-3b3e6013.js
  pr-preview/pr-747/assets/preview-3b3e6013.js.map
  pr-preview/pr-747/assets/preview-7eec7d7f.js
  pr-preview/pr-747/assets/preview-7eec7d7f.js.map
  pr-preview/pr-747/assets/preview-b23cb6e7.js.map
  pr-preview/pr-747/assets/preview-d13a59d9.js
  pr-preview/pr-747/assets/preview-d13a59d9.js.map
  pr-preview/pr-747/assets/syntaxhighlighter-NMPM6SWI-79b34120.js
  pr-preview/pr-747/assets/syntaxhighlighter-NMPM6SWI-79b34120.js.map
  pr-preview/pr-747/assets/syntaxhighlighter-NMPM6SWI-bc1c947f.js
  pr-preview/pr-747/assets/syntaxhighlighter-NMPM6SWI-bc1c947f.js.map
  pr-preview/pr-747/assets/typography.stories-3671166e.js.map
  pr-preview/pr-747/assets/typography.stories-8cdd6206.js
  pr-preview/pr-747/assets/typography.stories-8cdd6206.js.map
  pr-preview/pr-747/iframe.html
  pr-preview/pr-747/project.json
Owners: none

Styling after figma design.
  shared/locales/de/website-donate.json
  shared/locales/en/website-donate.json
  website/src/app/[lang]/[region]/(website)/campaign/[campaign]/page.tsx
  website/src/app/[lang]/[region]/donate/one-time/one-time-donation-form.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/app/[lang]/[region]/(website)/campaign/[campaign]/page.tsx
  website/src/app/[lang]/[region]/donate/one-time/one-time-donation-form.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Styling of regular one-time donation form.
  shared/locales/de/website-donate.json
  shared/locales/en/website-donate.json
  website/src/app/[lang]/[region]/(website)/campaign/[campaign]/page.tsx
  website/src/app/[lang]/[region]/donate/one-time/one-time-donation-form.tsx
  website/src/app/[lang]/[region]/donate/one-time/page.tsx
  website/src/components/ui/currency-selector.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Text change
  shared/locales/en/website-donate.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/app/[lang]/[region]/(website)/campaign/[campaign]/page.tsx
  website/src/app/[lang]/[region]/donate/one-time/one-time-donation-form.tsx
  website/src/app/[lang]/[region]/donate/one-time/page.tsx
  website/src/components/ui/currency-selector.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Adaptation of progress bar
  ui/src/components/progress.tsx
  website/src/app/[lang]/[region]/(website)/campaign/[campaign]/page.tsx
Owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  ui/src/components/progress.tsx
Owners: rene@socialincome.org

Deploy preview for PR 771 🛫
  pr-preview/pr-771/project.json
Owners: none

chore: add zed editor config
  .zed/settings.json
Owners: none

chore(website): switch to typescript module resolution `bundler`
  website/tsconfig.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

chore(deps): add storyblok libraries
  package-lock.json
  website/.gitignore
  website/package.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

chore(website): add utilities to tighten TypeScript typing for Storyblok
  website/src/types/storyblok/storyblok-util.ts
  website/src/types/util.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

chore(website): extend environment variables for Storyblok
  website/.env.development
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

docs(website): extend README with documentation about Storyblok
  website/README.md
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

chore(website): add basic setup for Storyblok
  website/src/app/layout.tsx
  website/src/components/storyblok/storyblok-provider.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 740 🛫
  pr-preview/pr-740/assets/Color-6VNJS4EI-2e6e9362.js
  pr-preview/pr-740/assets/Color-6VNJS4EI-2e6e9362.js.map
  pr-preview/pr-740/assets/Color-6VNJS4EI-8c1bd6d1.js
  pr-preview/pr-740/assets/Color-6VNJS4EI-8c1bd6d1.js.map
  pr-preview/pr-740/assets/DocsRenderer-NNNQARDV-5ca8eed1.js
  pr-preview/pr-740/assets/DocsRenderer-NNNQARDV-5ca8eed1.js.map
  pr-preview/pr-740/assets/DocsRenderer-NNNQARDV-9fb296fd.js
  pr-preview/pr-740/assets/DocsRenderer-NNNQARDV-9fb296fd.js.map
  pr-preview/pr-740/assets/WithTooltip-4HIR6TLV-e7e10f6b.js
  pr-preview/pr-740/assets/WithTooltip-4HIR6TLV-e7e10f6b.js.map
  pr-preview/pr-740/assets/WithTooltip-4HIR6TLV-ead8ad7f.js
  pr-preview/pr-740/assets/WithTooltip-4HIR6TLV-ead8ad7f.js.map
  pr-preview/pr-740/assets/chunk-HLWAVYOI-2bf99018.js
  pr-preview/pr-740/assets/chunk-HLWAVYOI-2bf99018.js.map
  pr-preview/pr-740/assets/chunk-HLWAVYOI-5474d138.js.map
  pr-preview/pr-740/assets/formatter-SWP5E3XI-1b166da9.js.map
  pr-preview/pr-740/assets/formatter-SWP5E3XI-cb1376a5.js
  pr-preview/pr-740/assets/formatter-SWP5E3XI-cb1376a5.js.map
  pr-preview/pr-740/assets/globals-3e89a97f.css
  pr-preview/pr-740/assets/globals-661aca72.css
  pr-preview/pr-740/assets/iframe-58a64ef1.js
  pr-preview/pr-740/assets/iframe-58a64ef1.js.map
  pr-preview/pr-740/assets/iframe-eec983ec.js
  pr-preview/pr-740/assets/iframe-eec983ec.js.map
  pr-preview/pr-740/assets/preview-05725e35.js
  pr-preview/pr-740/assets/preview-05725e35.js.map
  pr-preview/pr-740/assets/preview-28e3f409.js
  pr-preview/pr-740/assets/preview-28e3f409.js.map
  pr-preview/pr-740/assets/preview-70889c06.js
  pr-preview/pr-740/assets/preview-70889c06.js.map
  pr-preview/pr-740/assets/preview-8b328f97.js.map
  pr-preview/pr-740/assets/syntaxhighlighter-NMPM6SWI-08e44194.js
  pr-preview/pr-740/assets/syntaxhighlighter-NMPM6SWI-08e44194.js.map
  pr-preview/pr-740/assets/syntaxhighlighter-NMPM6SWI-658e6808.js
  pr-preview/pr-740/assets/syntaxhighlighter-NMPM6SWI-658e6808.js.map
  pr-preview/pr-740/assets/typography.stories-99b5de37.js
  pr-preview/pr-740/assets/typography.stories-99b5de37.js.map
  pr-preview/pr-740/assets/typography.stories-de4c5d63.js.map
  pr-preview/pr-740/iframe.html
  pr-preview/pr-740/project.json
Owners: none

chore(website): add localhost ssl certificates and and proxy
  package-lock.json
  website/.gitignore
  website/certs/localhost-key.pem
  website/certs/localhost.pem
  website/package.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 740 🛫
  pr-preview/pr-740/project.json
Owners: none

Adding a fixed section about Social Income with the testimonial video.
  shared/locales/de/website-donate.json
  shared/locales/en/website-donate.json
  website/src/app/[lang]/[region]/(website)/campaign/[campaign]/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/app/[lang]/[region]/(website)/campaign/[campaign]/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Adding FAQ link and small visual changes
  shared/locales/de/website-donate.json
  shared/locales/en/website-donate.json
  website/src/app/[lang]/[region]/(website)/campaign/[campaign]/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/app/[lang]/[region]/(website)/campaign/[campaign]/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Better wording
  shared/locales/de/website-donate.json
  shared/locales/en/website-donate.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

wip
  package-lock.json
  shared/locales/de/website-me.json
  shared/locales/en/website-me.json
  shared/src/mailchimp/MailchimpAPI.ts
  ui/package.json
  ui/src/components/switch.tsx
  ui/src/index.ts
  website/src/app/[lang]/[region]/(website)/me/personal-info/page.tsx
  website/src/app/[lang]/[region]/(website)/me/personal-info/personal-info-form.tsx
  website/src/app/[lang]/[region]/(website)/updates/subscription-info-form.tsx
  website/src/app/api/mailchimp/subscription/public/route.ts
  website/src/app/api/mailchimp/subscription/route.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Fix nan issue
  website/src/app/[lang]/[region]/donate/one-time/one-time-donation-form.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

cleanup
  .gitignore
  package-lock.json
  package.json
  shared/locales/en/website-me.json
  shared/package.json
  website/src/app/[lang]/[region]/(website)/me/personal-info/personal-info-form.tsx
  website/src/app/[lang]/[region]/(website)/me/user-context-provider.tsx
  website/src/app/[lang]/[region]/(website)/updates/page-with-update.tsx
  website/src/app/[lang]/[region]/(website)/updates/subscription-info-form.tsx
  website/src/app/api/mailchimp/subscription/public/route.ts
  website/src/app/api/mailchimp/subscription/route.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

wip
  website/src/app/api/mailchimp/subscription/route.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 747 🛫
  pr-preview/pr-747/project.json
Owners: none

wip
  website/src/components/newsletter-overlay/newsletter-overlay.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(general): mailchimp api integration (#747)
  package-lock.json
  shared/locales/de/website-me.json
  shared/locales/de/website-newsletter.json
  shared/locales/en/website-me.json
  shared/locales/en/website-newsletter.json
  shared/package.json
  shared/src/mailchimp/MailchimpAPI.ts
  ui/package.json
  ui/src/components/switch.tsx
  ui/src/index.ts
  website/src/app/[lang]/[region]/(website)/me/personal-info/page.tsx
  website/src/app/[lang]/[region]/(website)/me/personal-info/personal-info-form.tsx
  website/src/app/[lang]/[region]/(website)/me/user-context-provider.tsx
  website/src/app/[lang]/[region]/(website)/updates/page.tsx
  website/src/app/[lang]/[region]/(website)/updates/subscription-info-form.tsx
  website/src/app/api/mailchimp/subscription/public/route.ts
  website/src/app/api/mailchimp/subscription/route.ts
  website/src/app/api/stripe/subscriptions/route.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Campaign specific metadata
  admin/src/collections/Campaigns.ts
  shared/locales/de/website-donate.json
  shared/locales/en/website-donate.json
  shared/src/types/campaign.ts
  website/src/app/[lang]/[region]/(website)/campaign/[campaign]/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Added the missing conditional renderings as pointed out in the review
  shared/locales/de/website-donate.json
  shared/locales/en/website-donate.json
  website/src/app/[lang]/[region]/(website)/campaign/[campaign]/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/app/[lang]/[region]/(website)/campaign/[campaign]/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploying to gh-pages from @ socialincome-san/public@b7eb0e23e36363df201b457f75eaed0f3434b1ae 🚀
  project.json
Owners: none

Deploy preview for PR 771 🛫
  pr-preview/pr-771/project.json
Owners: none

feature(website): styling campaign page (#771)
  admin/src/collections/Campaigns.ts
  shared/locales/de/website-donate.json
  shared/locales/en/website-donate.json
  shared/src/types/campaign.ts
  ui/src/components/progress.tsx
  website/public/assets/metadata/og/campaign-ismatu-en.png
  website/public/assets/metadata/twitter/campaign-ismatu-en.png
  website/src/app/[lang]/[region]/(website)/campaign/[campaign]/page.tsx
  website/src/app/[lang]/[region]/donate/one-time/one-time-donation-form.tsx
  website/src/app/[lang]/[region]/donate/one-time/page.tsx
  website/src/components/ui/currency-selector.tsx
  website/src/middleware.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Deploying to gh-pages from @ socialincome-san/public@7823b2e9c97c1d99a8f77041087a1b4b5429ee28 🚀
  assets/Color-6VNJS4EI-e9a99817.js
  assets/Color-6VNJS4EI-e9a99817.js.map
  assets/Color-6VNJS4EI-fe5819bf.js
  assets/Color-6VNJS4EI-fe5819bf.js.map
  assets/DocsRenderer-NNNQARDV-166d0fc1.js
  assets/DocsRenderer-NNNQARDV-166d0fc1.js.map
  assets/DocsRenderer-NNNQARDV-461a2e85.js
  assets/DocsRenderer-NNNQARDV-461a2e85.js.map
  assets/WithTooltip-4HIR6TLV-793955b6.js
  assets/WithTooltip-4HIR6TLV-793955b6.js.map
  assets/WithTooltip-4HIR6TLV-efa5c40e.js
  assets/WithTooltip-4HIR6TLV-efa5c40e.js.map
  assets/chunk-HLWAVYOI-6d116179.js.map
  assets/chunk-HLWAVYOI-ceacb617.js
  assets/chunk-HLWAVYOI-ceacb617.js.map
  assets/formatter-SWP5E3XI-8fc767d4.js
  assets/formatter-SWP5E3XI-8fc767d4.js.map
  assets/formatter-SWP5E3XI-af973105.js.map
  assets/globals-130ff4b7.css
  assets/globals-4514258a.css
  assets/iframe-95d39cbe.js
  assets/iframe-95d39cbe.js.map
  assets/iframe-a6771d5d.js
  assets/iframe-a6771d5d.js.map
  assets/preview-0f13ebea.js.map
  assets/preview-570b38f5.js
  assets/preview-570b38f5.js.map
  assets/preview-975dc800.js
  assets/preview-975dc800.js.map
  assets/preview-ed520dd1.js
  assets/preview-ed520dd1.js.map
  assets/syntaxhighlighter-NMPM6SWI-dd86ff45.js
  assets/syntaxhighlighter-NMPM6SWI-dd86ff45.js.map
  assets/syntaxhighlighter-NMPM6SWI-ffe6d981.js
  assets/syntaxhighlighter-NMPM6SWI-ffe6d981.js.map
  assets/typography.stories-084325cc.js
  assets/typography.stories-084325cc.js.map
  assets/typography.stories-574ec891.js.map
  iframe.html
  project.json
Owners: none

make use of the refactored Employer type
  shared/src/types/employers.ts
  website/src/app/[lang]/[region]/(website)/me/work-info/add-employer-form.tsx
  website/src/app/[lang]/[region]/(website)/me/work-info/employers-list.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/ui/ rene@socialincome.org
.github/workflows/ui.yml rene@socialincome.org

firebase.json andras@socialincome.org michael@socialincome.org
firestore.rules andras@socialincome.org michael@socialincome.org
package.json andras@socialincome.org michael@socialincome.org
storage.rules andras@socialincome.org michael@socialincome.org

admin/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
functions/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
shared/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
recipients_app/ verena@socialincome.org mikolaj@socialincome.org sandino@socialincome.org
website/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org

*.md sandino@socialincome.org andras@socialincome.org michael@socialincome.org
