Repository socialincome-san/public, changes with the owners that CODEOWNERS names for each.
All owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, verena@socialincome.org, mikolaj@socialincome.org

CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/ui/ rene@socialincome.org
.github/workflows/ui.yml rene@socialincome.org

firebase.json andras@socialincome.org michael@socialincome.org
firestore.rules andras@socialincome.org michael@socialincome.org
package.json andras@socialincome.org michael@socialincome.org
storage.rules andras@socialincome.org michael@socialincome.org

admin/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
functions/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
shared/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
recipients_app/ verena@socialincome.org mikolaj@socialincome.org sandino@socialincome.org
website/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org

*.md sandino@socialincome.org andras@socialincome.org michael@socialincome.org

feature(website): inital teams page (#590)
  shared/locales/de/website-team.json
  shared/locales/en/website-team.json
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/ajla.jpg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/alexandre.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/anders.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/andras.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/anna-lina.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/anvita.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/aurelie.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/carlos.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/flavien.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/juan.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/julia.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/kabelo.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/kerrin.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/larissa.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/lorenzo.jpg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/mabel.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/mariatu.jpg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/marion.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/michael.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/mikolaj.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/patrik.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/rene.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/riccardo.jpg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/sandino.jpg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/sarah.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/sarvesh.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/simon.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/simone.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/thomas.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/verena.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 591 🛫
  functions-playwright-report/pr-591/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-591/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-591/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-591/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-591/index.html
Owners: none

feature(website): books page (#591)
  shared/locales/en/website-books.json
  website/src/app/[lang]/[country]/(website)/books/(assets)/better.jpg
  website/src/app/[lang]/[country]/(website)/books/(assets)/coming.jpg
  website/src/app/[lang]/[country]/(website)/books/(assets)/divide.jpg
  website/src/app/[lang]/[country]/(website)/books/(assets)/freedom.jpg
  website/src/app/[lang]/[country]/(website)/books/(assets)/hard.jpg
  website/src/app/[lang]/[country]/(website)/books/(assets)/life.jpg
  website/src/app/[lang]/[country]/(website)/books/(assets)/lowrey.jpg
  website/src/app/[lang]/[country]/(website)/books/(assets)/poor-economics.jpg
  website/src/app/[lang]/[country]/(website)/books/(assets)/utopia.jpg
  website/src/app/[lang]/[country]/(website)/books/page.tsx
  website/src/app/[lang]/[country]/(website)/books/section-1.tsx
  website/src/app/[lang]/[country]/(website)/books/section-2.tsx
  website/src/components/book/book.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Add bank page and relevant information in shared/locales
  shared/locales/de/website-bank-details.json
  shared/locales/en/website-bank-details.json
  shared/locales/it/website-bank-details.json
  website/src/app/[lang]/[country]/(website)/bank/page.tsx
  website/src/app/[lang]/[country]/(website)/bank/section-1.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Finish evidence section-1
  shared/locales/de/website-evidence.json
  shared/locales/en/website-evidence.json
  shared/locales/it/website-evidence.json
  website/src/app/[lang]/[country]/(website)/evidence/page.tsx
  website/src/app/[lang]/[country]/(website)/evidence/section-1.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploying to gh-pages from @ socialincome-san/public@44bdcef45e97ded49f988ec3bbf7e5e09fa04373 🚀
  functions-playwright-report/pr-583/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-583/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-583/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-583/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-583/index.html
  functions-playwright-report/pr-590/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-590/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-590/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-590/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-590/index.html
  functions-playwright-report/pr-591/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-591/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-591/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-591/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-591/index.html
  project.json
Owners: none

Deploy preview for PR 563 🛫
  functions-playwright-report/pr-563/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-563/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-563/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-563/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-563/index.html
Owners: none

chore(deps): upgrade dependencies
  .github/workflows/actions/init/action.yml
  .github/workflows/website-update-snapshots.yml
  admin/package.json
  functions/package.json
  package-lock.json
  package.json
  shared/package.json
  website/package.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

chore(deps): upgrade dependencies
  package-lock.json
Owners: none

Prettified Code!
  shared/src/firebase/client/init.ts
  shared/src/utils/messaging/email.ts
  shared/src/utils/messaging/whatsapp.ts
  shared/src/utils/templates.ts
  ui/CONTRIBUTING.md
  ui/src/components/carousel.tsx
  ui/src/components/form.tsx
  ui/src/components/typography/typography.tsx
  website/src/app/[lang]/[country]/(website)/transparency/finances/[currency]/charts/transparency-charts.tsx
  website/src/app/[lang]/[country]/(website)/transparency/finances/[currency]/info-card.tsx
  website/src/components/book/book.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Deploy preview for PR 596 🛫
  pr-preview/pr-596/assets/typography-fa92bd55.js.map
  pr-preview/pr-596/assets/typography.stories-8bd3aa3b.js.map
  pr-preview/pr-596/project.json
Owners: none

fix typing
  shared/src/stripe/StripeEventHandler.ts
  shared/src/stripe/StripeWebhookHandler.test.ts
  shared/src/stripe/index.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 596 🛫
  pr-preview/pr-596/project.json
Owners: none

Deploy preview for PR 596 🛫
  functions-playwright-report/pr-596/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-596/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-596/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-596/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-596/index.html
Owners: none

update useQuery calls
  package-lock.json
  ui/package.json
  website/package.json
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/survey.tsx
  website/src/app/[lang]/[country]/(website)/me/contributions/contributions-table.tsx
  website/src/app/[lang]/[country]/(website)/me/user-context-provider.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 596 🛫
  pr-preview/pr-596/project.json
Owners: none

chore(deps): upgrade dependencies (#596)
  .github/workflows/actions/init/action.yml
  .github/workflows/website-update-snapshots.yml
  admin/package.json
  functions/package.json
  package-lock.json
  package.json
  shared/package.json
  shared/src/firebase/client/init.ts
  shared/src/stripe/StripeEventHandler.ts
  shared/src/stripe/StripeWebhookHandler.test.ts
  shared/src/stripe/index.ts
  shared/src/utils/messaging/email.ts
  shared/src/utils/messaging/whatsapp.ts
  shared/src/utils/templates.ts
  ui/CONTRIBUTING.md
  ui/package.json
  ui/src/components/carousel.tsx
  ui/src/components/form.tsx
  ui/src/components/typography/typography.tsx
  website/package.json
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/survey.tsx
  website/src/app/[lang]/[country]/(website)/me/contributions/contributions-table.tsx
  website/src/app/[lang]/[country]/(website)/me/user-context-provider.tsx
  website/src/app/[lang]/[country]/(website)/transparency/finances/[currency]/charts/transparency-charts.tsx
  website/src/app/[lang]/[country]/(website)/transparency/finances/[currency]/info-card.tsx
  website/src/components/book/book.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Deploy preview for PR 597 🛫
  pr-preview/pr-597/project.json
Owners: none

Deploy preview for PR 582 🛫
  functions-playwright-report/pr-582/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-582/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-582/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-582/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-582/index.html
Owners: none

Deploy preview for PR 565 🛫
  functions-playwright-report/pr-565/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-565/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-565/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-565/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-565/index.html
Owners: none

Deploy preview for PR 597 🛫
  functions-playwright-report/pr-597/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-597/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-597/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-597/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-597/index.html
Owners: none

Deploy preview for PR 597 🛫
  functions-playwright-report/pr-597/index.html
Owners: none

feature(website): initial faq page
  shared/locales/de/website-common.json
  shared/locales/en/website-common.json
  shared/locales/en/website-faq.json
  website/src/app/[lang]/[country]/(website)/about-us/section-1.tsx
  website/src/app/[lang]/[country]/(website)/faq/faq-section.tsx
  website/src/app/[lang]/[country]/(website)/faq/page.tsx
  website/src/components/navbar/navbar.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  shared/locales/de/website-common.json
  shared/locales/en/website-common.json
  shared/locales/en/website-faq.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 598 🛫
  functions-playwright-report/pr-598/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-598/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-598/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-598/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-598/index.html
Owners: none

Deploy preview for PR 598 🛫
  functions-playwright-report/pr-598/index.html
Owners: none

updated draw config for today's draw
  .github/workflows/execute-draw.yml
Owners: none

updated draw config for today's draw (#599)
  .github/workflows/execute-draw.yml
Owners: none

triggered a new recipient draw
  lists/aurora-2023-10-31.txt
  lists/testlist
Owners: none

completed a recipient draw
  draws/aurora-2023-10-31.txt
  draws/testlist
Owners: none

undo wrong changes
  draws/aurora-2023-10-31.txt
  lists/aurora-2023-10-31.txt
  lists/testlist
Owners: none

undo wrong draw
  draws/testlist
  lists/testlist
Owners: none

triggered a new recipient draw
  lists/aurora-2023-10-31.txt
  lists/testlist
Owners: none

misc(recipient-draw): undo faulty draw (#600)
  lists/aurora-2023-10-31.txt
  lists/testlist
Owners: none

triggered a new recipient draw
  lists/aurora-2023-10-31.txt
  lists/testlist
Owners: none

completed a recipient draw
  draws/aurora-2023-10-31.txt
  draws/testlist
Owners: none

completed a recipient draw (#601)
  draws/aurora-2023-10-31.txt
  draws/testlist
Owners: none

Deploy preview for PR 563 🛫
  functions-playwright-report/pr-563/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-563/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-563/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-563/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-563/index.html
Owners: none

Added DE translations and fixed one EN translation.
  shared/locales/de/website-faq.json
  shared/locales/en/website-faq.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 598 🛫
  functions-playwright-report/pr-598/index.html
Owners: none
