Repository socialincome-san/public, changes with the owners that CODEOWNERS names for each.
All owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, verena@socialincome.org, mikolaj@socialincome.org

Prettified Code!
  shared/src/utils/templates.ts
  ui/src/globals.css
  website/src/components/i18n-dialog.tsx
  website/src/components/navbar/navbar-client.tsx
  website/src/components/navbar/navbar.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

triggered a new recipient draw
  recipients_selection/lists/10-aurora-2023-10-31.txt
  recipients_selection/lists/2-testlist
  recipients_selection/lists/4-aurora-2023-11-08.txt
Owners: none

Deploy preview for PR 613 🛫
  pr-preview/pr-613/project.json
Owners: none

Deploy preview for PR 613 🛫
  pr-preview/pr-613/project.json
Owners: none

fix build issue
  website/src/app/[lang]/[region]/(website)/(home)/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 613 🛫
  pr-preview/pr-613/project.json
Owners: none

Update Team (change in co-presidency)
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/team.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Corporate Social Responsibility Placeholder
  shared/locales/de/website-csr.json
  shared/locales/en/website-csr.json
  website/src/app/[lang]/[region]/(website)/csr/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  shared/locales/de/website-csr.json
  shared/locales/en/website-csr.json
  website/src/app/[lang]/[region]/(website)/csr/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

completed a recipient draw (#614)
  recipients_selection/draws/4-aurora-2023-11-08.txt
Owners: none

website(bugfix): support static rendering, avoid cookies server side
  website/src/app/[lang]/[region]/(survey-tool)/survey/[recipient]/[survey]/layout.tsx
  website/src/app/[lang]/[region]/(website)/login/page.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/currency-redirect.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/page.tsx
  website/src/app/context-providers.tsx
  website/src/app/layout.tsx
  website/src/app/providers/i18n-provider-client.tsx
  website/src/app/providers/i18n-provider.tsx
  website/src/components/country-flags.tsx
  website/src/components/footer/footer-client.tsx
  website/src/components/i18n-dialog.tsx
  website/src/components/navbar/navbar-client.tsx
  website/src/components/navbar/navbar.tsx
  website/src/components/ui/currency-selector.tsx
  website/src/hooks/useCookieState.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(website): update team page (#615)
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/team.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/components/i18n-dialog.tsx
  website/src/components/navbar/navbar-client.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

website(bugfix): support static rendering, avoid cookies server side (#617)
  website/src/app/[lang]/[region]/(survey-tool)/survey/[recipient]/[survey]/layout.tsx
  website/src/app/[lang]/[region]/(website)/login/page.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/currency-redirect.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/page.tsx
  website/src/app/context-providers.tsx
  website/src/app/layout.tsx
  website/src/app/providers/i18n-provider-client.tsx
  website/src/app/providers/i18n-provider.tsx
  website/src/components/country-flags.tsx
  website/src/components/footer/footer-client.tsx
  website/src/components/i18n-dialog.tsx
  website/src/components/navbar/navbar-client.tsx
  website/src/components/navbar/navbar.tsx
  website/src/components/ui/currency-selector.tsx
  website/src/hooks/useCookieState.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): add translations for legal pages
  shared/locales/de/website-privacy.json
  shared/locales/de/website-terms-and-conditions.json
  shared/locales/de/website-terms-of-use.json
  shared/locales/en/website-terms-and-conditions.json
  shared/locales/en/website-terms-for-contributions.json
  shared/locales/en/website-terms-of-use.json
  website/src/app/[lang]/[region]/(website)/terms-and-conditions/page.tsx
  website/src/components/footer/footer.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  shared/locales/de/website-privacy.json
  shared/locales/de/website-terms-and-conditions.json
  shared/locales/de/website-terms-of-use.json
  shared/locales/en/website-terms-and-conditions.json
  shared/locales/en/website-terms-of-use.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): add translations for legal pages (#618)
  shared/locales/de/website-privacy.json
  shared/locales/de/website-terms-and-conditions.json
  shared/locales/de/website-terms-of-use.json
  shared/locales/en/website-terms-and-conditions.json
  shared/locales/en/website-terms-of-use.json
  website/src/app/[lang]/[region]/(website)/terms-and-conditions/page.tsx
  website/src/components/footer/footer.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  shared/src/firebase/client/init.ts
  shared/src/utils/messaging/email.ts
  shared/src/utils/messaging/whatsapp.ts
  shared/src/utils/templates.ts
  ui/CONTRIBUTING.md
  ui/src/components/carousel.tsx
  ui/src/components/form.tsx
  ui/src/components/typography/typography.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/charts/transparency-charts.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/info-card.tsx
  website/src/components/i18n-dialog.tsx
  website/src/components/navbar/navbar-client.tsx
  website/src/components/ui/book.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Deploy preview for PR 619 🛫
  pr-preview/pr-619/assets/typography-fa92bd55.js.map
  pr-preview/pr-619/assets/typography.stories-a5067c2c.js.map
  pr-preview/pr-619/project.json
Owners: none

feature(website): update account dashboard (#619)
  seed/auth_export/accounts.json
  seed/firebase-export-metadata.json
  seed/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  seed/firestore_export/all_namespaces/all_kinds/output-0
  seed/firestore_export/firestore_export.overall_export_metadata
  shared/locales/en/website-me.json
  shared/src/utils/date.ts
  ui/src/components/button.tsx
  website/src/app/[lang]/[region]/(website)/(home)/section-1-form.tsx
  website/src/app/[lang]/[region]/(website)/donate/individual/page.tsx
  website/src/app/[lang]/[region]/(website)/login/login-form.tsx
  website/src/app/[lang]/[region]/(website)/login/page.tsx
  website/src/app/[lang]/[region]/(website)/me/contributions/billing-portal-button.tsx
  website/src/app/[lang]/[region]/(website)/me/contributions/contributions-table.tsx
  website/src/app/[lang]/[region]/(website)/me/contributions/page.tsx
  website/src/app/[lang]/[region]/(website)/me/layout-client.tsx
  website/src/app/[lang]/[region]/(website)/me/layout-tab.tsx
  website/src/app/[lang]/[region]/(website)/me/layout.tsx
  website/src/app/[lang]/[region]/(website)/me/page.tsx
  website/src/app/[lang]/[region]/(website)/me/personal-info/page.tsx
  website/src/app/[lang]/[region]/(website)/me/security/page.tsx
  website/src/app/[lang]/[region]/(website)/me/subscriptions/billing-portal-button.tsx
  website/src/app/[lang]/[region]/(website)/me/subscriptions/page.tsx
  website/src/app/[lang]/[region]/(website)/me/subscriptions/subscriptions-table.tsx
  website/src/app/[lang]/[region]/(website)/me/user-context-provider.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/page.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/layout.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/page.tsx
  website/src/app/api/stripe/billing-portal-session/route.ts
  website/src/app/api/stripe/checkout/new-payment/route.ts
  website/src/app/api/stripe/subscriptions/route.ts
  website/src/app/context-providers.tsx
  website/src/firebase-admin.ts
  website/src/hooks/useCookieState.ts
  website/src/hooks/useTranslator.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Deploying to gh-pages from @ socialincome-san/public@77e0aba8efe94f29f41ef776c41515370b74d28d 🚀
  assets/Color-6VNJS4EI-b7b73f2e.js
  assets/Color-6VNJS4EI-b7b73f2e.js.map
  assets/Color-6VNJS4EI-cec3ee94.js
  assets/Color-6VNJS4EI-cec3ee94.js.map
  assets/DocsRenderer-NNNQARDV-34222ddc.js
  assets/DocsRenderer-NNNQARDV-34222ddc.js.map
  assets/DocsRenderer-NNNQARDV-3d8e040c.js
  assets/DocsRenderer-NNNQARDV-3d8e040c.js.map
  assets/WithTooltip-4HIR6TLV-38db3a69.js
  assets/WithTooltip-4HIR6TLV-38db3a69.js.map
  assets/WithTooltip-4HIR6TLV-757832e0.js
  assets/WithTooltip-4HIR6TLV-757832e0.js.map
  assets/chunk-HLWAVYOI-a3dfdc9b.js.map
  assets/chunk-HLWAVYOI-d82b1471.js
  assets/chunk-HLWAVYOI-d82b1471.js.map
  assets/formatter-SWP5E3XI-55f1e1e0.js.map
  assets/formatter-SWP5E3XI-ee40084f.js
  assets/formatter-SWP5E3XI-ee40084f.js.map
  assets/iframe-813c77d1.js
  assets/iframe-813c77d1.js.map
  assets/iframe-91e2a6ba.js
  assets/iframe-91e2a6ba.js.map
  assets/preview-4d84f64d.js
  assets/preview-4d84f64d.js.map
  assets/preview-e6758228.js
  assets/preview-e6758228.js.map
  assets/syntaxhighlighter-NMPM6SWI-5347c771.js
  assets/syntaxhighlighter-NMPM6SWI-5347c771.js.map
  assets/syntaxhighlighter-NMPM6SWI-7384320e.js
  assets/syntaxhighlighter-NMPM6SWI-7384320e.js.map
  assets/typography.stories-7c0954fe.js.map
  assets/typography.stories-80472b67.js
  assets/typography.stories-80472b67.js.map
  iframe.html
  project.json
Owners: none

Add sections 2,3,4 of evidence page and add data only in English for these sections
  shared/locales/en/website-evidence.json
  shared/src/utils/i18n.ts
  website/src/app/[lang]/[country]/(website)/evidence/page.tsx
  website/src/app/[lang]/[country]/(website)/evidence/section-1.tsx
  website/src/app/[lang]/[country]/(website)/evidence/section-2.tsx
  website/src/app/[lang]/[country]/(website)/evidence/section-3.tsx
  website/src/app/[lang]/[country]/(website)/evidence/section-4.tsx
  website/src/app/[lang]/[country]/(website)/evidence/section-card.tsx
  website/src/app/[lang]/[country]/(website)/evidence/section-paragraph.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Format Code
  shared/locales/de/website-bank-details.json
  shared/locales/en/website-bank-details.json
  shared/locales/en/website-evidence.json
  shared/locales/it/website-bank-details.json
  shared/src/utils/i18n.ts
  website/src/app/[lang]/[country]/(website)/bank/section-1.tsx
  website/src/app/[lang]/[country]/(website)/evidence/page.tsx
  website/src/app/[lang]/[country]/(website)/evidence/section-1.tsx
  website/src/app/[lang]/[country]/(website)/evidence/section-2.tsx
  website/src/app/[lang]/[country]/(website)/evidence/section-3.tsx
  website/src/app/[lang]/[country]/(website)/evidence/section-4.tsx
  website/src/app/[lang]/[country]/(website)/evidence/section-card.tsx
  website/src/app/[lang]/[country]/(website)/evidence/section-paragraph.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

move changes to [region] directory
  website/src/app/[lang]/[region]/(website)/bank/page.tsx
  website/src/app/[lang]/[region]/(website)/bank/section-1.tsx
  website/src/app/[lang]/[region]/(website)/evidence/page.tsx
  website/src/app/[lang]/[region]/(website)/evidence/section-1.tsx
  website/src/app/[lang]/[region]/(website)/evidence/section-2.tsx
  website/src/app/[lang]/[region]/(website)/evidence/section-3.tsx
  website/src/app/[lang]/[region]/(website)/evidence/section-4.tsx
  website/src/app/[lang]/[region]/(website)/evidence/section-card.tsx
  website/src/app/[lang]/[region]/(website)/evidence/section-paragraph.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Added files
  shared/locales/de/website-csr.json
  shared/locales/en/website-csr.json
  website/src/app/[lang]/[region]/(website)/csr/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/app/[lang]/[region]/(website)/csr/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Update team page
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/team.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/team.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): support one-time donation
  shared/locales/de/website-home.json
  shared/locales/de/website-me.json
  shared/locales/en/website-home.json
  shared/locales/en/website-me.json
  ui/src/components/button.tsx
  ui/src/components/form.tsx
  ui/src/components/input.tsx
  ui/src/components/select.tsx
  ui/src/globals.css
  website/src/app/[lang]/[region]/(website)/(home)/section-1-form.tsx
  website/src/app/[lang]/[region]/(website)/(home)/section-1.tsx
  website/src/app/[lang]/[region]/(website)/donate/success/link-google-form.tsx
  website/src/app/[lang]/[region]/(website)/donate/success/page.tsx
  website/src/app/[lang]/[region]/(website)/layout.tsx
  website/src/app/[lang]/[region]/(website)/login/login-form.tsx
  website/src/app/[lang]/[region]/(website)/login/page.tsx
  website/src/app/[lang]/[region]/(website)/me/layout-client.tsx
  website/src/app/[lang]/[region]/(website)/me/layout.tsx
  website/src/app/[lang]/[region]/(website)/me/page.tsx
  website/src/app/[lang]/[region]/(website)/me/payments/contributions-table.tsx
  website/src/app/[lang]/[region]/(website)/me/payments/page.tsx
  website/src/app/[lang]/[region]/(website)/me/security/page.tsx
  website/src/app/[lang]/[region]/(website)/me/subscriptions/page.tsx
  website/src/app/[lang]/[region]/(website)/me/user-context-provider.tsx
  website/src/app/[lang]/[region]/donate/individual/page.tsx
  website/src/app/[lang]/[region]/donate/layout.tsx
  website/src/app/[lang]/[region]/donate/one-time/one-time-donation-form.tsx
  website/src/app/[lang]/[region]/donate/one-time/page.tsx
  website/src/app/[lang]/[region]/donate/success/create-user-form.tsx
  website/src/app/[lang]/[region]/donate/success/page.tsx
  website/src/app/[lang]/[region]/donate/success/single-sign-on-form.tsx
  website/src/app/api/stripe/checkout/new-payment/route.ts
  website/src/app/api/stripe/checkout/success/route.ts
  website/src/app/context-providers.tsx
  website/src/app/globals.css
  website/src/components/navbar/navbar-client.tsx
  website/src/components/navbar/navbar.tsx
  website/src/components/ui/currency-selector.tsx
  website/src/i18n.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Prettified Code!
  ui/src/components/form.tsx
  ui/src/globals.css
  website/src/app/globals.css
  website/src/components/navbar/navbar-client.tsx
Owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(website): update teams page (#622)
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/team.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): support one-time donations (#623)
  shared/locales/de/website-home.json
  shared/locales/de/website-me.json
  shared/locales/en/website-home.json
  shared/locales/en/website-me.json
  ui/src/components/button.tsx
  ui/src/components/form.tsx
  ui/src/components/input.tsx
  ui/src/components/select.tsx
  ui/src/globals.css
  website/src/app/[lang]/[region]/(website)/(home)/section-1-form.tsx
  website/src/app/[lang]/[region]/(website)/(home)/section-1.tsx
  website/src/app/[lang]/[region]/(website)/donate/success/link-google-form.tsx
  website/src/app/[lang]/[region]/(website)/donate/success/page.tsx
  website/src/app/[lang]/[region]/(website)/layout.tsx
  website/src/app/[lang]/[region]/(website)/login/login-form.tsx
  website/src/app/[lang]/[region]/(website)/login/page.tsx
  website/src/app/[lang]/[region]/(website)/me/layout-client.tsx
  website/src/app/[lang]/[region]/(website)/me/layout.tsx
  website/src/app/[lang]/[region]/(website)/me/page.tsx
  website/src/app/[lang]/[region]/(website)/me/payments/contributions-table.tsx
  website/src/app/[lang]/[region]/(website)/me/payments/page.tsx
  website/src/app/[lang]/[region]/(website)/me/security/page.tsx
  website/src/app/[lang]/[region]/(website)/me/subscriptions/page.tsx
  website/src/app/[lang]/[region]/(website)/me/user-context-provider.tsx
  website/src/app/[lang]/[region]/donate/individual/page.tsx
  website/src/app/[lang]/[region]/donate/layout.tsx
  website/src/app/[lang]/[region]/donate/one-time/one-time-donation-form.tsx
  website/src/app/[lang]/[region]/donate/one-time/page.tsx
  website/src/app/[lang]/[region]/donate/success/create-user-form.tsx
  website/src/app/[lang]/[region]/donate/success/page.tsx
  website/src/app/[lang]/[region]/donate/success/single-sign-on-form.tsx
  website/src/app/api/stripe/checkout/new-payment/route.ts
  website/src/app/api/stripe/checkout/success/route.ts
  website/src/app/context-providers.tsx
  website/src/app/globals.css
  website/src/components/navbar/navbar-client.tsx
  website/src/components/navbar/navbar.tsx
  website/src/components/ui/currency-selector.tsx
  website/src/i18n.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Deploy preview for PR 623 🛫
  pr-preview/pr-623/assets/typography.stories-cfa7fe25.js.map
  pr-preview/pr-623/project.json
Owners: none

Fixing nullable fields and converters
  recipients_app/lib/core/helpers/document_reference_converter.dart
  recipients_app/lib/core/helpers/timestamp_converter.dart
  recipients_app/lib/data/models/payment/social_income_payment.g.dart
  recipients_app/lib/data/models/recipient.g.dart
  recipients_app/lib/data/models/survey/survey.g.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Bump version
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Fix version
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Fixing nullable fields and converters (#624)
  recipients_app/lib/core/helpers/document_reference_converter.dart
  recipients_app/lib/core/helpers/timestamp_converter.dart
  recipients_app/lib/data/models/payment/social_income_payment.g.dart
  recipients_app/lib/data/models/recipient.g.dart
  recipients_app/lib/data/models/survey/survey.g.dart
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Bump version
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Bump version (#626)
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

example page
  shared/locales/en/website-evidence.json
  shared/src/utils/i18n.ts
  website/src/app/[lang]/[region]/(website)/bank/page.tsx
  website/src/app/[lang]/[region]/(website)/bank/section-1.tsx
  website/src/app/[lang]/[region]/(website)/example/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/ui/ rene@socialincome.org
.github/workflows/ui.yml rene@socialincome.org

firebase.json andras@socialincome.org michael@socialincome.org
firestore.rules andras@socialincome.org michael@socialincome.org
package.json andras@socialincome.org michael@socialincome.org
storage.rules andras@socialincome.org michael@socialincome.org

admin/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
functions/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
shared/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
recipients_app/ verena@socialincome.org mikolaj@socialincome.org sandino@socialincome.org
website/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org

*.md sandino@socialincome.org andras@socialincome.org michael@socialincome.org
