Repository socialincome-san/public, changes with the owners that CODEOWNERS names for each.
All owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, verena@socialincome.org, mikolaj@socialincome.org

Changed a subheading
  recipients_app/lib/l10n/app_kri.arb
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

use shadcn select component and slightly update styling
  package-lock.json
  shared/src/types/admin/Language.ts
  shared/src/types/admin/User.ts
  shared/src/utils/i18n.ts
  shared/src/utils/templates.ts
  ui/package.json
  ui/src/components/combobox/Combobox.stories.tsx
  ui/src/components/combobox/Combobox.tsx
  ui/src/components/combobox/index.ts
  ui/src/components/command.tsx
  ui/src/components/containers/base-container.tsx
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/language-switcher.tsx
  website/src/app/[lang]/[country]/(website)/about-us/section-1.tsx
  website/src/app/[lang]/[country]/(website)/layout.tsx
  website/src/components/footer/footer-client.tsx
  website/src/components/footer/footer.tsx
  website/src/components/navbar/language-switcher.tsx
  website/src/components/navbar/navbar-client.tsx
  website/src/components/navbar/navbar.tsx
  website/src/hooks/useTranslator.ts
  website/src/i18n.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Deploy preview for PR 568 🛫
  functions-playwright-report/pr-568/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-568/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-568/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-568/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-568/index.html
Owners: none

(website) refactor: Footer Migration (#568)
  package-lock.json
  shared/src/types/admin/Language.ts
  shared/src/types/admin/User.ts
  shared/src/utils/i18n.ts
  shared/src/utils/templates.ts
  ui/package.json
  ui/src/components/combobox/Combobox.stories.tsx
  ui/src/components/combobox/Combobox.tsx
  ui/src/components/combobox/index.ts
  ui/src/components/command.tsx
  ui/src/components/containers/base-container.tsx
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/language-switcher.tsx
  website/src/app/[lang]/[country]/(website)/about-us/section-1.tsx
  website/src/app/[lang]/[country]/(website)/layout.tsx
  website/src/components/footer/footer-client.tsx
  website/src/components/footer/footer.tsx
  website/src/components/navbar/language-switcher.tsx
  website/src/components/navbar/navbar-client.tsx
  website/src/components/navbar/navbar.tsx
  website/src/hooks/useTranslator.ts
  website/src/i18n.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Add fallback font family
  recipients_app/lib/ui/configs/app_styles.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Changed a subheading
  recipients_app/lib/kri_intl.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Pass locale to date formats
  recipients_app/lib/view/pages/payment_tile.dart
  recipients_app/lib/view/widgets/survey/survey_card_bottom_action.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Sandino/app krio translations (#570)
  recipients_app/lib/kri_intl.dart
  recipients_app/lib/l10n/app_kri.arb
  recipients_app/lib/ui/configs/app_styles.dart
  recipients_app/lib/view/pages/payment_tile.dart
  recipients_app/lib/view/widgets/survey/survey_card_bottom_action.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

fix ts error
  ui/src/components/carousel.tsx
Owners: rene@socialincome.org

Deploy preview for PR 571 🛫
  functions-playwright-report/pr-571/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-571/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-571/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-571/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-571/index.html
Owners: none

Prettified Code!
  shared/locales/de/website-our-work.json
  ui/src/globals.css
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Deploy preview for PR 571 🛫
  pr-preview/pr-571/assets/Color-6VNJS4EI-1e87d7af.js
  pr-preview/pr-571/assets/Color-6VNJS4EI-1e87d7af.js.map
  pr-preview/pr-571/assets/Color-6VNJS4EI-526ddb15.js
  pr-preview/pr-571/assets/Color-6VNJS4EI-526ddb15.js.map
  pr-preview/pr-571/assets/DocsRenderer-3PUGWF3O-c4207871.js
  pr-preview/pr-571/assets/DocsRenderer-3PUGWF3O-c4207871.js.map
  pr-preview/pr-571/assets/DocsRenderer-3PUGWF3O-dabd94fe.js
  pr-preview/pr-571/assets/DocsRenderer-3PUGWF3O-dabd94fe.js.map
  pr-preview/pr-571/assets/GlobalScrollAreaStyles-UY5SB7EJ-77fb19cf.js
  pr-preview/pr-571/assets/GlobalScrollAreaStyles-UY5SB7EJ-77fb19cf.js.map
  pr-preview/pr-571/assets/GlobalScrollAreaStyles-UY5SB7EJ-95b77bda.js
  pr-preview/pr-571/assets/GlobalScrollAreaStyles-UY5SB7EJ-95b77bda.js.map
  pr-preview/pr-571/assets/WithTooltip-J57HCPYA-784f0ff4.js
  pr-preview/pr-571/assets/WithTooltip-J57HCPYA-784f0ff4.js.map
  pr-preview/pr-571/assets/WithTooltip-J57HCPYA-f7f00c49.js
  pr-preview/pr-571/assets/WithTooltip-J57HCPYA-f7f00c49.js.map
  pr-preview/pr-571/assets/chunk-S4VUQJ4A-34dcedb4.js
  pr-preview/pr-571/assets/chunk-S4VUQJ4A-34dcedb4.js.map
  pr-preview/pr-571/assets/chunk-S4VUQJ4A-f2fde018.js.map
  pr-preview/pr-571/assets/formatter-SWP5E3XI-a67bd221.js
  pr-preview/pr-571/assets/formatter-SWP5E3XI-a67bd221.js.map
  pr-preview/pr-571/assets/formatter-SWP5E3XI-c49f48ce.js.map
  pr-preview/pr-571/assets/iframe-a0053061.js
  pr-preview/pr-571/assets/iframe-a0053061.js.map
  pr-preview/pr-571/assets/iframe-f4aab344.js
  pr-preview/pr-571/assets/iframe-f4aab344.js.map
  pr-preview/pr-571/assets/preview-184bf8c2.js
  pr-preview/pr-571/assets/preview-184bf8c2.js.map
  pr-preview/pr-571/assets/preview-42d0a31a.js
  pr-preview/pr-571/assets/preview-42d0a31a.js.map
  pr-preview/pr-571/assets/syntaxhighlighter-PONEFOSF-d294a72d.js
  pr-preview/pr-571/assets/syntaxhighlighter-PONEFOSF-d294a72d.js.map
  pr-preview/pr-571/assets/syntaxhighlighter-PONEFOSF-efc5bd0d.js
  pr-preview/pr-571/assets/syntaxhighlighter-PONEFOSF-efc5bd0d.js.map
  pr-preview/pr-571/assets/typography.stories-b12637fc.js
  pr-preview/pr-571/assets/typography.stories-b12637fc.js.map
  pr-preview/pr-571/assets/typography.stories-d2a9a6ce.js
  pr-preview/pr-571/assets/typography.stories-d2a9a6ce.js.map
  pr-preview/pr-571/iframe.html
  pr-preview/pr-571/project.json
Owners: none

Deploy preview for PR 571 🛫
  functions-playwright-report/pr-571/index.html
Owners: none

Deploy preview for PR 571 🛫
  pr-preview/pr-571/project.json
Owners: none

Deploy preview for PR 571 🛫
  functions-playwright-report/pr-571/index.html
Owners: none

Prettified Code!
  functions/src/webhooks/twilio/TwilioOutgoingMessageHandler.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 572 🛫
  functions-playwright-report/pr-572/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-572/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-572/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-572/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-572/index.html
Owners: none

Deploy preview for PR 572 🛫
  pr-preview/pr-572/project.json
Owners: none

Deploy preview for PR 572 🛫
  functions-playwright-report/pr-572/index.html
Owners: none

bump firecms version
  admin/package.json
  admin/src/collections/Users.tsx
  package-lock.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 572 🛫
  pr-preview/pr-572/project.json
Owners: none

Deploy preview for PR 572 🛫
  functions-playwright-report/pr-572/index.html
Owners: none

fix imports
  admin/package.json
  functions/package.json
  package-lock.json
  shared/package.json
  website/package.json
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/language-switcher.tsx
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/questionnaires.ts
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/survey.tsx
  website/src/app/[lang]/[country]/(website)/me/contact-details/page.tsx
  website/src/app/[lang]/[country]/(website)/me/contributions/contributions-table.tsx
  website/src/app/[lang]/[country]/(website)/me/user-context-provider.tsx
  website/src/app/[lang]/[country]/(website)/transparency/finances/[currency]/section-4.tsx
  website/src/app/api/stripe/billing-portal/route.ts
  website/src/app/api/user/create-auth-user/route.ts
  website/src/components/footer/footer-client.tsx
  website/src/components/footer/footer.tsx
  website/src/components/navbar/language-switcher.tsx
  website/src/components/navbar/navbar-client.tsx
  website/src/components/navbar/navbar.tsx
  website/src/hooks/useTranslator.ts
  website/src/i18n.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 572 🛫
  pr-preview/pr-572/assets/typography.stories-2129d96b.js.map
  pr-preview/pr-572/project.json
Owners: none

Deploy preview for PR 572 🛫
  functions-playwright-report/pr-572/index.html
Owners: none

fix imports
  package-lock.json
  ui/src/components/dialog.tsx
  website/package.json
  website/src/components/footer/footer-client.tsx
Owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bugfix(functions): pass bucket region to onObjectFinalized trigger
  functions/src/storage/postfinance-payments-files/index.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bugfix(functions): pass bucket region to onObjectFinalized trigger (#573)
  functions/src/storage/postfinance-payments-files/index.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 573 🛫
  functions-playwright-report/pr-573/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-573/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-573/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-573/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-573/index.html
Owners: none

bugfix(functions): re-enable auditCollectionTrigger function
  functions/src/index.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bugfix(functions): re-enable auditCollectionTrigger function (#574)
  functions/src/index.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 574 🛫
  functions-playwright-report/pr-574/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-574/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-574/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-574/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-574/index.html
Owners: none

feature(functions): set maxInstances in setGlobalOptions
  functions/src/index.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(functions): set maxInstances in setGlobalOptions (#575)
  functions/src/index.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 575 🛫
  functions-playwright-report/pr-575/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-575/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-575/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-575/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-575/index.html
Owners: none

refactor(functions): set payments-files bucket name through env
  .github/workflows/deployment.yml
  functions/.env.sample
  functions/src/config.ts
  functions/src/index.ts
  functions/src/storage/postfinance-payments-files/index.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(functions): migrate to v2 functions
  functions/src/config.ts
  functions/src/firestore/firestore-auditor/FirestoreAuditor.ts
  functions/src/firestore/firestore-auditor/index.ts
  functions/src/index.ts
  functions/src/webhooks/admin/donation-certificates/index.ts
  functions/src/webhooks/admin/payment-process/index.ts
  functions/src/webhooks/admin/scripts/index.ts
  functions/src/webhooks/stripe/index.ts
  functions/src/webhooks/website/survey-login/index.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

fix test
  functions/src/firestore/firestore-auditor/index.ts
  functions/src/webhooks/admin/payment-process/index.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 577 🛫
  functions-playwright-report/pr-577/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-577/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-577/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-577/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-577/index.html
Owners: none

refactor(functions): migrate to v2 functions (#577)
  functions/src/config.ts
  functions/src/firestore/firestore-auditor/FirestoreAuditor.ts
  functions/src/firestore/firestore-auditor/index.ts
  functions/src/index.ts
  functions/src/webhooks/admin/donation-certificates/index.ts
  functions/src/webhooks/admin/payment-process/index.ts
  functions/src/webhooks/admin/scripts/index.ts
  functions/src/webhooks/stripe/index.ts
  functions/src/webhooks/website/survey-login/index.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/ui/ rene@socialincome.org
.github/workflows/ui.yml rene@socialincome.org

firebase.json andras@socialincome.org michael@socialincome.org
firestore.rules andras@socialincome.org michael@socialincome.org
package.json andras@socialincome.org michael@socialincome.org
storage.rules andras@socialincome.org michael@socialincome.org

admin/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
functions/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
shared/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
recipients_app/ verena@socialincome.org mikolaj@socialincome.org sandino@socialincome.org
website/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org

*.md sandino@socialincome.org andras@socialincome.org michael@socialincome.org
