Repository socialincome-san/public, changes with the owners that CODEOWNERS names for each.
All owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, verena@socialincome.org, mikolaj@socialincome.org

CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/ui/ rene@socialincome.org
.github/workflows/ui.yml rene@socialincome.org

firebase.json andras@socialincome.org michael@socialincome.org
firestore.rules andras@socialincome.org michael@socialincome.org
package.json andras@socialincome.org michael@socialincome.org
storage.rules andras@socialincome.org michael@socialincome.org

admin/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
functions/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
shared/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
recipients_app/ verena@socialincome.org mikolaj@socialincome.org sandino@socialincome.org
website/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org

*.md sandino@socialincome.org andras@socialincome.org michael@socialincome.org

update ui dependencies
  package-lock.json
  ui/package.json
Owners: andras@socialincome.org, michael@socialincome.org

Deploy preview for PR 476 🛫
  pr-preview/pr-476/project.json
Owners: none

refactor(general): upgrade npm dependencies (#476)
  .github/workflows/actions/init/action.yml
  .github/workflows/website-update-snapshots.yml
  admin/package.json
  functions/package.json
  functions/src/webhooks/admin/scripts/index.ts
  functions/src/webhooks/stripe/StripeWebhook.test.ts
  functions/src/webhooks/stripe/index.ts
  package-lock.json
  package.json
  shared/package.json
  ui/package.json
  website/package.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 479 🛫
  functions-playwright-report/pr-479/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-479/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-479/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-479/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-479/index.html
Owners: none

refactor(ui): update components (wip)
  package-lock.json
  ui/.storybook/main.ts
  ui/package.json
  ui/src/components/button/Button.stories.tsx
  ui/src/components/button/Button.tsx
  ui/src/components/button/index.ts
  ui/src/components/container/Container.tsx
  ui/src/components/container/base-container.tsx
  ui/src/components/container/index.ts
  ui/src/components/index.ts
  ui/src/components/input/index.ts
  ui/src/components/input/input.stories.tsx
  ui/src/components/input/input.tsx
  ui/src/components/typography/Typography.stories.tsx
  ui/src/components/typography/Typography.tsx
  ui/src/components/typography/index.ts
  ui/src/foundations/Typography.stories.mdx
  ui/src/foundations/typography.stories.mdx
  ui/src/globals.css
  ui/src/interfaces/color.ts
  ui/src/interfaces/size.ts
  ui/src/lib/util/documentation/components/TypographyList.tsx
  ui/src/lib/util/documentation/components/index.ts
  ui/src/lib/util/documentation/components/typography-item.tsx
  ui/src/lib/util/documentation/components/typography-list.tsx
  ui/tailwind.config.ts
Owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org

Prettified Code!
  ui/src/foundations/typography.stories.mdx
Owners: rene@socialincome.org

refactor(website): update home page (wip)
  functions/src/webhooks/admin/donation-certificates/DonationCertificateHandler.ts
  functions/src/webhooks/twilio/TwilioOutgoingMessageHandler.ts
  functions/tests/playwright/demo-email.spec.ts
  shared/locales/de/website-home.json
  shared/locales/en/website-home.json
  shared/src/types/admin/Language.ts
  shared/src/types/admin/User.ts
  shared/src/utils/i18n.test.ts
  shared/src/utils/i18n.ts
  shared/src/utils/templates.test.ts
  shared/src/utils/templates.ts
  website/package.json
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/page.tsx
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/survey.tsx
  website/src/app/[lang]/[country]/(website)/(home)/house.gif
  website/src/app/[lang]/[country]/(website)/(home)/page.tsx
  website/src/app/[lang]/[country]/(website)/about-us/page.tsx
  website/src/app/[lang]/[country]/(website)/layout.tsx
  website/src/app/[lang]/[country]/(website)/our-work/page.tsx
  website/src/app/[lang]/[country]/(website)/page.tsx
  website/src/app/[lang]/[country]/(website)/test/page.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/page.tsx
  website/src/app/[lang]/[country]/index.ts
  website/src/components/client-component.tsx
  website/src/components/language-switcher/language-switcher-dropdown.tsx
  website/src/components/language-switcher/language-switcher.tsx
  website/src/components/logos/si-logo.tsx
  website/src/components/navbar/navbar.tsx
  website/src/i18n.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  ui/src/foundations/typography.stories.mdx
Owners: rene@socialincome.org

Deploy preview for PR 481 🛫
  functions-playwright-report/pr-481/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-481/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-481/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-481/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-481/index.html
Owners: none

Deploy preview for PR 481 🛫
  functions-playwright-report/pr-481/index.html
Owners: none

refactor(ui): update components (wip) (#480)
  package-lock.json
  ui/.storybook/main.ts
  ui/package.json
  ui/src/components/button/Button.stories.tsx
  ui/src/components/button/Button.tsx
  ui/src/components/button/index.ts
  ui/src/components/container/Container.tsx
  ui/src/components/container/base-container.tsx
  ui/src/components/container/index.ts
  ui/src/components/index.ts
  ui/src/components/input/index.ts
  ui/src/components/input/input.stories.tsx
  ui/src/components/input/input.tsx
  ui/src/components/typography/Typography.stories.tsx
  ui/src/components/typography/Typography.tsx
  ui/src/components/typography/index.ts
  ui/src/foundations/Typography.stories.mdx
  ui/src/foundations/typography.stories.mdx
  ui/src/globals.css
  ui/src/interfaces/color.ts
  ui/src/interfaces/size.ts
  ui/src/lib/util/documentation/components/TypographyList.tsx
  ui/src/lib/util/documentation/components/index.ts
  ui/src/lib/util/documentation/components/typography-item.tsx
  ui/src/lib/util/documentation/components/typography-list.tsx
  ui/tailwind.config.ts
Owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org

rename files
  ui/src/components/button/button.stories.tsx
  ui/src/components/button/button.tsx
Owners: rene@socialincome.org

rename files
  ui/src/components/typography/typography.stories.tsx
  ui/src/components/typography/typography.tsx
Owners: rene@socialincome.org

refactor(website): update home page (wip) (#481)
  functions/src/webhooks/admin/donation-certificates/DonationCertificateHandler.ts
  functions/src/webhooks/twilio/TwilioOutgoingMessageHandler.ts
  functions/tests/playwright/demo-email.spec.ts
  shared/locales/de/website-home.json
  shared/locales/en/website-home.json
  shared/src/types/admin/Language.ts
  shared/src/types/admin/User.ts
  shared/src/utils/i18n.test.ts
  shared/src/utils/i18n.ts
  shared/src/utils/templates.test.ts
  shared/src/utils/templates.ts
  ui/src/components/button/button.stories.tsx
  ui/src/components/button/button.tsx
  ui/src/components/typography/typography.stories.tsx
  ui/src/components/typography/typography.tsx
  website/package.json
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/page.tsx
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/survey.tsx
  website/src/app/[lang]/[country]/(website)/(home)/house.gif
  website/src/app/[lang]/[country]/(website)/(home)/page.tsx
  website/src/app/[lang]/[country]/(website)/about-us/page.tsx
  website/src/app/[lang]/[country]/(website)/layout.tsx
  website/src/app/[lang]/[country]/(website)/our-work/page.tsx
  website/src/app/[lang]/[country]/(website)/page.tsx
  website/src/app/[lang]/[country]/(website)/test/page.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/page.tsx
  website/src/app/[lang]/[country]/index.ts
  website/src/components/client-component.tsx
  website/src/components/language-switcher/language-switcher-dropdown.tsx
  website/src/components/language-switcher/language-switcher.tsx
  website/src/components/logos/si-logo.tsx
  website/src/components/navbar/navbar.tsx
  website/src/i18n.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Deploy preview for PR 478 🛫
  functions-playwright-report/pr-478/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-478/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-478/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-478/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-478/index.html
Owners: none

Deploying to gh-pages from @ socialincome-san/public@26aa29f2d77aa493a1c1e8eec20e938092f49590 🚀
  functions-playwright-report/pr-478/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-478/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-478/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-478/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-478/index.html
  project.json
Owners: none

refactor(website/ui): add modal and update home page (wip)
  .prettierrc
  package-lock.json
  package.json
  shared/locales/de/website-home.json
  shared/locales/en/website-home.json
  ui/src/components/button/button.tsx
  ui/src/components/combobox/Combobox.tsx
  ui/src/components/container/base-container.tsx
  ui/src/components/dropdown/dropdown.tsx
  ui/src/components/index.ts
  ui/src/components/input/input.tsx
  ui/src/components/modal/index.ts
  ui/src/components/modal/modal.tsx
  ui/src/components/select/Select.tsx
  ui/src/components/typography/typography.tsx
  ui/src/lib/util/documentation/components/typography-list.tsx
  website/package.json
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/layout.tsx
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/page.tsx
  website/src/app/[lang]/[country]/(website)/(home)/page.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-1.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-2.tsx
  website/src/app/[lang]/[country]/(website)/about-us/page.tsx
  website/src/app/[lang]/[country]/(website)/our-work/page.tsx
  website/src/app/layout.tsx
  website/src/app/not-found.tsx
  website/src/app/query-client.tsx
  website/src/components/navbar/navbar.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Deploy preview for PR 482 🛫
  functions-playwright-report/pr-482/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-482/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-482/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-482/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-482/index.html
Owners: none

refactor(website/ui): add modal and update home page (wip)
  .github/workflows/actions/init/action.yml
  .github/workflows/prettify-pr.yml
  .github/workflows/website-update-snapshots.yml
  package-lock.json
  package.json
Owners: andras@socialincome.org, michael@socialincome.org

Deploy preview for PR 482 🛫
  pr-preview/pr-482/project.json
Owners: none

refactor(website/ui): add modal and update home page (wip)
  .github/workflows/prettify-pr.yml
Owners: none

refactor(website/ui): add modal and update home page (wip)
  .github/workflows/prettify-pr.yml
  .prettierrc
Owners: none

refactor(website/ui): add modal and update home page (wip)
  .github/workflows/prettify-pr.yml
Owners: none

wip
  .github/workflows/prettify-pr.yml
  ui/src/components/button/button.tsx
  ui/src/components/container/base-container.tsx
  ui/src/components/modal/modal.tsx
  ui/src/components/typography/typography.tsx
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/questionnaires.ts
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/survey.tsx
  website/src/app/[lang]/[country]/(website)/(home)/page.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-1.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-2.tsx
  website/src/app/layout.tsx
  website/src/components/language-switcher/language-switcher-dropdown.tsx
  website/src/components/language-switcher/language-switcher.tsx
  website/src/components/navbar/navbar.tsx
  website/src/i18n.ts
Owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  admin/package.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

wip
  .github/workflows/prettify-pr.yml
Owners: none

Deploy preview for PR 482 🛫
  pr-preview/pr-482/assets/button-22a4ae0f.js.map
  pr-preview/pr-482/assets/typography-4637c7d4.js.map
  pr-preview/pr-482/assets/typography.stories-921534ed.js.map
  pr-preview/pr-482/project.json
Owners: none

wip
  .github/workflows/prettify-pr.yml
Owners: none

wip
  .github/workflows/prettify-pr.yml
Owners: none

Deploy preview for PR 482 🛫
  pr-preview/pr-482/project.json
Owners: none

Deploy preview for PR 482 🛫
  pr-preview/pr-482/project.json
Owners: none

wip
  .github/workflows/prettify-pr.yml
Owners: none

wip
  .github/workflows/prettify-pr.yml
Owners: none

wip
  .github/workflows/prettify-pr.yml
  package.json
Owners: andras@socialincome.org, michael@socialincome.org

wip
  .github/workflows/prettify-pr.yml
  admin/package.json
  package-lock.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 482 🛫
  pr-preview/pr-482/project.json
  pr-preview/pr-482/sb-manager/chunk-6XESPNK2.js
  pr-preview/pr-482/sb-manager/index.js
  pr-preview/pr-482/sb-manager/runtime.js
Owners: none

wip
  .github/workflows/prettify-pr.yml
Owners: none

refactor(website/ui): add modal and update home page (wip) (#482)
  .github/workflows/actions/init/action.yml
  .github/workflows/prettify-pr.yml
  .github/workflows/website-update-snapshots.yml
  .prettierrc
  admin/package.json
  package-lock.json
  package.json
  shared/locales/de/website-home.json
  shared/locales/en/website-home.json
  ui/src/components/button/button.tsx
  ui/src/components/combobox/Combobox.tsx
  ui/src/components/container/base-container.tsx
  ui/src/components/dropdown/dropdown.tsx
  ui/src/components/index.ts
  ui/src/components/input/input.tsx
  ui/src/components/modal/index.ts
  ui/src/components/modal/modal.tsx
  ui/src/components/select/Select.tsx
  ui/src/components/typography/typography.tsx
  ui/src/lib/util/documentation/components/typography-list.tsx
  website/package.json
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/layout.tsx
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/page.tsx
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/questionnaires.ts
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/survey.tsx
  website/src/app/[lang]/[country]/(website)/(home)/page.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-1.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-2.tsx
  website/src/app/[lang]/[country]/(website)/about-us/page.tsx
  website/src/app/[lang]/[country]/(website)/our-work/page.tsx
  website/src/app/layout.tsx
  website/src/app/not-found.tsx
  website/src/app/query-client.tsx
  website/src/components/language-switcher/language-switcher-dropdown.tsx
  website/src/components/language-switcher/language-switcher.tsx
  website/src/components/navbar/navbar.tsx
  website/src/i18n.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

feature(admin): add upcoming surveys view
  admin/package.json
  admin/src/App.tsx
  admin/src/collections/recipients/Recipients.tsx
  admin/src/collections/recipients/RecipientsProperties.ts
  admin/src/collections/recipients/RecipientsSurveys.tsx
  admin/src/collections/shared.ts
  admin/src/collections/surveys/Surveys.tsx
  admin/src/collections/surveys/SurveysProperties.ts
  admin/src/views/NextSurveysView.tsx
  admin/src/views/PaymentsConfirmationView.tsx
  admin/src/views/ScriptsView.tsx
  functions/src/webhooks/admin/payment-process/tasks/CreatePaymentsTask.test.ts
  functions/src/webhooks/admin/payment-process/tasks/CreatePaymentsTask.ts
  package-lock.json
  seed/auth_export/accounts.json
  seed/firebase-export-metadata.json
  seed/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  seed/firestore_export/all_namespaces/all_kinds/output-0
  seed/firestore_export/firestore_export.overall_export_metadata
  shared/src/types/admin/Survey.ts
  shared/src/utils/date.ts
  shared/src/utils/stats/PaymentStatsCalculator.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 483 🛫
  functions-playwright-report/pr-483/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-483/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-483/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-483/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-483/index.html
Owners: none
