Repository socialincome-san/public, changes with the owners that CODEOWNERS names for each.
All owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, verena@socialincome.org, mikolaj@socialincome.org

CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/ui/ rene@socialincome.org
.github/workflows/ui.yml rene@socialincome.org

firebase.json andras@socialincome.org michael@socialincome.org
firestore.rules andras@socialincome.org michael@socialincome.org
package.json andras@socialincome.org michael@socialincome.org
storage.rules andras@socialincome.org michael@socialincome.org

admin/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
functions/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
shared/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
recipients_app/ verena@socialincome.org mikolaj@socialincome.org sandino@socialincome.org
website/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org

*.md sandino@socialincome.org andras@socialincome.org michael@socialincome.org

Implement Unica77 font with custom font feature settings on website (#651)
  ui/src/globals.css
  ui/tailwind.config.ts
Owners: rene@socialincome.org

updates
  shared/locales/de/website-poverty-statistics-2023.json
  shared/locales/en/website-poverty-statistics-2023.json
  website/src/app/[lang]/[region]/(website)/world-poverty-statistics-2023/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/app/[lang]/[region]/(website)/world-poverty-statistics-2023/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

updates
  ui/src/components/button.tsx
  website/src/app/[lang]/[region]/(website)/world-poverty-statistics-2023/page.tsx
Owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/app/[lang]/[region]/(website)/world-poverty-statistics-2023/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 650 🛫
  pr-preview/pr-650/assets/Color-6VNJS4EI-61ab7b26.js
  pr-preview/pr-650/assets/Color-6VNJS4EI-61ab7b26.js.map
  pr-preview/pr-650/assets/Color-6VNJS4EI-d36534a8.js
  pr-preview/pr-650/assets/Color-6VNJS4EI-d36534a8.js.map
  pr-preview/pr-650/assets/DocsRenderer-NNNQARDV-28c24c34.js
  pr-preview/pr-650/assets/DocsRenderer-NNNQARDV-28c24c34.js.map
  pr-preview/pr-650/assets/DocsRenderer-NNNQARDV-8d64a7fb.js
  pr-preview/pr-650/assets/DocsRenderer-NNNQARDV-8d64a7fb.js.map
  pr-preview/pr-650/assets/WithTooltip-4HIR6TLV-5b8da572.js
  pr-preview/pr-650/assets/WithTooltip-4HIR6TLV-5b8da572.js.map
  pr-preview/pr-650/assets/WithTooltip-4HIR6TLV-cb655a62.js
  pr-preview/pr-650/assets/WithTooltip-4HIR6TLV-cb655a62.js.map
  pr-preview/pr-650/assets/chunk-HLWAVYOI-336ab418.js.map
  pr-preview/pr-650/assets/chunk-HLWAVYOI-baf29946.js
  pr-preview/pr-650/assets/chunk-HLWAVYOI-baf29946.js.map
  pr-preview/pr-650/assets/formatter-SWP5E3XI-336ea1c4.js
  pr-preview/pr-650/assets/formatter-SWP5E3XI-336ea1c4.js.map
  pr-preview/pr-650/assets/formatter-SWP5E3XI-7719ed1e.js.map
  pr-preview/pr-650/assets/iframe-4fb17af9.js
  pr-preview/pr-650/assets/iframe-4fb17af9.js.map
  pr-preview/pr-650/assets/iframe-9fed558b.js
  pr-preview/pr-650/assets/iframe-9fed558b.js.map
  pr-preview/pr-650/assets/preview-035388c4.js
  pr-preview/pr-650/assets/preview-035388c4.js.map
  pr-preview/pr-650/assets/preview-46bed7a1.js
  pr-preview/pr-650/assets/preview-46bed7a1.js.map
  pr-preview/pr-650/assets/syntaxhighlighter-NMPM6SWI-8556768e.js
  pr-preview/pr-650/assets/syntaxhighlighter-NMPM6SWI-8556768e.js.map
  pr-preview/pr-650/assets/syntaxhighlighter-NMPM6SWI-ce83f746.js
  pr-preview/pr-650/assets/syntaxhighlighter-NMPM6SWI-ce83f746.js.map
  pr-preview/pr-650/assets/typography.stories-292df269.js.map
  pr-preview/pr-650/assets/typography.stories-df92b046.js
  pr-preview/pr-650/assets/typography.stories-df92b046.js.map
  pr-preview/pr-650/iframe.html
  pr-preview/pr-650/project.json
Owners: none

Deploy preview for PR 650 🛫
  pr-preview/pr-650/project.json
Owners: none

feature(website): basic page for article (poverty statistics) (#650)
  shared/locales/de/website-poverty-statistics-2023.json
  shared/locales/en/website-poverty-statistics-2023.json
  ui/src/components/button.tsx
  website/src/app/[lang]/[region]/(website)/world-poverty-statistics-2023/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Deploying to gh-pages from @ socialincome-san/public@14325d38d5c31fd27628f68252f2f72c9e759f87 🚀
  assets/Color-6VNJS4EI-a03456ec.js
  assets/Color-6VNJS4EI-a03456ec.js.map
  assets/Color-6VNJS4EI-df2b8efd.js
  assets/Color-6VNJS4EI-df2b8efd.js.map
  assets/DocsRenderer-NNNQARDV-c54616c0.js
  assets/DocsRenderer-NNNQARDV-c54616c0.js.map
  assets/DocsRenderer-NNNQARDV-c694e1cb.js
  assets/DocsRenderer-NNNQARDV-c694e1cb.js.map
  assets/WithTooltip-4HIR6TLV-d08ab269.js
  assets/WithTooltip-4HIR6TLV-d08ab269.js.map
  assets/WithTooltip-4HIR6TLV-edecc311.js
  assets/WithTooltip-4HIR6TLV-edecc311.js.map
  assets/chunk-HLWAVYOI-56982b29.js
  assets/chunk-HLWAVYOI-56982b29.js.map
  assets/chunk-HLWAVYOI-9d4fc6fc.js.map
  assets/formatter-SWP5E3XI-3910f897.js.map
  assets/formatter-SWP5E3XI-d7a50490.js
  assets/formatter-SWP5E3XI-d7a50490.js.map
  assets/iframe-07fae275.js
  assets/iframe-07fae275.js.map
  assets/iframe-6a1218db.js
  assets/iframe-6a1218db.js.map
  assets/preview-8b35bab8.js
  assets/preview-8b35bab8.js.map
  assets/preview-cd337794.js
  assets/preview-cd337794.js.map
  assets/syntaxhighlighter-NMPM6SWI-8056989f.js
  assets/syntaxhighlighter-NMPM6SWI-8056989f.js.map
  assets/syntaxhighlighter-NMPM6SWI-b2edac5f.js
  assets/syntaxhighlighter-NMPM6SWI-b2edac5f.js.map
  assets/typography.stories-0eea97b2.js.map
  assets/typography.stories-da62137f.js
  assets/typography.stories-da62137f.js.map
  iframe.html
  project.json
Owners: none

combined financial and selection transparency into a single navbar item
  shared/locales/de/website-selection.json
  shared/locales/en/website-selection.json
  website/src/app/[lang]/[country]/(website)/selection/collapsible.tsx
  website/src/app/[lang]/[country]/(website)/selection/page.tsx
  website/src/app/[lang]/[country]/(website)/selection/state.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

moved translations into server component
  shared/locales/de/website-selection.json
  shared/locales/en/website-selection.json
  website/src/app/[lang]/[country]/(website)/selection/collapsible.tsx
  website/src/app/[lang]/[country]/(website)/selection/page.tsx
  website/src/app/[lang]/[country]/(website)/selection/state.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

first pass at some layout with static data
  shared/locales/de/website-selection.json
  shared/locales/en/website-selection.json
  website/src/app/[lang]/[country]/(website)/selection/page.tsx
  website/src/components/navbar/navbar.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

modularised the UI components of selection a bit better
  website/src/app/[lang]/[country]/(website)/selection/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

added translations for all the text
  shared/locales/de/website-selection.json
  shared/locales/en/website-selection.json
  website/src/app/[lang]/[country]/(website)/selection/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

fixed draw time
  website/src/app/[lang]/[country]/(website)/selection/drawCard.tsx
  website/src/app/[lang]/[country]/(website)/selection/page.tsx
  website/src/app/[lang]/[country]/(website)/selection/state.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

updated card format
  draws_upcoming/aurora.json
  shared/locales/de/website-selection.json
  shared/locales/en/website-selection.json
  website/src/app/[lang]/[country]/(website)/selection/drawCard.tsx
  website/src/app/[lang]/[country]/(website)/selection/page.tsx
  website/src/app/[lang]/[country]/(website)/selection/state.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

fixed a translation key
  website/src/app/[lang]/[country]/(website)/selection/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

handled scenario where no draws exist
  website/src/app/[lang]/[country]/(website)/selection/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

explainer text for selection process
  draws_upcoming/aurora.json
  recipients_selection/draws/10-aurora-2023-10-31.txt
  recipients_selection/draws/2-testlist
  recipients_selection/lists/2-testlist
  shared/locales/de/website-selection.json
  shared/locales/en/website-selection.json
  website/src/app/[lang]/[country]/(website)/selection/drawCard.tsx
  website/src/app/[lang]/[country]/(website)/selection/page.tsx
  website/src/app/[lang]/[country]/(website)/selection/state.ts
  website/src/app/[lang]/[region]/(website)/transparency/recipient-selection/drawCard.tsx
  website/src/app/[lang]/[region]/(website)/transparency/recipient-selection/explainer.tsx
  website/src/app/[lang]/[region]/(website)/transparency/recipient-selection/page.tsx
  website/src/app/[lang]/[region]/(website)/transparency/recipient-selection/state.ts
  website/src/components/navbar/navbar.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/app/[lang]/[region]/(website)/transparency/recipient-selection/drawCard.tsx
  website/src/app/[lang]/[region]/(website)/transparency/recipient-selection/explainer.tsx
  website/src/app/[lang]/[region]/(website)/transparency/recipient-selection/page.tsx
  website/src/app/[lang]/[region]/(website)/transparency/recipient-selection/state.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Adding landing pages for existing search ads
  shared/locales/de/website-how-to-reduce-income-inequality.json
  shared/locales/de/website-poverty-statistics-2024.json
  shared/locales/de/website-what-is-poverty.json
  shared/locales/en/website-how-to-reduce-income-inequality.json
  shared/locales/en/website-poverty-statistics-2024.json
  shared/locales/en/website-what-is-poverty.json
  website/src/app/[lang]/[region]/(website)/how-to-reduce-income-inequality/page.tsx
  website/src/app/[lang]/[region]/(website)/what-is-poverty/page.tsx
  website/src/app/[lang]/[region]/(website)/world-poverty-statistics-2024/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): update payment flow
  shared/locales/de/common.json
  shared/locales/de/website-bank-details.json
  shared/locales/de/website-donate.json
  shared/locales/de/website-evidence.json
  shared/locales/de/website-faq.json
  shared/locales/de/website-home.json
  shared/locales/de/website-our-work.json
  shared/locales/en/common.json
  shared/locales/en/website-donate.json
  shared/src/stripe/StripeEventHandler.ts
  shared/src/types/user.ts
  ui/src/globals.css
  website/src/app/[lang]/[region]/(website)/(home)/section-1.tsx
  website/src/app/[lang]/[region]/(website)/(home)/section-5-card.tsx
  website/src/app/[lang]/[region]/(website)/me/personal-info/personal-info-form.tsx
  website/src/app/[lang]/[region]/(website)/me/subscriptions/billing-portal-button.tsx
  website/src/app/[lang]/[region]/(website)/terms-of-use/page.tsx
  website/src/app/[lang]/[region]/donate/individual/donation-form.tsx
  website/src/app/[lang]/[region]/donate/one-time/one-time-donation-form.tsx
  website/src/app/[lang]/[region]/donate/one-time/page.tsx
  website/src/app/[lang]/[region]/donate/success/page.tsx
  website/src/app/[lang]/[region]/donate/success/stripe/[session]/activate/create-user-form.tsx
  website/src/app/[lang]/[region]/donate/success/stripe/[session]/activate/page.tsx
  website/src/app/[lang]/[region]/donate/success/stripe/[session]/activate/single-sign-on-form.tsx
  website/src/app/[lang]/[region]/donate/success/stripe/[session]/layout.tsx
  website/src/app/[lang]/[region]/donate/success/stripe/[session]/page.tsx
  website/src/app/[lang]/[region]/donate/success/stripe/[session]/success-form.tsx
  website/src/app/api/stripe/billing-portal-session/create/route.ts
  website/src/app/api/stripe/checkout-session/create/route.ts
  website/src/app/api/stripe/checkout/success/route.ts
  website/src/app/api/user/create-auth-user/route.ts
  website/src/app/api/user/link-auth-user/route.ts
  website/src/app/api/user/update-password/route.ts
  website/src/app/api/user/update/route.ts
  website/src/components/navbar/navbar-client.tsx
  website/src/middleware.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

feature(website): update payment flow
  website/src/app/[lang]/[region]/donate/success/stripe/[session]/layout.tsx
  website/src/app/[lang]/[region]/donate/success/stripe/[session]/success-form.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/app/[lang]/[region]/(website)/how-to-reduce-income-inequality/page.tsx
  website/src/app/[lang]/[region]/(website)/what-is-poverty/page.tsx
  website/src/app/[lang]/[region]/(website)/world-poverty-statistics-2023/page.tsx
  website/src/app/[lang]/[region]/(website)/world-poverty-statistics-2024/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  shared/locales/de/website-donate.json
  shared/locales/en/website-donate.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 653 🛫
  pr-preview/pr-653/project.json
Owners: none

feature(website): update payment flow (#653)
  shared/locales/de/common.json
  shared/locales/de/website-bank-details.json
  shared/locales/de/website-donate.json
  shared/locales/de/website-evidence.json
  shared/locales/de/website-faq.json
  shared/locales/de/website-home.json
  shared/locales/de/website-our-work.json
  shared/locales/en/common.json
  shared/locales/en/website-donate.json
  shared/src/stripe/StripeEventHandler.ts
  shared/src/types/user.ts
  ui/src/globals.css
  website/src/app/[lang]/[region]/(website)/(home)/section-1.tsx
  website/src/app/[lang]/[region]/(website)/(home)/section-5-card.tsx
  website/src/app/[lang]/[region]/(website)/me/personal-info/personal-info-form.tsx
  website/src/app/[lang]/[region]/(website)/me/subscriptions/billing-portal-button.tsx
  website/src/app/[lang]/[region]/(website)/terms-of-use/page.tsx
  website/src/app/[lang]/[region]/donate/individual/donation-form.tsx
  website/src/app/[lang]/[region]/donate/one-time/one-time-donation-form.tsx
  website/src/app/[lang]/[region]/donate/one-time/page.tsx
  website/src/app/[lang]/[region]/donate/success/page.tsx
  website/src/app/[lang]/[region]/donate/success/stripe/[session]/activate/create-user-form.tsx
  website/src/app/[lang]/[region]/donate/success/stripe/[session]/activate/page.tsx
  website/src/app/[lang]/[region]/donate/success/stripe/[session]/activate/single-sign-on-form.tsx
  website/src/app/[lang]/[region]/donate/success/stripe/[session]/layout.tsx
  website/src/app/[lang]/[region]/donate/success/stripe/[session]/page.tsx
  website/src/app/[lang]/[region]/donate/success/stripe/[session]/success-form.tsx
  website/src/app/api/stripe/billing-portal-session/create/route.ts
  website/src/app/api/stripe/checkout-session/create/route.ts
  website/src/app/api/stripe/checkout/success/route.ts
  website/src/app/api/user/create-auth-user/route.ts
  website/src/app/api/user/link-auth-user/route.ts
  website/src/app/api/user/update-password/route.ts
  website/src/app/api/user/update/route.ts
  website/src/components/navbar/navbar-client.tsx
  website/src/middleware.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

feature(website): add landing pages for existing search ads (#652)
  shared/locales/de/website-how-to-reduce-income-inequality.json
  shared/locales/de/website-poverty-statistics-2024.json
  shared/locales/de/website-what-is-poverty.json
  shared/locales/en/website-how-to-reduce-income-inequality.json
  shared/locales/en/website-poverty-statistics-2024.json
  shared/locales/en/website-what-is-poverty.json
  website/src/app/[lang]/[region]/(website)/how-to-reduce-income-inequality/page.tsx
  website/src/app/[lang]/[region]/(website)/what-is-poverty/page.tsx
  website/src/app/[lang]/[region]/(website)/world-poverty-statistics-2024/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Readme Changes
  README.md
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

Readme Changes
  README.md
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

Prettified Code!
  README.md
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

Update README.md
  README.md
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

update styling
  shared/locales/de/website-recipient-selection.json
  shared/locales/de/website-selection.json
  shared/locales/en/website-recipient-selection.json
  shared/locales/en/website-selection.json
  website/src/app/[lang]/[region]/(website)/transparency/recipient-selection/draw-card.tsx
  website/src/app/[lang]/[region]/(website)/transparency/recipient-selection/drawCard.tsx
  website/src/app/[lang]/[region]/(website)/transparency/recipient-selection/explainer.tsx
  website/src/app/[lang]/[region]/(website)/transparency/recipient-selection/page.tsx
  website/src/app/[lang]/[region]/(website)/transparency/recipient-selection/state.ts
  website/src/components/navbar/navbar-client.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  shared/locales/de/website-recipient-selection.json
  shared/locales/en/website-recipient-selection.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): recipients selection page (#563)
  recipients_selection/draws/10-aurora-2023-10-31.txt
  recipients_selection/draws/2-testlist
  recipients_selection/lists/2-testlist
  shared/locales/de/website-recipient-selection.json
  shared/locales/en/website-recipient-selection.json
  website/src/app/[lang]/[region]/(website)/transparency/recipient-selection/draw-card.tsx
  website/src/app/[lang]/[region]/(website)/transparency/recipient-selection/page.tsx
  website/src/app/[lang]/[region]/(website)/transparency/recipient-selection/state.ts
  website/src/components/navbar/navbar-client.tsx
  website/src/components/navbar/navbar.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Add arts page (still incomplete)
  shared/locales/de/website-arts.json
  shared/locales/en/website-arts.json
  website/src/app/[lang]/[region]/(website)/arts/page.tsx
  website/src/app/[lang]/[region]/(website)/arts/section-1.tsx
  website/src/app/[lang]/[region]/(website)/arts/section-2.tsx
  website/src/app/[lang]/[region]/(website)/arts/section-card.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(general): update readme (#654)
  README.md
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

feature(website): reporting page
  shared/locales/de/website-common.json
  shared/locales/de/website-reporting.json
  shared/locales/en/website-common.json
  shared/locales/en/website-reporting.json
  website/src/app/[lang]/[region]/(website)/transparency/reporting/page.tsx
  website/src/components/navbar/navbar-client.tsx
  website/src/components/navbar/navbar.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

styling and translation adjustments
  shared/locales/de/website-arts.json
  shared/locales/en/website-arts.json
  website/src/app/[lang]/[region]/(website)/arts/section-1.tsx
  website/src/app/[lang]/[region]/(website)/arts/section-2.tsx
  website/src/app/[lang]/[region]/(website)/arts/section-card.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Layout and Language changes
  shared/locales/de/website-about-us.json
  shared/locales/en/website-about-us.json
  website/src/app/[lang]/[region]/(website)/about-us/(assets)/pranav.jpg
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/100-percent-model.tsx
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/flow-of-funds.tsx
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/our-mission.tsx
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/team.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org
