Repository socialincome-san/public, changes with the owners that CODEOWNERS names for each.
All owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, verena@socialincome.org, mikolaj@socialincome.org

CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/ui/ rene@socialincome.org
.github/workflows/ui.yml rene@socialincome.org

firebase.json andras@socialincome.org michael@socialincome.org
firestore.rules andras@socialincome.org michael@socialincome.org
package.json andras@socialincome.org michael@socialincome.org
storage.rules andras@socialincome.org michael@socialincome.org

admin/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
functions/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
shared/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
recipients_app/ verena@socialincome.org mikolaj@socialincome.org sandino@socialincome.org
website/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org

*.md sandino@socialincome.org andras@socialincome.org michael@socialincome.org

refactor(functions): migrate scheduler functions to v2
  functions/src/cron/exchange-rate-import/ExchangeRateImporter.ts
  functions/src/cron/exchange-rate-import/index.ts
  functions/src/cron/postfinance-balance-import/PostFinanceBalanceImporter.ts
  functions/src/cron/postfinance-balance-import/index.ts
  functions/src/webhooks/admin/scripts/index.ts
  functions/src/webhooks/stripe/index.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(functions): fix broken import
  functions/src/cron/exchange-rate-import/index.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bugfix(admin): calling migrated functions
  admin/src/actions/CreateDonationCertificatesAction.tsx
  admin/src/actions/InviteWhatsappAction.tsx
  admin/src/actions/PaymentProcessAction.tsx
  admin/src/views/ScriptsView.tsx
  functions/src/config.ts
  functions/src/firestore/firestore-auditor/index.ts
  functions/src/index.ts
  functions/src/webhooks/admin/payment-process/index.ts
  shared/src/firebase/client/init.ts
  shared/src/firebase/index.ts
  website/src/app/providers.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 578 🛫
  functions-playwright-report/pr-578/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-578/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-578/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-578/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-578/index.html
Owners: none

fix tests
  shared/src/stripe/StripeWebhookHandler.test.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 578 🛫
  functions-playwright-report/pr-578/index.html
Owners: none

bugfix(admin): calling migrated functions (#578)
  admin/src/actions/CreateDonationCertificatesAction.tsx
  admin/src/actions/InviteWhatsappAction.tsx
  admin/src/actions/PaymentProcessAction.tsx
  admin/src/views/ScriptsView.tsx
  functions/src/config.ts
  functions/src/firestore/firestore-auditor/index.ts
  functions/src/index.ts
  functions/src/webhooks/admin/payment-process/index.ts
  shared/src/firebase/client/init.ts
  shared/src/firebase/index.ts
  shared/src/stripe/StripeWebhookHandler.test.ts
  website/src/app/providers.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 567 🛫
  functions-playwright-report/pr-567/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-567/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-567/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-567/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-567/index.html
Owners: none

updated draw action to raise a PR (#567)
  .github/workflows/execute-draw.yml
Owners: none

Add files for books page
  shared/locales/en/website-books.json
  website/src/app/[lang]/[country]/(website)/books/better.jpg
  website/src/app/[lang]/[country]/(website)/books/coming.jpg
  website/src/app/[lang]/[country]/(website)/books/divide.jpg
  website/src/app/[lang]/[country]/(website)/books/freedom.jpg
  website/src/app/[lang]/[country]/(website)/books/hard.jpg
  website/src/app/[lang]/[country]/(website)/books/life.jpg
  website/src/app/[lang]/[country]/(website)/books/lowrey.jpg
  website/src/app/[lang]/[country]/(website)/books/page.tsx
  website/src/app/[lang]/[country]/(website)/books/poor-economics.jpg
  website/src/app/[lang]/[country]/(website)/books/section-1.tsx
  website/src/app/[lang]/[country]/(website)/books/section-2.tsx
  website/src/app/[lang]/[country]/(website)/books/utopia.jpg
  website/src/components/book/book.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Change 12 months title to generic
  recipients_app/lib/l10n/app_en.arb
  recipients_app/lib/l10n/app_kri.arb
  recipients_app/lib/view/widgets/survey/survey_card_container.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Add 2 more error messages
  recipients_app/lib/view/pages/welcome_page.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Move error localization to helper file to be accessible from different places
  recipients_app/lib/view/error_localization_helper.dart
  recipients_app/lib/view/pages/welcome_page.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Deploy preview for PR 583 🛫
  functions-playwright-report/pr-583/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-583/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-583/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-583/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-583/index.html
Owners: none

refactor(ui): improve carousel
  ui/src/components/carousel.tsx
  website/src/app/[lang]/[country]/(website)/our-work/section-contributors-carousel.tsx
Owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(ui): improve carousel (#584)
  ui/src/components/carousel.tsx
  website/src/app/[lang]/[country]/(website)/our-work/section-contributors-carousel.tsx
Owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Work on suggested changes
  shared/locales/en/website-books.json
  website/src/app/[lang]/[country]/(website)/books/section-1.tsx
  website/src/components/book/book.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  shared/locales/en/website-books.json
  website/src/app/[lang]/[country]/(website)/books/section-1.tsx
  website/src/components/book/book.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 583 🛫
  functions-playwright-report/pr-583/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-583/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-583/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-583/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-583/index.html
Owners: none

Deploy preview for PR 583 🛫
  functions-playwright-report/pr-583/index.html
Owners: none

Deploying to gh-pages from @ socialincome-san/public@89a2bc365f4d4b5a9b66bb80856565979749737e 🚀
  functions-playwright-report/pr-583/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-583/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-583/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-583/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-583/index.html
  project.json
Owners: none

Deploying to gh-pages from @ socialincome-san/public@acc86d905e2bf691a99b7b6e2b6c971213183761 🚀
  project.json
Owners: none

Deploy preview for PR 588 🛫
  pr-preview/pr-588/project.json
Owners: none

undo unwanted changes
  admin/src/App.tsx
  admin/src/collections/Admins.ts
  admin/src/collections/Contributions.ts
  admin/src/collections/Messages.ts
  admin/src/collections/OperationalExpenses.ts
  admin/src/collections/PartnerOrganisations.ts
  admin/src/collections/Users.tsx
  admin/src/collections/recipients/Recipients.tsx
  admin/src/collections/recipients/RecipientsPayments.tsx
  admin/src/collections/surveys/Surveys.tsx
  functions/src/cron/exchange-rate-import/ExchangeRateImporter.test.ts
  functions/src/webhooks/admin/donation-certificates/DonationCertificateHandler.ts
  ui/tailwind.config.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Deploy preview for PR 588 🛫
  functions-playwright-report/pr-588/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-588/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-588/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-588/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-588/index.html
Owners: none

undo unwanted changes
  website/src/app/[lang]/[country]/(website)/me/contributions/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 583 🛫
  functions-playwright-report/pr-583/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-583/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-583/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-583/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-583/index.html
Owners: none

Various styling cleanups
  website/src/app/[lang]/[country]/(website)/books/(assets)/better.jpg
  website/src/app/[lang]/[country]/(website)/books/(assets)/coming.jpg
  website/src/app/[lang]/[country]/(website)/books/(assets)/divide.jpg
  website/src/app/[lang]/[country]/(website)/books/(assets)/freedom.jpg
  website/src/app/[lang]/[country]/(website)/books/(assets)/hard.jpg
  website/src/app/[lang]/[country]/(website)/books/(assets)/life.jpg
  website/src/app/[lang]/[country]/(website)/books/(assets)/lowrey.jpg
  website/src/app/[lang]/[country]/(website)/books/(assets)/poor-economics.jpg
  website/src/app/[lang]/[country]/(website)/books/(assets)/utopia.jpg
  website/src/app/[lang]/[country]/(website)/books/section-1.tsx
  website/src/app/[lang]/[country]/(website)/books/section-2.tsx
  website/src/components/book/book.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): inital teams page
  shared/locales/de/website-team.json
  shared/locales/en/website-team.json
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/alexandre.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/anders.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/andras.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/anvita.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/aurelie.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/carlos.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/flavien.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/juan.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/julia.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/kabelo.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/kerrin.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/larissa.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/mabel.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/mariatu.jpg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/marion.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/michael.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/mikolaj.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/rene.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/riccardo.jpg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/sandino.jpg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/sarvesh.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/simone.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/thomas.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/verena.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  shared/locales/de/website-team.json
  shared/locales/en/website-team.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 590 🛫
  functions-playwright-report/pr-590/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-590/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-590/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-590/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-590/index.html
Owners: none

Deploy preview for PR 590 🛫
  functions-playwright-report/pr-590/index.html
Owners: none

increase spacing between groups
  website/src/app/[lang]/[country]/(website)/about-us/team/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Adding mechanism to fix copy paste behaviour for otp input
  recipients_app/lib/view/widgets/welcome/otp_input.dart
  recipients_app/lib/view/widgets/welcome/otp_input_field.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Integrate isolate-package in functions/
  .gitignore
  firebase.json
  functions/package.json
  functions/src/cron/exchange-rate-import/ExchangeRateImporter.test.ts
  functions/src/cron/exchange-rate-import/ExchangeRateImporter.ts
  functions/src/cron/postfinance-balance-import/PostFinanceBalanceImporter.test.ts
  functions/src/cron/postfinance-balance-import/PostFinanceBalanceImporter.ts
  functions/src/firestore/firestore-auditor/FirestoreAuditor.test.ts
  functions/src/firestore/firestore-auditor/FirestoreAuditor.ts
  functions/src/firestore/firestore-auditor/index.ts
  functions/src/storage/postfinance-payments-files/PostfinancePaymentsFileImporter.ts
  functions/src/webhooks/admin/donation-certificates/DonationCertificateHandler.ts
  functions/src/webhooks/admin/donation-certificates/DonationCertificatePDFTemplate.tsx
  functions/src/webhooks/admin/donation-certificates/index.ts
  functions/src/webhooks/admin/payment-process/index.ts
  functions/src/webhooks/admin/payment-process/tasks/PaymentCSVTask.test.ts
  functions/src/webhooks/admin/payment-process/tasks/PaymentCSVTask.ts
  functions/src/webhooks/admin/payment-process/tasks/PaymentTask.ts
  functions/src/webhooks/admin/payment-process/tasks/RegistrationCSVTask.test.ts
  functions/src/webhooks/admin/payment-process/tasks/SendNotificationsTask.ts
  functions/src/webhooks/admin/payment-process/tasks/UpdateDatabaseEntriesTask.test.ts
  functions/src/webhooks/admin/payment-process/tasks/UpdateDatabaseEntriesTask.ts
  functions/src/webhooks/admin/scripts/BatchAddCHFToPayments.test.ts
  functions/src/webhooks/admin/scripts/PaymentsManager.ts
  functions/src/webhooks/admin/scripts/SurveyManager.ts
  functions/src/webhooks/admin/scripts/index.ts
  functions/src/webhooks/stripe/index.ts
  functions/src/webhooks/twilio/TwilioIncomingMessageHandler.ts
  functions/src/webhooks/twilio/TwilioOutgoingMessageHandler.ts
  functions/src/webhooks/website/survey-login/index.ts
  isolate.config.json
  package-lock.json
  package.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Bump version
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Add default value for phone param
  recipients_app/lib/data/models/phone.dart
  recipients_app/lib/data/models/phone.g.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Bump version
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Update members and layout
  shared/locales/de/website-team.json
  shared/locales/en/website-team.json
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/ajla.jpg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/anna-lina.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/lorenzo.jpg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/patrik.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/sarah.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/(assets)/simon.jpeg
  website/src/app/[lang]/[country]/(website)/about-us/team/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 590 🛫
  functions-playwright-report/pr-590/index.html
Owners: none
