Repository socialincome-san/public, changes with the owners that CODEOWNERS names for each.
All owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, verena@socialincome.org, mikolaj@socialincome.org

Prettified Code!
  shared/locales/de/website-arts.json
  shared/locales/en/website-arts.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  shared/locales/de/website-reporting.json
  shared/locales/en/website-reporting.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  shared/locales/en/website-about-us.json
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/100-percent-model.tsx
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/flow-of-funds.tsx
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/team.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): add reporting page (#656)
  shared/locales/de/website-common.json
  shared/locales/de/website-reporting.json
  shared/locales/en/website-common.json
  shared/locales/en/website-reporting.json
  website/src/app/[lang]/[region]/(website)/transparency/reporting/page.tsx
  website/src/components/navbar/navbar-client.tsx
  website/src/components/navbar/navbar.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): add arts pages (#655)
  shared/locales/de/website-arts.json
  shared/locales/en/website-arts.json
  website/src/app/[lang]/[region]/(website)/arts/page.tsx
  website/src/app/[lang]/[region]/(website)/arts/section-1.tsx
  website/src/app/[lang]/[region]/(website)/arts/section-2.tsx
  website/src/app/[lang]/[region]/(website)/arts/section-card.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

tiny adjustments
  shared/locales/de/website-about-us.json
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/100-percent-model.tsx
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/flow-of-funds.tsx
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/team.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/charts/transparency-charts.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/section-3.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): about-me page layout changes and new german translations (#657)
  shared/locales/de/website-about-us.json
  shared/locales/en/website-about-us.json
  website/src/app/[lang]/[region]/(website)/about-us/(assets)/pranav.jpg
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/100-percent-model.tsx
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/flow-of-funds.tsx
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/our-mission.tsx
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/team.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/charts/transparency-charts.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/section-3.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

website(refactor): styling cleanups
  ui/src/components/typography/typography.tsx
  website/src/app/[lang]/[region]/(website)/(home)/section-1.tsx
  website/src/app/[lang]/[region]/(website)/(home)/section-2.tsx
  website/src/app/[lang]/[region]/(website)/(home)/section-3.tsx
  website/src/app/[lang]/[region]/(website)/(home)/section-7-carousel.tsx
  website/src/app/[lang]/[region]/(website)/(home)/section-7.tsx
  website/src/app/[lang]/[region]/(website)/our-work/(sections)/contributors-orgs-carousel.tsx
  website/src/app/[lang]/[region]/(website)/our-work/(sections)/contributors-people-carousel.tsx
  website/src/app/[lang]/[region]/(website)/our-work/(sections)/recipients-carousel.tsx
  website/src/app/[lang]/[region]/(website)/our-work/(sections)/whats-next.tsx
Owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Add sustainability page (not the cleanest code)
  shared/locales/de/website-common.json
  shared/locales/de/website-sustainability.json
  shared/locales/en/website-common.json
  shared/locales/en/website-sustainability.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Add all files
  website/src/app/[lang]/[region]/(website)/transparency/sustainability/(assets)/moss_earth.png
  website/src/app/[lang]/[region]/(website)/transparency/sustainability/page.tsx
  website/src/app/[lang]/[region]/(website)/transparency/sustainability/section-1.tsx
  website/src/app/[lang]/[region]/(website)/transparency/sustainability/section-2.tsx
  website/src/app/[lang]/[region]/(website)/transparency/sustainability/section-card.tsx
  website/src/components/navbar/navbar.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  shared/locales/de/website-common.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  ui/src/index.ts
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/landing-page.tsx
  website/src/app/[lang]/[region]/(website)/about-us/page.tsx
  website/src/app/[lang]/[region]/(website)/our-work/(sections)/our-work.tsx
Owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 660 🛫
  pr-preview/pr-660/assets/Color-6VNJS4EI-7020595c.js
  pr-preview/pr-660/assets/Color-6VNJS4EI-7020595c.js.map
  pr-preview/pr-660/assets/Color-6VNJS4EI-8a74d40f.js
  pr-preview/pr-660/assets/Color-6VNJS4EI-8a74d40f.js.map
  pr-preview/pr-660/assets/DocsRenderer-NNNQARDV-baea2fc0.js
  pr-preview/pr-660/assets/DocsRenderer-NNNQARDV-baea2fc0.js.map
  pr-preview/pr-660/assets/DocsRenderer-NNNQARDV-fb65eeeb.js
  pr-preview/pr-660/assets/DocsRenderer-NNNQARDV-fb65eeeb.js.map
  pr-preview/pr-660/assets/WithTooltip-4HIR6TLV-a61479bb.js
  pr-preview/pr-660/assets/WithTooltip-4HIR6TLV-a61479bb.js.map
  pr-preview/pr-660/assets/WithTooltip-4HIR6TLV-fe7fc423.js
  pr-preview/pr-660/assets/WithTooltip-4HIR6TLV-fe7fc423.js.map
  pr-preview/pr-660/assets/chunk-HLWAVYOI-5a910223.js
  pr-preview/pr-660/assets/chunk-HLWAVYOI-5a910223.js.map
  pr-preview/pr-660/assets/chunk-HLWAVYOI-5b494503.js.map
  pr-preview/pr-660/assets/formatter-SWP5E3XI-8bc32907.js.map
  pr-preview/pr-660/assets/formatter-SWP5E3XI-c1cb04a5.js
  pr-preview/pr-660/assets/formatter-SWP5E3XI-c1cb04a5.js.map
  pr-preview/pr-660/assets/iframe-a9f4e941.js
  pr-preview/pr-660/assets/iframe-a9f4e941.js.map
  pr-preview/pr-660/assets/iframe-f3e07f63.js
  pr-preview/pr-660/assets/iframe-f3e07f63.js.map
  pr-preview/pr-660/assets/preview-a08db2a2.js
  pr-preview/pr-660/assets/preview-a08db2a2.js.map
  pr-preview/pr-660/assets/preview-aff3a60f.js
  pr-preview/pr-660/assets/preview-aff3a60f.js.map
  pr-preview/pr-660/assets/syntaxhighlighter-NMPM6SWI-0b849dc2.js
  pr-preview/pr-660/assets/syntaxhighlighter-NMPM6SWI-0b849dc2.js.map
  pr-preview/pr-660/assets/syntaxhighlighter-NMPM6SWI-6115350e.js
  pr-preview/pr-660/assets/syntaxhighlighter-NMPM6SWI-6115350e.js.map
  pr-preview/pr-660/assets/typography.stories-d249165d.js
  pr-preview/pr-660/assets/typography.stories-d249165d.js.map
  pr-preview/pr-660/assets/typography.stories-e3f9647a.js
  pr-preview/pr-660/assets/typography.stories-e3f9647a.js.map
  pr-preview/pr-660/iframe.html
  pr-preview/pr-660/project.json
Owners: none

Deploy preview for PR 660 🛫
  pr-preview/pr-660/project.json
Owners: none

styling updates
  shared/locales/de/website-sustainability.json
  shared/locales/en/website-sustainability.json
  ui/src/globals.css
  website/src/app/[lang]/[region]/(website)/transparency/sustainability/page.tsx
  website/src/app/[lang]/[region]/(website)/transparency/sustainability/section-1.tsx
  website/src/app/[lang]/[region]/(website)/transparency/sustainability/section-2.tsx
  website/src/app/[lang]/[region]/(website)/transparency/sustainability/section-card.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Prettified Code!
  shared/locales/en/website-sustainability.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 659 🛫
  pr-preview/pr-659/project.json
Owners: none

Prettified Code!
  ui/src/globals.css
Owners: rene@socialincome.org

Deploy preview for PR 658 🛫
  pr-preview/pr-658/project.json
Owners: none

wip
  .github/workflows/deployment.yml
  recipients_app/.vscode/launch.json
  ui/src/components/badge.tsx
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/contact.tsx
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/landing-page.tsx
  website/src/app/[lang]/[region]/(website)/csr/page.tsx
  website/src/app/[lang]/[region]/(website)/our-work/(sections)/our-work.tsx
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org, rene@socialincome.org, andras@socialincome.org, michael@socialincome.org

refactor(website): styling cleanups for hero sections (#660)
  .github/workflows/deployment.yml
  recipients_app/.vscode/launch.json
  shared/locales/de/website-about-us.json
  shared/locales/de/website-our-work.json
  shared/locales/en/website-about-us.json
  shared/locales/en/website-our-work.json
  ui/src/components/badge.tsx
  ui/src/index.ts
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/contact.tsx
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/landing-page.tsx
  website/src/app/[lang]/[region]/(website)/about-us/page.tsx
  website/src/app/[lang]/[region]/(website)/csr/page.tsx
  website/src/app/[lang]/[region]/(website)/our-work/(sections)/our-work.tsx
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org, rene@socialincome.org

refactor(website): update transparency page
  shared/locales/de/website-finances.json
  shared/locales/en/website-finances.json
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/info-card.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/page.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/section-1.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/section-2.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/section-3.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/section-4.tsx
  website/src/app/[lang]/[region]/donate/one-time/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(website): update transparency page (#661)
  shared/locales/de/website-finances.json
  shared/locales/en/website-finances.json
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/info-card.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/page.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/section-1.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/section-2.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/section-3.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/section-4.tsx
  website/src/app/[lang]/[region]/donate/one-time/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(website): show spinning button on account activation
  website/src/app/[lang]/[region]/donate/success/stripe/[session]/activate/create-user-form.tsx
  website/src/app/[lang]/[region]/donate/success/stripe/[session]/success-form.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(website): show spinning button on account activation (#662)
  website/src/app/[lang]/[region]/donate/success/stripe/[session]/activate/create-user-form.tsx
  website/src/app/[lang]/[region]/donate/success/stripe/[session]/success-form.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Revert removal of updated_by
  recipients_app/lib/data/models/payment/social_income_payment.dart
  recipients_app/lib/data/models/payment/social_income_payment.g.dart
  recipients_app/lib/data/models/recipient.dart
  recipients_app/lib/data/models/recipient.g.dart
  recipients_app/lib/data/repositories/payment_repository.dart
  recipients_app/lib/data/repositories/user_repository.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Cleanup code
  recipients_app/lib/data/models/payment/social_income_payment.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

refactor(website): minor bugfixes and improvements
  package-lock.json
  shared/locales/de/website-donate.json
  shared/locales/en/website-donate.json
  shared/src/types/country.ts
  shared/src/types/currency.ts
  ui/src/components/checkbox.tsx
  ui/src/index.ts
  website/package.json
  website/src/app/[lang]/[region]/(website)/(home)/section-2.tsx
  website/src/app/[lang]/[region]/(website)/login/login-form.tsx
  website/src/app/[lang]/[region]/(website)/our-work/(sections)/our-work.tsx
  website/src/app/[lang]/[region]/donate/success/stripe/[session]/page.tsx
  website/src/app/[lang]/[region]/donate/success/stripe/[session]/success-form.tsx
  website/src/components/footer/footer.tsx
  website/src/components/vimeo-video.tsx
  website/src/i18n.ts
  website/src/middleware.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

bugfix(website): fix middleware region redirect
  website/src/i18n.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bugfix(website): fix middleware region redirect (#664)
  website/src/i18n.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bugfix(website): fix world poverty statistics
  shared/locales/de/website-poverty-statistics-2023.json
  shared/locales/en/website-poverty-statistics-2023.json
  website/src/app/[lang]/[region]/(website)/world-poverty-statistics-2023/page.tsx
  website/src/metadata.ts
  website/src/middleware.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bugfix(website): fix world poverty statistics (#665)
  shared/locales/de/website-poverty-statistics-2023.json
  shared/locales/en/website-poverty-statistics-2023.json
  website/src/app/[lang]/[region]/(website)/world-poverty-statistics-2023/page.tsx
  website/src/metadata.ts
  website/src/middleware.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

chore(recipients-app): Remove redundant update by and at fields from recipient and payment (#648)
  recipients_app/lib/data/models/payment/social_income_payment.dart
  recipients_app/lib/data/models/payment/social_income_payment.g.dart
  recipients_app/lib/data/repositories/payment_repository.dart
  recipients_app/lib/data/repositories/user_repository.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

updated to flutter 3.16.1
  recipients_app/ios/Podfile
  recipients_app/ios/Podfile.lock
  recipients_app/lib/kri_intl.dart
  recipients_app/pubspec.lock
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Update strings with EN string used by platform generated files
  recipients_app/lib/kri_intl.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Added logo of Milk and URL for backlink
  website/src/app/[lang]/[region]/(website)/our-work/(assets)/milk.svg
  website/src/app/[lang]/[region]/(website)/our-work/(sections)/contributors-orgs-carousel.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/app/[lang]/[region]/(website)/our-work/(sections)/contributors-orgs-carousel.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): org carousel update with links (#667)
  website/src/app/[lang]/[region]/(website)/our-work/(assets)/milk.svg
  website/src/app/[lang]/[region]/(website)/our-work/(sections)/contributors-orgs-carousel.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Added Twint as payment category in Admin tool and to be shown on the website
  admin/src/collections/Contributions.ts
  shared/locales/de/website-me.json
  shared/locales/en/website-me.json
  shared/src/types/contribution.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): add button to donate via twint
  shared/locales/de/website-donate.json
  shared/locales/de/website-our-work.json
  shared/locales/en/website-donate.json
  website/src/app/[lang]/[region]/(website)/(home)/section-2.tsx
  website/src/app/[lang]/[region]/donate/one-time/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/ui/ rene@socialincome.org
.github/workflows/ui.yml rene@socialincome.org

firebase.json andras@socialincome.org michael@socialincome.org
firestore.rules andras@socialincome.org michael@socialincome.org
package.json andras@socialincome.org michael@socialincome.org
storage.rules andras@socialincome.org michael@socialincome.org

admin/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
functions/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
shared/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
recipients_app/ verena@socialincome.org mikolaj@socialincome.org sandino@socialincome.org
website/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org

*.md sandino@socialincome.org andras@socialincome.org michael@socialincome.org
