Repository socialincome-san/public, changes with the owners that CODEOWNERS names for each.
All owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, verena@socialincome.org, mikolaj@socialincome.org

CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/ui/ rene@socialincome.org
.github/workflows/ui.yml rene@socialincome.org

firebase.json andras@socialincome.org michael@socialincome.org
firestore.rules andras@socialincome.org michael@socialincome.org
package.json andras@socialincome.org michael@socialincome.org
storage.rules andras@socialincome.org michael@socialincome.org

admin/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
functions/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
shared/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
recipients_app/ verena@socialincome.org mikolaj@socialincome.org sandino@socialincome.org
website/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org

*.md sandino@socialincome.org andras@socialincome.org michael@socialincome.org

Bump app version (#560)
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

refactor(website): improve theme usage and update donate page
  ui/daisyui-themes.ts
  ui/src/components/typography/typography.tsx
  ui/tailwind.config.ts
  website/src/app/[lang]/[country]/(website)/(home)/section-1-input.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-1.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-2.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-4.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-6-card.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-6.tsx
  website/src/app/[lang]/[country]/(website)/about-us/section-1.tsx
  website/src/app/[lang]/[country]/(website)/about-us/team/page.tsx
  website/src/app/[lang]/[country]/(website)/donate/individual/page.tsx
  website/src/app/[lang]/[country]/(website)/donate/page.tsx
  website/src/app/[lang]/[country]/(website)/donate/success/page.tsx
  website/src/app/[lang]/[country]/(website)/layout.tsx
  website/src/app/[lang]/[country]/(website)/login/login-form.tsx
  website/src/app/[lang]/[country]/(website)/me/contributions/billing-portal-button.tsx
  website/src/app/[lang]/[country]/(website)/theme-provider.tsx
  website/src/components/logos/si-logo.tsx
  website/src/components/navbar/language-switcher.tsx
  website/src/components/navbar/navbar-client.tsx
Owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(website): improve theme usage and update donate page
  ui/src/components/typography/typography.tsx
Owners: rene@socialincome.org

formatting
  website/src/i18n.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(website): improve theme usage and update donate page (#561)
  ui/daisyui-themes.ts
  ui/tailwind.config.ts
  website/src/app/[lang]/[country]/(website)/(home)/section-1-input.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-1.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-2.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-4.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-6-card.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-6.tsx
  website/src/app/[lang]/[country]/(website)/about-us/section-1.tsx
  website/src/app/[lang]/[country]/(website)/about-us/team/page.tsx
  website/src/app/[lang]/[country]/(website)/donate/individual/page.tsx
  website/src/app/[lang]/[country]/(website)/donate/page.tsx
  website/src/app/[lang]/[country]/(website)/donate/success/page.tsx
  website/src/app/[lang]/[country]/(website)/layout.tsx
  website/src/app/[lang]/[country]/(website)/login/login-form.tsx
  website/src/app/[lang]/[country]/(website)/me/contributions/billing-portal-button.tsx
  website/src/app/[lang]/[country]/(website)/theme-provider.tsx
  website/src/components/logos/si-logo.tsx
  website/src/components/navbar/language-switcher.tsx
  website/src/components/navbar/navbar-client.tsx
  website/src/i18n.ts
Owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

triggered a new recipient draw
  lists/testlist
Owners: none

Deploy preview for PR 563 🛫
  functions-playwright-report/pr-563/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-563/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-563/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-563/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-563/index.html
Owners: none

Deploy preview for PR 563 🛫
  functions-playwright-report/pr-563/index.html
Owners: none

feature(website): add initial version of transparency page
  admin/package.json
  package-lock.json
  shared/locales/de/website-transparency.json
  shared/locales/en/website-transparency.json
  shared/src/utils/stats/ContributionStatsCalculator.test.ts
  shared/src/utils/stats/ContributionStatsCalculator.ts
  shared/src/utils/stats/PaymentStatsCalculator.ts
  ui/daisyui-themes.ts
  ui/src/components/badge/badge.tsx
  ui/src/components/badge/index.ts
  ui/src/components/index.ts
  ui/src/components/tooltip/index.tsx
  ui/src/components/tooltip/tooltip.tsx
  ui/src/components/typography/typography.tsx
  website/package.json
  website/src/app/[lang]/[country]/(website)/(home)/section-4.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/charts/page.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/charts/transparency-charts.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/contribution-stats.ts
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/info-card.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/page.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/payment-stats.ts
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/section-1.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/section-2.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/section-3-cards.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/section-3.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/section-4.tsx
  website/src/i18n.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Deploy preview for PR 564 🛫
  functions-playwright-report/pr-564/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-564/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-564/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-564/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-564/index.html
Owners: none

fix build
  shared/src/utils/stats/ContributionStatsCalculator.ts
  ui/src/components/index.ts
  ui/src/index.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Update translations
  shared/locales/en/website-transparency.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 564 🛫
  functions-playwright-report/pr-564/index.html
Owners: none

Deploy preview for PR 564 🛫
  functions-playwright-report/pr-564/index.html
Owners: none

fix build
  shared/src/utils/stats/ContributionStatsCalculator.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 564 🛫
  functions-playwright-report/pr-564/index.html
Owners: none

feature(website): add initial version of transparency page (#564)
  admin/package.json
  package-lock.json
  shared/locales/de/website-transparency.json
  shared/locales/en/website-transparency.json
  shared/src/utils/stats/ContributionStatsCalculator.test.ts
  shared/src/utils/stats/ContributionStatsCalculator.ts
  shared/src/utils/stats/PaymentStatsCalculator.ts
  ui/daisyui-themes.ts
  ui/src/components/badge/badge.tsx
  ui/src/components/badge/index.ts
  ui/src/components/index.ts
  ui/src/components/tooltip/index.tsx
  ui/src/components/tooltip/tooltip.tsx
  ui/src/components/typography/typography.tsx
  ui/src/index.ts
  website/package.json
  website/src/app/[lang]/[country]/(website)/(home)/section-4.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/charts/page.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/charts/transparency-charts.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/contribution-stats.ts
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/info-card.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/page.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/payment-stats.ts
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/section-1.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/section-2.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/section-3-cards.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/section-3.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/section-4.tsx
  website/src/i18n.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Deploy preview for PR 563 🛫
  functions-playwright-report/pr-563/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-563/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-563/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-563/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-563/index.html
Owners: none

Expose Combobox and Select from components library
  ui/src/index.ts
Owners: rene@socialincome.org

fixes props passing from wrapping component to wrapped component
  ui/src/components/combobox/Combobox.tsx
Owners: rene@socialincome.org

cosmetic fixes for combobox component prevent to display selected element in the options
  ui/src/components/combobox/Combobox.tsx
Owners: rene@socialincome.org

introduces a supported website languages constant to list the languages that are translated for the website
  website/src/i18n.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor navbar and footer so that they can use the supported languages website constant
  website/src/app/[lang]/[country]/(website)/layout.tsx
  website/src/components/navbar/language-switcher.tsx
  website/src/components/navbar/navbar-client.tsx
  website/src/components/navbar/navbar.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor combobox component to accept a generic type as a selectable item
  ui/src/components/combobox/Combobox.tsx
Owners: rene@socialincome.org

Adds footer and footer-client components
  website/src/components/footer/footer-client.tsx
  website/src/components/footer/footer.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

updated draw action to raise a PR
  .github/workflows/execute-draw.yml
Owners: none

Deploy preview for PR 563 🛫
  functions-playwright-report/pr-563/index.html
Owners: none

fixes build issues
  ui/src/components/combobox/Combobox.tsx
  website/src/components/footer/footer-client.tsx
  website/src/components/footer/footer.tsx
  website/src/components/navbar/navbar-client.tsx
Owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

formatting + linting
  ui/src/components/combobox/Combobox.tsx
  ui/src/index.ts
  website/src/app/[lang]/[country]/(website)/layout.tsx
  website/src/components/footer/footer-client.tsx
  website/src/components/footer/footer.tsx
  website/src/components/navbar/language-switcher.tsx
  website/src/components/navbar/navbar-client.tsx
  website/src/components/navbar/navbar.tsx
  website/src/i18n.ts
Owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 568 🛫
  pr-preview/pr-568/project.json
Owners: none

Prettified Code!
  ui/components.json
  ui/src/globals.css
  ui/src/lib/utils.ts
  ui/tsconfig.json
Owners: rene@socialincome.org

Deploy preview for PR 569 🛫
  functions-playwright-report/pr-569/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-569/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-569/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-569/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-569/index.html
Owners: none

Deploy preview for PR 569 🛫
  functions-playwright-report/pr-569/index.html
Owners: none

linting issues
  website/src/app/[lang]/[country]/(website)/me/contact-details/page.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/section-2.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 563 🛫
  functions-playwright-report/pr-563/index.html
Owners: none

Krio translations in kri_intl.dart file
  recipients_app/lib/kri_intl.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Krio translations in app_kri.arb file
  recipients_app/lib/l10n/app_kri.arb
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

update navbar
  package-lock.json
  shared/locales/de/website-common.json
  shared/locales/en/website-common.json
  ui/package.json
  ui/src/components/accordion.tsx
  ui/src/components/collapsible.tsx
  ui/src/components/hover-card.tsx
  ui/src/components/menubar.tsx
  ui/src/components/navigation-menu.tsx
  ui/src/components/popover.tsx
  ui/src/foundations/typography.stories.mdx
  ui/src/globals.css
  ui/src/index.ts
  ui/src/lib/util/documentation/components/index.ts
  ui/src/lib/util/documentation/components/typography-item.tsx
  ui/src/lib/util/documentation/components/typography-list.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-1-input.tsx
  website/src/app/[lang]/[country]/(website)/transparency/finances/[currency]/charts/page.tsx
  website/src/app/[lang]/[country]/(website)/transparency/finances/[currency]/charts/transparency-charts.tsx
  website/src/app/[lang]/[country]/(website)/transparency/finances/[currency]/info-card.tsx
  website/src/app/[lang]/[country]/(website)/transparency/finances/[currency]/page.tsx
  website/src/app/[lang]/[country]/(website)/transparency/finances/[currency]/section-1.tsx
  website/src/app/[lang]/[country]/(website)/transparency/finances/[currency]/section-2.tsx
  website/src/app/[lang]/[country]/(website)/transparency/finances/[currency]/section-3-cards.tsx
  website/src/app/[lang]/[country]/(website)/transparency/finances/[currency]/section-3.tsx
  website/src/app/[lang]/[country]/(website)/transparency/finances/[currency]/section-4.tsx
  website/src/app/[lang]/[country]/(website)/transparency/recipient-selection/page.tsx
  website/src/app/layout.tsx
  website/src/app/providers.tsx
  website/src/components/navbar/language-switcher.tsx
  website/src/components/navbar/navbar-client.tsx
  website/src/components/navbar/navbar.tsx
  website/tailwind.config.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Deploy preview for PR 569 🛫
  functions-playwright-report/pr-569/index.html
Owners: none

Translator made additional changes
  recipients_app/lib/kri_intl.dart
  recipients_app/lib/l10n/app_kri.arb
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org
