Repository socialincome-san/public, changes with the owners that CODEOWNERS names for each.
All owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, verena@socialincome.org, mikolaj@socialincome.org

Deploying to gh-pages from @ socialincome-san/public@d288cace6a09e3684fc9aaf2708dad6450fd7e15 🚀
  project.json
Owners: none

feature(website): faq section on campaign page (#779)
  shared/locales/de/website-donate.json
  shared/locales/de/website-faq.json
  shared/locales/en/website-donate.json
  shared/locales/en/website-faq.json
  website/src/app/[lang]/[region]/(website)/campaign/[campaign]/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Adding footer item for subscribing to newsletter
  shared/locales/de/website-common.json
  shared/locales/en/website-common.json
  website/src/components/footer/footer.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

update newsletter popup
  .gitignore
  shared/locales/de/website-newsletter.json
  shared/locales/en/website-newsletter.json
  shared/src/mailchimp/MailchimpAPI.ts
  website/.env.development
  website/.gitignore
  website/src/app/[lang]/[region]/(website)/(home)/page.tsx
  website/src/app/[lang]/[region]/(website)/how-to-reduce-income-inequality/page.tsx
  website/src/app/[lang]/[region]/(website)/me/hooks.ts
  website/src/app/[lang]/[region]/(website)/me/layout.tsx
  website/src/app/[lang]/[region]/(website)/me/personal-info/personal-info-form.tsx
  website/src/app/[lang]/[region]/(website)/newsletter/page.tsx
  website/src/app/[lang]/[region]/(website)/newsletter/subscription-info-form.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/currency-redirect.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/page.tsx
  website/src/app/[lang]/[region]/(website)/what-is-poverty/page.tsx
  website/src/app/[lang]/[region]/(website)/world-poverty-statistics-2024/page.tsx
  website/src/app/[lang]/[region]/donate/individual/donation-form.tsx
  website/src/app/[lang]/[region]/donate/one-time/one-time-donation-form.tsx
  website/src/app/api/mailchimp/subscription/public/route.ts
  website/src/app/api/newsletter/subscription/public/route.ts
  website/src/app/api/newsletter/subscription/route.ts
  website/src/app/layout.tsx
  website/src/components/footer/footer-client.tsx
  website/src/components/i18n-dialog.tsx
  website/src/components/newsletter-popup/newsletter-popup-client.tsx
  website/src/components/newsletter-popup/newsletter-popup.tsx
  website/src/components/providers/api-provider.tsx
  website/src/components/providers/context-providers.tsx
  website/src/components/ui/currency-selector.tsx
  website/src/hooks/useApi.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/components/footer/footer.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): newsletter popup (#778)
  shared/locales/de/website-newsletter.json
  shared/locales/en/website-newsletter.json
  shared/src/mailchimp/MailchimpAPI.ts
  website/.env.sample
  website/src/app/[lang]/[region]/(website)/(home)/page.tsx
  website/src/app/[lang]/[region]/(website)/how-to-reduce-income-inequality/page.tsx
  website/src/app/[lang]/[region]/(website)/me/hooks.ts
  website/src/app/[lang]/[region]/(website)/me/layout.tsx
  website/src/app/[lang]/[region]/(website)/me/personal-info/personal-info-form.tsx
  website/src/app/[lang]/[region]/(website)/newsletter/page.tsx
  website/src/app/[lang]/[region]/(website)/newsletter/subscription-info-form.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/[currency]/currency-redirect.tsx
  website/src/app/[lang]/[region]/(website)/transparency/finances/page.tsx
  website/src/app/[lang]/[region]/(website)/what-is-poverty/page.tsx
  website/src/app/[lang]/[region]/(website)/world-poverty-statistics-2024/page.tsx
  website/src/app/[lang]/[region]/donate/individual/donation-form.tsx
  website/src/app/[lang]/[region]/donate/one-time/one-time-donation-form.tsx
  website/src/app/api/mailchimp/subscription/public/route.ts
  website/src/app/api/newsletter/subscription/public/route.ts
  website/src/app/api/newsletter/subscription/route.ts
  website/src/app/layout.tsx
  website/src/components/footer/footer-client.tsx
  website/src/components/i18n-dialog.tsx
  website/src/components/newsletter-popup/newsletter-popup-client.tsx
  website/src/components/newsletter-popup/newsletter-popup.tsx
  website/src/components/providers/api-provider.tsx
  website/src/components/providers/context-providers.tsx
  website/src/components/ui/currency-selector.tsx
  website/src/hooks/useApi.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 749 🛫
  pr-preview/pr-749/project.json
Owners: none

define basic new theme
  ui/src/components/typography/typography.tsx
  ui/src/globals.css
  ui/src/interfaces/color.ts
  ui/tailwind.config.ts
  website/src/app/[lang]/[region]/(website)/v2/(home)/page.tsx
  website/src/app/[lang]/[region]/v2/(home)/(assets)/sdg-logo.svg
  website/src/app/[lang]/[region]/v2/(home)/(sections)/approach.tsx
  website/src/app/[lang]/[region]/v2/(home)/(sections)/explainer-video.tsx
  website/src/app/[lang]/[region]/v2/(home)/(sections)/faq.tsx
  website/src/app/[lang]/[region]/v2/(home)/(sections)/hero-video.tsx
  website/src/app/[lang]/[region]/v2/(home)/(sections)/journal.tsx
  website/src/app/[lang]/[region]/v2/(home)/(sections)/mobile-illustration.tsx
  website/src/app/[lang]/[region]/v2/(home)/(sections)/monthly-income.tsx
  website/src/app/[lang]/[region]/v2/(home)/(sections)/overview.tsx
  website/src/app/[lang]/[region]/v2/(home)/(sections)/quotes.tsx
  website/src/app/[lang]/[region]/v2/(home)/(sections)/recipient-selection.tsx
  website/src/app/[lang]/[region]/v2/(home)/(sections)/sdgoals.tsx
  website/src/app/[lang]/[region]/v2/(home)/(sections)/testimonials.tsx
  website/src/app/[lang]/[region]/v2/(home)/page.tsx
  website/src/app/[lang]/[region]/v2/layout.tsx
Owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

update .gitignore
  .gitignore
Owners: none

Prettified Code!
  ui/src/globals.css
Owners: rene@socialincome.org

Deploy preview for PR 749 🛫
  pr-preview/pr-749/project.json
Owners: none

Deploy preview for PR 749 🛫
  pr-preview/pr-749/project.json
Owners: none

feature(website): new landing page (#749)
  shared/locales/en/website-home2.json
  ui/src/components/typography/typography.tsx
  ui/src/globals.css
  ui/src/interfaces/color.ts
  ui/tailwind.config.ts
  website/src/app/[lang]/[region]/v2/(home)/(assets)/sdg-logo.svg
  website/src/app/[lang]/[region]/v2/(home)/(sections)/approach.tsx
  website/src/app/[lang]/[region]/v2/(home)/(sections)/explainer-video.tsx
  website/src/app/[lang]/[region]/v2/(home)/(sections)/faq.tsx
  website/src/app/[lang]/[region]/v2/(home)/(sections)/hero-video.tsx
  website/src/app/[lang]/[region]/v2/(home)/(sections)/journal.tsx
  website/src/app/[lang]/[region]/v2/(home)/(sections)/mobile-illustration.tsx
  website/src/app/[lang]/[region]/v2/(home)/(sections)/monthly-income.tsx
  website/src/app/[lang]/[region]/v2/(home)/(sections)/overview.tsx
  website/src/app/[lang]/[region]/v2/(home)/(sections)/quotes.tsx
  website/src/app/[lang]/[region]/v2/(home)/(sections)/recipient-selection.tsx
  website/src/app/[lang]/[region]/v2/(home)/(sections)/sdgoals.tsx
  website/src/app/[lang]/[region]/v2/(home)/(sections)/testimonials.tsx
  website/src/app/[lang]/[region]/v2/(home)/page.tsx
  website/src/app/[lang]/[region]/v2/layout.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

website(bugfix): fix client-side rendering issue
  website/src/components/newsletter-popup/newsletter-popup.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

website(bugfix): fix client-side rendering issue
  website/src/components/newsletter-popup/newsletter-popup-client.tsx
  website/src/components/newsletter-popup/newsletter-popup.tsx
  website/src/components/providers/api-provider.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

website(bugfix): fix client-side rendering issue
  website/.gitignore
  website/src/components/providers/api-provider.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Styling all elements
  shared/locales/de/website-newsletter.json
  shared/locales/en/website-newsletter.json
  website/src/app/[lang]/[region]/(website)/newsletter/page.tsx
  website/src/app/[lang]/[region]/(website)/newsletter/subscription-info-form.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Changing color
  website/src/app/[lang]/[region]/(website)/newsletter/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/app/[lang]/[region]/(website)/newsletter/page.tsx
  website/src/app/[lang]/[region]/(website)/newsletter/subscription-info-form.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Adding source and language for newsletter page
  shared/src/mailchimp/MailchimpAPI.ts
  website/src/app/[lang]/[region]/(website)/newsletter/subscription-info-form.tsx
  website/src/app/api/newsletter/subscription/route.ts
  website/src/components/newsletter-popup/newsletter-popup-client.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/app/api/newsletter/subscription/route.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Small adjustment to spinner
  website/src/app/[lang]/[region]/(website)/newsletter/subscription-info-form.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

fix: add ability open sub menu with keyboard
  ui/src/components/popover.tsx
  website/src/components/navbar/navbar-client.tsx
Owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploying to gh-pages from @ socialincome-san/public@09f8ac803d0df458b396c8252cf255434fa678de 🚀
  project.json
Owners: none

use form submitting state
  website/src/app/[lang]/[region]/(website)/newsletter/subscription-info-form.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

wip
  functions/src/webhooks/admin/donation-certificates/index.ts
  shared/src/firebase/admin/StorageAdmin.test.ts
  shared/src/firebase/admin/StorageAdmin.ts
  website/src/components/providers/context-providers.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

website(bugfix): fix client-side rendering issue (#783)
  functions/src/webhooks/admin/donation-certificates/index.ts
  shared/src/firebase/admin/StorageAdmin.test.ts
  shared/src/firebase/admin/StorageAdmin.ts
  website/.gitignore
  website/src/components/newsletter-popup/newsletter-popup-client.tsx
  website/src/components/providers/context-providers.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(general): update dependencies
  admin/package.json
  functions/package.json
  functions/src/webhooks/admin/donation-certificates/index.ts
  package-lock.json
  shared/package.json
  shared/src/firebase/admin/StorageAdmin.test.ts
  shared/src/firebase/admin/StorageAdmin.ts
  shared/src/stripe/StripeEventHandler.test.ts
  ui/package.json
  website/package.json
  website/src/components/providers/context-providers.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(general): update dependencies
  package-lock.json
  ui/src/components/button.tsx
  ui/src/components/carousel.tsx
  website/src/app/[lang]/[region]/(website)/me/personal-info/personal-info-form.tsx
  website/src/components/footer/footer.tsx
Owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

remove storybook
  .github/workflows/ui.yml
  package-lock.json
  package.json
  ui/.storybook/main.ts
  ui/.storybook/preview-head.html
  ui/.storybook/preview.ts
  ui/package.json
  ui/public/.gitkeep
  ui/public/ch.svg
  ui/src/foundations/typography.stories.mdx
  ui/src/lib/util/documentation/components/index.ts
  ui/src/lib/util/documentation/components/typography-item.tsx
  ui/src/lib/util/documentation/components/typography-list.tsx
Owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org

Prettified Code!
  ui/package.json
Owners: andras@socialincome.org, michael@socialincome.org

remove storybook
  ui/.babelrc
  ui/components.json
  ui/package.json
Owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org

chore(general): update dependencies and remove storybook (#788)
  .github/workflows/ui.yml
  admin/package.json
  functions/package.json
  functions/src/webhooks/admin/donation-certificates/index.ts
  package-lock.json
  package.json
  shared/package.json
  shared/src/firebase/admin/StorageAdmin.test.ts
  shared/src/firebase/admin/StorageAdmin.ts
  shared/src/stripe/StripeEventHandler.test.ts
  ui/.babelrc
  ui/.storybook/main.ts
  ui/.storybook/preview-head.html
  ui/.storybook/preview.ts
  ui/components.json
  ui/package.json
  ui/public/.gitkeep
  ui/public/ch.svg
  ui/src/components/button.tsx
  ui/src/components/carousel.tsx
  ui/src/foundations/typography.stories.mdx
  ui/src/lib/util/documentation/components/index.ts
  ui/src/lib/util/documentation/components/typography-item.tsx
  ui/src/lib/util/documentation/components/typography-list.tsx
  website/package.json
  website/src/app/[lang]/[region]/(website)/me/personal-info/personal-info-form.tsx
  website/src/components/footer/footer.tsx
  website/src/components/providers/context-providers.tsx
Owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

wip
  functions/package.json
  functions/src/cron/first-payout-email/index.ts
  package-lock.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Add faq (english)
  website/src/app/[lang]/[region]/(website)/v2/(home)/page.tsx
  website/src/app/[lang]/[region]/v2/(home)/(sections)/faq.tsx
  website/src/app/[lang]/[region]/v2/(home)/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/app/[lang]/[region]/v2/(home)/(sections)/faq.tsx
  website/src/app/[lang]/[region]/v2/(home)/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Add faq section (only english translations)
  .gitignore
  package-lock.json
  shared/locales/en/website-home2.json
  website/src/app/[lang]/[region]/v2/(home)/(sections)/faq.tsx
  website/src/app/[lang]/[region]/v2/(home)/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/app/[lang]/[region]/v2/(home)/(sections)/faq.tsx
  website/src/app/[lang]/[region]/v2/(home)/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

wip
  functions/src/cron/first-payout-email/index.ts
  shared/src/sendgrid/SendgridMailClient.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

wip
  .github/workflows/deployment.yml
Owners: none

CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/ui/ rene@socialincome.org
.github/workflows/ui.yml rene@socialincome.org

firebase.json andras@socialincome.org michael@socialincome.org
firestore.rules andras@socialincome.org michael@socialincome.org
package.json andras@socialincome.org michael@socialincome.org
storage.rules andras@socialincome.org michael@socialincome.org

admin/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
functions/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
shared/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
recipients_app/ verena@socialincome.org mikolaj@socialincome.org sandino@socialincome.org
website/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org

*.md sandino@socialincome.org andras@socialincome.org michael@socialincome.org
