Repository socialincome-san/public, changes with the owners that CODEOWNERS names for each.
All owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, verena@socialincome.org, mikolaj@socialincome.org

adds an employer collection to the database
  firestore.rules
  shared/locales/de/website-me.json
  shared/locales/en/website-me.json
  shared/src/types/employers.ts
  website/src/app/[lang]/[region]/(website)/me/work-info/add-employer-form.tsx
  website/src/app/[lang]/[region]/(website)/me/work-info/employers-list.tsx
  website/src/app/[lang]/[region]/(website)/me/work-info/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  shared/src/types/employers.ts
  website/src/app/[lang]/[region]/(website)/me/work-info/add-employer-form.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  shared/src/types/employers.ts
  website/src/app/[lang]/[region]/(website)/me/work-info/add-employer-form.tsx
  website/src/app/[lang]/[region]/(website)/me/work-info/employers-list.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  shared/src/types/user.ts
  website/src/app/[lang]/[region]/(website)/me/work-info/add-employer-form.tsx
  website/src/app/[lang]/[region]/(website)/me/work-info/employers-list.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

update firestore rules
  firestore.rules
Owners: andras@socialincome.org, michael@socialincome.org

fix translation issue on work information page
  shared/locales/de/website-me.json
  website/src/app/[lang]/[region]/(website)/me/work-info/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

removes rule for employer collection
  firestore.rules
Owners: andras@socialincome.org, michael@socialincome.org

fix type for employers userId field
  shared/src/types/employers.ts
  website/src/app/[lang]/[region]/(website)/me/work-info/add-employer-form.tsx
  website/src/app/[lang]/[region]/(website)/me/work-info/employers-list.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

adds the possibility for a user to specify its employers
  shared/locales/de/website-me.json
  shared/locales/en/website-me.json
  website/src/app/[lang]/[region]/(website)/me/layout-client.tsx
  website/src/app/[lang]/[region]/(website)/me/layout.tsx
  website/src/app/[lang]/[region]/(website)/me/work-info/add-employer-form.tsx
  website/src/app/[lang]/[region]/(website)/me/work-info/employers-list.tsx
  website/src/app/[lang]/[region]/(website)/me/work-info/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

store a reference to a user id in the employers collection
  shared/locales/en/website-me.json
  website/src/app/[lang]/[region]/(website)/me/layout-client.tsx
  website/src/app/[lang]/[region]/(website)/me/work-info/add-employer-form.tsx
  website/src/app/[lang]/[region]/(website)/me/work-info/employers-list.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

fix employers list not showing anything
  website/src/app/[lang]/[region]/(website)/me/work-info/employers-list.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

updates UI to reflect new database structure
  website/src/app/[lang]/[region]/(website)/me/work-info/add-employer-form.tsx
  website/src/app/[lang]/[region]/(website)/me/work-info/employers-list.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

changes user type to add a employers subcollection
  shared/src/types/user.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

updates seed
  seed/auth_export/accounts.json
  seed/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  seed/firestore_export/all_namespaces/all_kinds/output-0
  seed/storage_export/blobs/2191ca64-458a-4e7b-b896-913ae69fbc6a
  seed/storage_export/blobs/4ebc6cd2-baa0-42f4-9109-2f06ff9d3206
  seed/storage_export/blobs/5452089d-c211-4830-860d-b5ef444ae299
  seed/storage_export/metadata/2191ca64-458a-4e7b-b896-913ae69fbc6a.json
  seed/storage_export/metadata/4ebc6cd2-baa0-42f4-9109-2f06ff9d3206.json
  seed/storage_export/metadata/5452089d-c211-4830-860d-b5ef444ae299.json
Owners: none

feature(website): allow users to specify their employers (corporate social responsibility) (#700)
  firestore.rules
  seed/auth_export/accounts.json
  seed/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  seed/firestore_export/all_namespaces/all_kinds/output-0
  seed/storage_export/blobs/2191ca64-458a-4e7b-b896-913ae69fbc6a
  seed/storage_export/blobs/4ebc6cd2-baa0-42f4-9109-2f06ff9d3206
  seed/storage_export/blobs/5452089d-c211-4830-860d-b5ef444ae299
  seed/storage_export/metadata/2191ca64-458a-4e7b-b896-913ae69fbc6a.json
  seed/storage_export/metadata/4ebc6cd2-baa0-42f4-9109-2f06ff9d3206.json
  seed/storage_export/metadata/5452089d-c211-4830-860d-b5ef444ae299.json
  shared/locales/de/website-me.json
  shared/locales/en/website-me.json
  shared/src/types/employers.ts
  shared/src/types/user.ts
  website/src/app/[lang]/[region]/(website)/me/layout-client.tsx
  website/src/app/[lang]/[region]/(website)/me/layout.tsx
  website/src/app/[lang]/[region]/(website)/me/work-info/add-employer-form.tsx
  website/src/app/[lang]/[region]/(website)/me/work-info/employers-list.tsx
  website/src/app/[lang]/[region]/(website)/me/work-info/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Added the missing conditional renderings as pointed out in the review
  seed/auth_export/accounts.json
  seed/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  seed/firestore_export/all_namespaces/all_kinds/output-0
  seed/firestore_export/firestore_export.overall_export_metadata
  seed/storage_export/blobs/2191ca64-458a-4e7b-b896-913ae69fbc6a
  seed/storage_export/blobs/4ebc6cd2-baa0-42f4-9109-2f06ff9d3206
  seed/storage_export/blobs/5452089d-c211-4830-860d-b5ef444ae299
  seed/storage_export/metadata/2191ca64-458a-4e7b-b896-913ae69fbc6a.json
  seed/storage_export/metadata/4ebc6cd2-baa0-42f4-9109-2f06ff9d3206.json
  seed/storage_export/metadata/5452089d-c211-4830-860d-b5ef444ae299.json
Owners: none

Prettified Code!
  website/src/app/[lang]/[region]/(website)/campaign/[campaign]/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): updated seed with campaign data (#772)
  seed/auth_export/accounts.json
  seed/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  seed/firestore_export/all_namespaces/all_kinds/output-0
  seed/firestore_export/firestore_export.overall_export_metadata
  seed/storage_export/blobs/2191ca64-458a-4e7b-b896-913ae69fbc6a
  seed/storage_export/blobs/4ebc6cd2-baa0-42f4-9109-2f06ff9d3206
  seed/storage_export/blobs/5452089d-c211-4830-860d-b5ef444ae299
  seed/storage_export/metadata/2191ca64-458a-4e7b-b896-913ae69fbc6a.json
  seed/storage_export/metadata/4ebc6cd2-baa0-42f4-9109-2f06ff9d3206.json
  seed/storage_export/metadata/5452089d-c211-4830-860d-b5ef444ae299.json
Owners: none

feature(website): small changes to campaign page (#773)
  website/src/app/[lang]/[region]/(website)/campaign/[campaign]/page.tsx
  website/src/app/[lang]/[region]/donate/one-time/one-time-donation-form.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

chore(functions): update env.sample file
  functions/.env.sample
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

chore(functions): remove postfinance balance import
  functions/src/cron/index.ts
  functions/src/cron/postfinance-balance-import/PostFinanceBalanceImporter.test.ts
  functions/src/cron/postfinance-balance-import/PostFinanceBalanceImporter.ts
  functions/src/cron/postfinance-balance-import/index.ts
  shared/src/types/bank-balance.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

chore(functions): remove postfinance balance import (#774)
  functions/src/cron/index.ts
  functions/src/cron/postfinance-balance-import/PostFinanceBalanceImporter.test.ts
  functions/src/cron/postfinance-balance-import/PostFinanceBalanceImporter.ts
  functions/src/cron/postfinance-balance-import/index.ts
  shared/src/types/bank-balance.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(website): simplify api interaction
  website/src/app/[lang]/[region]/(website)/me/contributions/contributions-table.tsx
  website/src/app/[lang]/[region]/(website)/me/contributions/page.tsx
  website/src/app/[lang]/[region]/(website)/me/donation-certificates/donation-certificates-table.tsx
  website/src/app/[lang]/[region]/(website)/me/hooks.ts
  website/src/app/[lang]/[region]/(website)/me/layout-client.tsx
  website/src/app/[lang]/[region]/(website)/me/layout.tsx
  website/src/app/[lang]/[region]/(website)/me/page.tsx
  website/src/app/[lang]/[region]/(website)/me/personal-info/personal-info-form.tsx
  website/src/app/[lang]/[region]/(website)/me/subscriptions/billing-portal-button.tsx
  website/src/app/[lang]/[region]/(website)/me/subscriptions/page.tsx
  website/src/app/[lang]/[region]/(website)/me/subscriptions/subscriptions-client.tsx
  website/src/app/[lang]/[region]/(website)/me/subscriptions/subscriptions-table.tsx
  website/src/app/[lang]/[region]/(website)/me/user-context-provider.tsx
  website/src/app/[lang]/[region]/(website)/me/work-info/add-employer-form.tsx
  website/src/app/[lang]/[region]/(website)/me/work-info/employers-list.tsx
  website/src/app/[lang]/[region]/donate/success/stripe/[session]/page.tsx
  website/src/app/api/auth.ts
  website/src/app/api/mailchimp/subscription/route.ts
  website/src/app/api/stripe/billing-portal-session/create/route.ts
  website/src/app/api/stripe/checkout-session/create/route.ts
  website/src/app/api/stripe/subscriptions/route.ts
  website/src/app/api/user/update-password/route.ts
  website/src/components/providers/api-provider.tsx
  website/src/components/providers/user-context-provider.tsx
  website/src/firebase-admin.ts
  website/src/hooks/useApi.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

wip
  website/src/components/providers/api-provider.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

wip
  website/src/app/[lang]/[region]/(website)/me/security/update-password-form.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(website): simplify api interaction (#775)
  website/src/app/[lang]/[region]/(website)/me/contributions/contributions-table.tsx
  website/src/app/[lang]/[region]/(website)/me/contributions/page.tsx
  website/src/app/[lang]/[region]/(website)/me/donation-certificates/donation-certificates-table.tsx
  website/src/app/[lang]/[region]/(website)/me/hooks.ts
  website/src/app/[lang]/[region]/(website)/me/layout-client.tsx
  website/src/app/[lang]/[region]/(website)/me/layout.tsx
  website/src/app/[lang]/[region]/(website)/me/page.tsx
  website/src/app/[lang]/[region]/(website)/me/personal-info/personal-info-form.tsx
  website/src/app/[lang]/[region]/(website)/me/security/update-password-form.tsx
  website/src/app/[lang]/[region]/(website)/me/subscriptions/billing-portal-button.tsx
  website/src/app/[lang]/[region]/(website)/me/subscriptions/page.tsx
  website/src/app/[lang]/[region]/(website)/me/subscriptions/subscriptions-client.tsx
  website/src/app/[lang]/[region]/(website)/me/subscriptions/subscriptions-table.tsx
  website/src/app/[lang]/[region]/(website)/me/user-context-provider.tsx
  website/src/app/[lang]/[region]/(website)/me/work-info/add-employer-form.tsx
  website/src/app/[lang]/[region]/(website)/me/work-info/employers-list.tsx
  website/src/app/[lang]/[region]/donate/success/stripe/[session]/page.tsx
  website/src/app/api/auth.ts
  website/src/app/api/mailchimp/subscription/route.ts
  website/src/app/api/stripe/billing-portal-session/create/route.ts
  website/src/app/api/stripe/checkout-session/create/route.ts
  website/src/app/api/stripe/subscriptions/route.ts
  website/src/app/api/user/update-password/route.ts
  website/src/components/providers/api-provider.tsx
  website/src/components/providers/user-context-provider.tsx
  website/src/firebase-admin.ts
  website/src/hooks/useApi.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

chore(website): code cleanups
  website/src/app/[lang]/[region]/(survey-tool)/survey/[recipient]/[survey]/survey.tsx
  website/src/app/[lang]/[region]/(website)/me/hooks.ts
  website/src/app/[lang]/[region]/(website)/me/personal-info/personal-info-form.tsx
  website/src/app/[lang]/[region]/(website)/me/subscriptions/billing-portal-button.tsx
  website/src/components/providers/user-context-provider.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

keep search params when changing region/language
  website/src/app/context-providers.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Initial Commit for NEwsletter Popup
  .gitignore
  shared/locales/de/website-newsletter.json
  shared/locales/en/website-newsletter.json
  website/.env.sample
  website/src/app/[lang]/[region]/(website)/updates/page.tsx
  website/src/components/newsletter-popup/newsletter-popup-client.tsx
  website/src/components/newsletter-popup/newsletter-popup.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/app/[lang]/[region]/(website)/updates/page.tsx
  website/src/components/newsletter-popup/newsletter-popup-client.tsx
  website/src/components/newsletter-popup/newsletter-popup.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

move popup to world-poverty-statistics-2024 page
  website/src/app/[lang]/[region]/(website)/updates/page.tsx
  website/src/app/[lang]/[region]/(website)/world-poverty-statistics-2024/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/app/[lang]/[region]/(website)/world-poverty-statistics-2024/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Remove commit of test env variables
  website/.env.development
  website/.gitignore
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Add
  website/src/app/[lang]/[region]/(website)/v2/(home)/(assets)/sdg-logo.svg
  website/src/app/[lang]/[region]/(website)/v2/(home)/(sections)/approach.tsx
  website/src/app/[lang]/[region]/(website)/v2/(home)/(sections)/explainer-video.tsx
  website/src/app/[lang]/[region]/(website)/v2/(home)/(sections)/faq.tsx
  website/src/app/[lang]/[region]/(website)/v2/(home)/(sections)/hero-video.tsx
  website/src/app/[lang]/[region]/(website)/v2/(home)/(sections)/journal.tsx
  website/src/app/[lang]/[region]/(website)/v2/(home)/(sections)/mobile-illustration.tsx
  website/src/app/[lang]/[region]/(website)/v2/(home)/(sections)/monthly-income.tsx
  website/src/app/[lang]/[region]/(website)/v2/(home)/(sections)/overview.tsx
  website/src/app/[lang]/[region]/(website)/v2/(home)/(sections)/quotes.tsx
  website/src/app/[lang]/[region]/(website)/v2/(home)/(sections)/recipient-selection.tsx
  website/src/app/[lang]/[region]/(website)/v2/(home)/(sections)/sdgoals.tsx
  website/src/app/[lang]/[region]/(website)/v2/(home)/(sections)/testimonials.tsx
  website/src/app/[lang]/[region]/(website)/v2/(home)/page.tsx
  website/src/app/[lang]/[region]/(website)/v2/home/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/app/[lang]/[region]/(website)/v2/(home)/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 749 🛫
  pr-preview/pr-749/project.json
Owners: none

Integrating FAQ section into campaign page
  shared/locales/de/website-donate.json
  shared/locales/de/website-faq.json
  shared/locales/en/website-donate.json
  shared/locales/en/website-faq.json
  website/src/app/[lang]/[region]/(website)/campaign/[campaign]/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  shared/locales/en/website-faq.json
  website/src/app/[lang]/[region]/(website)/campaign/[campaign]/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

chore(website): code cleanups (#777)
  website/src/app/[lang]/[region]/(survey-tool)/survey/[recipient]/[survey]/survey.tsx
  website/src/app/[lang]/[region]/(website)/me/hooks.ts
  website/src/app/[lang]/[region]/(website)/me/personal-info/personal-info-form.tsx
  website/src/app/[lang]/[region]/(website)/me/subscriptions/billing-portal-button.tsx
  website/src/app/context-providers.tsx
  website/src/components/providers/user-context-provider.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploying to gh-pages from @ socialincome-san/public@a2e9892b0a870e8cadccf54ad6cd8ede4954420c 🚀
  project.json
Owners: none

CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/ui/ rene@socialincome.org
.github/workflows/ui.yml rene@socialincome.org

firebase.json andras@socialincome.org michael@socialincome.org
firestore.rules andras@socialincome.org michael@socialincome.org
package.json andras@socialincome.org michael@socialincome.org
storage.rules andras@socialincome.org michael@socialincome.org

admin/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
functions/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
shared/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
recipients_app/ verena@socialincome.org mikolaj@socialincome.org sandino@socialincome.org
website/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org

*.md sandino@socialincome.org andras@socialincome.org michael@socialincome.org
