Repository socialincome-san/public, changes with the owners that CODEOWNERS names for each.
All owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, verena@socialincome.org, mikolaj@socialincome.org

CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/ui/ rene@socialincome.org
.github/workflows/ui.yml rene@socialincome.org

firebase.json andras@socialincome.org michael@socialincome.org
firestore.rules andras@socialincome.org michael@socialincome.org
package.json andras@socialincome.org michael@socialincome.org
storage.rules andras@socialincome.org michael@socialincome.org

admin/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
functions/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
shared/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
recipients_app/ verena@socialincome.org mikolaj@socialincome.org sandino@socialincome.org
website/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org

*.md sandino@socialincome.org andras@socialincome.org michael@socialincome.org

add fallback for lottie navbar anim
  website/src/components/logos/si-logo.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Adding asset
  website/src/app/context-providers.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Bum version to 1.1.11+26
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Bump version once more
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Add go to survey action on survey overview list
  recipients_app/lib/view/widgets/survey/survey_list_card.dart
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Remove unused method
  recipients_app/lib/view/widgets/survey/survey_list_card.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Remove unused imports
  recipients_app/lib/view/widgets/survey/survey_list_card.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

chore(recipients_app): Bump app version to 1.1.11+28, add start survey action to overview list (#754)
  recipients_app/lib/view/widgets/survey/survey_list_card.dart
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Change fallback logo
  website/src/components/logos/si-logo.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Change texts for promise
  shared/locales/de/website-about-us.json
  shared/locales/de/website-bank-details.json
  shared/locales/de/website-our-work.json
  shared/locales/en/website-about-us.json
  shared/locales/en/website-bank-details.json
  shared/locales/en/website-our-work.json
  website/src/app/[lang]/[region]/(website)/our-work/(sections)/how-it-works.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): update promise text (#763)
  shared/locales/de/website-about-us.json
  shared/locales/de/website-bank-details.json
  shared/locales/de/website-our-work.json
  shared/locales/en/website-about-us.json
  shared/locales/en/website-bank-details.json
  shared/locales/en/website-our-work.json
  website/src/app/[lang]/[region]/(website)/our-work/(sections)/how-it-works.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): update consent mode (#752)
  website/src/app/context-providers.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploying to gh-pages from @ socialincome-san/public@2ab6e99989813e4178e30d95fca6ba4cca171f9a 🚀
  project.json
Owners: none

Deploy preview for PR 747 🛫
  pr-preview/pr-747/project.json
Owners: none

various small updates
  shared/src/mailchimp/MailchimpAPI.ts
  shared/src/mailchimp/MailchimpEventHandler.ts
  website/src/app/[lang]/[region]/(website)/me/personal-info/personal-info-form.tsx
  website/src/app/[lang]/[region]/(website)/me/user-context-provider.tsx
  website/src/app/api/mailchimp/checkSubscriptionStatus/route.ts
  website/src/app/api/mailchimp/subscription/route.ts
  website/src/app/api/mailchimp/updateSubscription/route.ts
  website/src/app/api/stripe/subscriptions/route.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Restructure folders for new landing page
  .gitignore
  shared/locales/en/website-home2.json
  website/src/app/[lang]/[region]/(website)/home2/(sections)/introduction.tsx
  website/src/app/[lang]/[region]/(website)/home2/page.tsx
  website/src/app/[lang]/[region]/(website)/v2/home/(assets)/sdg-logo.svg
  website/src/app/[lang]/[region]/(website)/v2/home/(sections)/approach.tsx
  website/src/app/[lang]/[region]/(website)/v2/home/(sections)/explainer-video.tsx
  website/src/app/[lang]/[region]/(website)/v2/home/(sections)/faq.tsx
  website/src/app/[lang]/[region]/(website)/v2/home/(sections)/hero-video.tsx
  website/src/app/[lang]/[region]/(website)/v2/home/(sections)/introduction.tsx
  website/src/app/[lang]/[region]/(website)/v2/home/(sections)/mobile-illustration.tsx
  website/src/app/[lang]/[region]/(website)/v2/home/(sections)/recipient-selection.tsx
  website/src/app/[lang]/[region]/(website)/v2/home/(sections)/sdgs.tsx
  website/src/app/[lang]/[region]/(website)/v2/home/(sections)/testimonials.tsx
  website/src/app/[lang]/[region]/(website)/v2/home/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

chore(general): update .gitignore
  .gitignore
Owners: none

feature(general): import and process payments files from postfinance ftp server
  .github/workflows/deployment.yml
  functions/.env.sample
  functions/package.json
  functions/src/config.ts
  functions/src/cron/index.ts
  functions/src/cron/postfinance-payments-files-import/index.ts
  functions/src/storage/index.ts
  functions/src/storage/postfinance-payments-files/PostfinancePaymentsFileImporter.ts
  functions/src/utils/PostfinancePaymentsFileHandler.ts
  package-lock.json
  shared/src/types/contribution.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(general): import and process payments files from postfinance ftp server (#764)
  .github/workflows/deployment.yml
  functions/.env.sample
  functions/package.json
  functions/src/config.ts
  functions/src/cron/index.ts
  functions/src/cron/postfinance-payments-files-import/index.ts
  functions/src/storage/index.ts
  functions/src/storage/postfinance-payments-files/PostfinancePaymentsFileImporter.ts
  functions/src/utils/PostfinancePaymentsFileHandler.ts
  package-lock.json
  shared/src/types/contribution.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploying to gh-pages from @ socialincome-san/public@bf38ae5d85af650d68d165d79baac7b4049b42de 🚀
  project.json
Owners: none

bugfix(functions): use base64 encoded secret value
  .github/workflows/deployment.yml
  functions/src/config.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bugfix(functions): decode base64 encoded secret outside of config.ts
  functions/src/config.ts
  functions/src/utils/PostfinancePaymentsFileHandler.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Update README.md
  README.md
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

Update README.md (#765)
  README.md
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

feat: force mounte navigation element and add styles to hidden it
  ui/src/components/popover.tsx
Owners: rene@socialincome.org

fix: make opening & closing navigation element 'transparency' by css
  website/src/components/navbar/navbar-client.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Adding new documents
  shared/locales/de/website-reporting.json
  shared/locales/en/website-reporting.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

add all sections in page
  website/src/app/[lang]/[region]/(website)/v2/home/(sections)/journal.tsx
  website/src/app/[lang]/[region]/(website)/v2/home/(sections)/monthly-income.tsx
  website/src/app/[lang]/[region]/(website)/v2/home/(sections)/overview.tsx
  website/src/app/[lang]/[region]/(website)/v2/home/(sections)/quotes.tsx
  website/src/app/[lang]/[region]/(website)/v2/home/(sections)/sdgoals.tsx
  website/src/app/[lang]/[region]/(website)/v2/home/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  shared/locales/en/website-home2.json
  website/src/app/[lang]/[region]/(website)/v2/home/(sections)/journal.tsx
  website/src/app/[lang]/[region]/(website)/v2/home/(sections)/monthly-income.tsx
  website/src/app/[lang]/[region]/(website)/v2/home/(sections)/overview.tsx
  website/src/app/[lang]/[region]/(website)/v2/home/(sections)/quotes.tsx
  website/src/app/[lang]/[region]/(website)/v2/home/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Adding new documents (#766)
  shared/locales/de/website-reporting.json
  shared/locales/en/website-reporting.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Add updates page to add files to Mailchimp
  .gitignore
  shared/locales/de/website-newsletter.json
  shared/locales/en/website-me.json
  shared/locales/en/website-newsletter.json
  website/src/app/[lang]/[region]/(website)/updates/page-with-update.tsx
  website/src/app/[lang]/[region]/(website)/updates/page.tsx
  website/src/app/[lang]/[region]/(website)/updates/subscription-info-form.tsx
  website/src/app/[lang]/[region]/donate/success/stripe/[session]/activate/create-user-form.tsx
  website/src/components/newsletter-overlay/newsletter-overlay.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

donation
  admin/src/collections/Campaigns.ts
  shared/locales/de/website-donate.json
  shared/locales/en/website-donate.json
  shared/src/types/campaign.ts
  ui/src/components/progress.tsx
  ui/src/components/toggle-group.tsx
  ui/src/components/toggle.tsx
  website/src/app/[lang]/[region]/(website)/campaign/[campaign]/page.tsx
  website/src/app/[lang]/[region]/donate/campaign/[campaign]/page.tsx
  website/src/app/[lang]/[region]/donate/one-time/one-time-donation-form.tsx
  website/src/app/[lang]/[region]/donate/one-time/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Deploy preview for PR 725 🛫
  pr-preview/pr-725/assets/Color-6VNJS4EI-16cc37e4.js
  pr-preview/pr-725/assets/Color-6VNJS4EI-16cc37e4.js.map
  pr-preview/pr-725/assets/Color-6VNJS4EI-21359a5c.js
  pr-preview/pr-725/assets/Color-6VNJS4EI-21359a5c.js.map
  pr-preview/pr-725/assets/DocsRenderer-NNNQARDV-0e9c5488.js
  pr-preview/pr-725/assets/DocsRenderer-NNNQARDV-0e9c5488.js.map
  pr-preview/pr-725/assets/DocsRenderer-NNNQARDV-36a36d7e.js
  pr-preview/pr-725/assets/DocsRenderer-NNNQARDV-36a36d7e.js.map
  pr-preview/pr-725/assets/WithTooltip-4HIR6TLV-2cfa7ff5.js
  pr-preview/pr-725/assets/WithTooltip-4HIR6TLV-2cfa7ff5.js.map
  pr-preview/pr-725/assets/WithTooltip-4HIR6TLV-4bf18017.js
  pr-preview/pr-725/assets/WithTooltip-4HIR6TLV-4bf18017.js.map
  pr-preview/pr-725/assets/chunk-HLWAVYOI-c461f8ac.js.map
  pr-preview/pr-725/assets/chunk-HLWAVYOI-d77e9979.js
  pr-preview/pr-725/assets/chunk-HLWAVYOI-d77e9979.js.map
  pr-preview/pr-725/assets/formatter-SWP5E3XI-e345e2d7.js
  pr-preview/pr-725/assets/formatter-SWP5E3XI-e345e2d7.js.map
  pr-preview/pr-725/assets/formatter-SWP5E3XI-e641f994.js.map
  pr-preview/pr-725/assets/globals-6a32425a.css
  pr-preview/pr-725/assets/globals-96818e4a.css
  pr-preview/pr-725/assets/iframe-18abe841.js
  pr-preview/pr-725/assets/iframe-18abe841.js.map
  pr-preview/pr-725/assets/iframe-2727d295.js
  pr-preview/pr-725/assets/iframe-2727d295.js.map
  pr-preview/pr-725/assets/preview-0daebb64.js
  pr-preview/pr-725/assets/preview-0daebb64.js.map
  pr-preview/pr-725/assets/preview-280b7b50.js
  pr-preview/pr-725/assets/preview-280b7b50.js.map
  pr-preview/pr-725/assets/preview-3faf7512.js.map
  pr-preview/pr-725/assets/preview-e9be6a49.js
  pr-preview/pr-725/assets/preview-e9be6a49.js.map
  pr-preview/pr-725/assets/syntaxhighlighter-NMPM6SWI-4fbb98ce.js
  pr-preview/pr-725/assets/syntaxhighlighter-NMPM6SWI-4fbb98ce.js.map
  pr-preview/pr-725/assets/syntaxhighlighter-NMPM6SWI-b0de73ae.js
  pr-preview/pr-725/assets/syntaxhighlighter-NMPM6SWI-b0de73ae.js.map
  pr-preview/pr-725/assets/typography.stories-12dcfb82.js.map
  pr-preview/pr-725/assets/typography.stories-b3aac371.js
  pr-preview/pr-725/assets/typography.stories-b3aac371.js.map
  pr-preview/pr-725/iframe.html
  pr-preview/pr-725/project.json
Owners: none

pr review
  shared/src/utils/date.ts
  website/src/app/[lang]/[region]/(website)/campaign/[campaign]/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): campaign page (#725)
  admin/src/collections/Campaigns.ts
  package-lock.json
  shared/locales/de/website-donate.json
  shared/locales/en/website-donate.json
  shared/src/stripe/StripeEventHandler.ts
  shared/src/types/campaign.ts
  shared/src/utils/date.ts
  ui/package.json
  ui/src/components/progress.tsx
  ui/src/components/toggle-group.tsx
  ui/src/components/toggle.tsx
  website/src/app/[lang]/[region]/(website)/campaign/[campaign]/page.tsx
  website/src/app/[lang]/[region]/donate/campaign/[campaign]/page.tsx
  website/src/app/[lang]/[region]/donate/one-time/one-time-donation-form.tsx
  website/src/app/[lang]/[region]/donate/one-time/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Deploying to gh-pages from @ socialincome-san/public@02a771f3569c1f3b4a53533d78846fccd7075cf1 🚀
  assets/Color-6VNJS4EI-440dc15a.js
  assets/Color-6VNJS4EI-440dc15a.js.map
  assets/Color-6VNJS4EI-9f7b19d3.js
  assets/Color-6VNJS4EI-9f7b19d3.js.map
  assets/DocsRenderer-NNNQARDV-11cc829f.js
  assets/DocsRenderer-NNNQARDV-11cc829f.js.map
  assets/DocsRenderer-NNNQARDV-8af7ad29.js
  assets/DocsRenderer-NNNQARDV-8af7ad29.js.map
  assets/WithTooltip-4HIR6TLV-c93701f2.js
  assets/WithTooltip-4HIR6TLV-c93701f2.js.map
  assets/WithTooltip-4HIR6TLV-df18ffc6.js
  assets/WithTooltip-4HIR6TLV-df18ffc6.js.map
  assets/chunk-HLWAVYOI-36619765.js.map
  assets/chunk-HLWAVYOI-8fe6b888.js
  assets/chunk-HLWAVYOI-8fe6b888.js.map
  assets/formatter-SWP5E3XI-1694ea41.js.map
  assets/formatter-SWP5E3XI-4538739a.js
  assets/formatter-SWP5E3XI-4538739a.js.map
  assets/globals-9e76c4f0.css
  assets/globals-b9623a2b.css
  assets/iframe-1b832fa6.js
  assets/iframe-1b832fa6.js.map
  assets/iframe-4ca47c81.js
  assets/iframe-4ca47c81.js.map
  assets/preview-1273b0ad.js.map
  assets/preview-56052009.js
  assets/preview-56052009.js.map
  assets/preview-5b99e89b.js
  assets/preview-5b99e89b.js.map
  assets/preview-e83df1b7.js
  assets/preview-e83df1b7.js.map
  assets/syntaxhighlighter-NMPM6SWI-5b97524c.js
  assets/syntaxhighlighter-NMPM6SWI-5b97524c.js.map
  assets/syntaxhighlighter-NMPM6SWI-e846aea7.js
  assets/syntaxhighlighter-NMPM6SWI-e846aea7.js.map
  assets/typography.stories-9150ed52.js.map
  assets/typography.stories-f8733960.js
  assets/typography.stories-f8733960.js.map
  iframe.html
  project.json
Owners: none

Better translations
  shared/locales/de/website-donate.json
  shared/locales/en/website-donate.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Update forward links and adding one for the upcoming campaign for easier communication
  website/src/middleware.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Update for /updates page
  shared/locales/de/website-newsletter.json
  shared/locales/en/website-newsletter.json
  shared/src/mailchimp/MailchimpAPI.ts
  website/src/app/[lang]/[region]/(website)/updates/page.tsx
  website/src/app/[lang]/[region]/(website)/updates/subscription-info-form.tsx
  website/src/app/api/mailchimp/publicSubscription/route.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  shared/locales/en/website-newsletter.json
  shared/src/mailchimp/MailchimpAPI.ts
  website/src/app/[lang]/[region]/(website)/updates/page-with-update.tsx
  website/src/app/[lang]/[region]/(website)/updates/page.tsx
  website/src/app/[lang]/[region]/(website)/updates/subscription-info-form.tsx
  website/src/app/[lang]/[region]/donate/success/stripe/[session]/activate/create-user-form.tsx
  website/src/app/api/mailchimp/publicSubscription/route.ts
  website/src/components/newsletter-overlay/newsletter-overlay.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org
