Repository socialincome-san/public, changes with the owners that CODEOWNERS names for each.
All owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, verena@socialincome.org, mikolaj@socialincome.org

CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/ui/ rene@socialincome.org
.github/workflows/ui.yml rene@socialincome.org

firebase.json andras@socialincome.org michael@socialincome.org
firestore.rules andras@socialincome.org michael@socialincome.org
package.json andras@socialincome.org michael@socialincome.org
storage.rules andras@socialincome.org michael@socialincome.org

admin/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
functions/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
shared/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
recipients_app/ verena@socialincome.org mikolaj@socialincome.org sandino@socialincome.org
website/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org

*.md sandino@socialincome.org andras@socialincome.org michael@socialincome.org

Prettified Code!
  recipients_app/ios/Runner/Assets.xcassets/LaunchBackground.imageset/Contents.json
  recipients_app/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Preserve splash screen during loading for AuthCubit
  recipients_app/ios/Podfile.lock
  recipients_app/lib/main.dart
  recipients_app/lib/main_dev.dart
  recipients_app/lib/my_app.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Remove unnecessary stuff from splash configuration
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Prettified Code!
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Add two error codes messages
  recipients_app/lib/l10n/app_en.arb
  recipients_app/lib/l10n/app_kri.arb
  recipients_app/lib/view/pages/welcome_page.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Add more credential verification errors
  recipients_app/lib/l10n/app_en.arb
  recipients_app/lib/l10n/app_kri.arb
  recipients_app/lib/view/pages/welcome_page.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

chore(recipients_app): #440 Update splash screen (#544)
  recipients_app/android/app/src/main/AndroidManifest.xml
  recipients_app/android/app/src/main/res/drawable-hdpi/android12splash.png
  recipients_app/android/app/src/main/res/drawable-hdpi/splash.png
  recipients_app/android/app/src/main/res/drawable-mdpi/android12splash.png
  recipients_app/android/app/src/main/res/drawable-mdpi/splash.png
  recipients_app/android/app/src/main/res/drawable-night-hdpi/android12splash.png
  recipients_app/android/app/src/main/res/drawable-night-mdpi/android12splash.png
  recipients_app/android/app/src/main/res/drawable-night-xhdpi/android12splash.png
  recipients_app/android/app/src/main/res/drawable-night-xxhdpi/android12splash.png
  recipients_app/android/app/src/main/res/drawable-night-xxxhdpi/android12splash.png
  recipients_app/android/app/src/main/res/drawable-v21/background.png
  recipients_app/android/app/src/main/res/drawable-v21/launch_background.xml
  recipients_app/android/app/src/main/res/drawable-xhdpi/android12splash.png
  recipients_app/android/app/src/main/res/drawable-xhdpi/splash.png
  recipients_app/android/app/src/main/res/drawable-xxhdpi/android12splash.png
  recipients_app/android/app/src/main/res/drawable-xxhdpi/splash.png
  recipients_app/android/app/src/main/res/drawable-xxxhdpi/android12splash.png
  recipients_app/android/app/src/main/res/drawable-xxxhdpi/splash.png
  recipients_app/android/app/src/main/res/drawable/background.png
  recipients_app/android/app/src/main/res/drawable/launch_background.xml
  recipients_app/android/app/src/main/res/drawable/launch_image.png
  recipients_app/android/app/src/main/res/values-night-v31/styles.xml
  recipients_app/android/app/src/main/res/values-v31/styles.xml
  recipients_app/android/app/src/main/res/values/styles.xml
  recipients_app/assets/splash.png
  recipients_app/assets/splashAndroid12.png
  recipients_app/ios/Podfile.lock
  recipients_app/ios/Runner/Assets.xcassets/LaunchBackground.imageset/Contents.json
  recipients_app/ios/Runner/Assets.xcassets/LaunchBackground.imageset/background.png
  recipients_app/ios/Runner/Base.lproj/LaunchScreen.storyboard
  recipients_app/ios/Runner/Info.plist
  recipients_app/lib/main.dart
  recipients_app/lib/main_dev.dart
  recipients_app/lib/my_app.dart
  recipients_app/pubspec.lock
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Make components translations be the english for calendar and so on
  recipients_app/lib/kri_intl.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Adding abstraction level to companyRegistry
  website/src/app/[lang]/[country]/(website)/company-search/companies_registers/CompanyRegistriesCatalog.tsx
  website/src/app/[lang]/[country]/(website)/company-search/companies_registers/DefaultCompanyRegistry.tsx
  website/src/app/[lang]/[country]/(website)/company-search/page.tsx
  website/src/app/[lang]/[country]/(website)/company-search/types.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Adding abstraction level to companyRegistry
  website/src/app/[lang]/[country]/(website)/company-search/companies_registers/ZefixCompanyRegistry.tsx
  website/src/app/[lang]/[country]/(website)/company-search/companies_registers/zefix.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/app/[lang]/[country]/(website)/company-search/companies_registers/CompanyRegistriesCatalog.tsx
  website/src/app/[lang]/[country]/(website)/company-search/companies_registers/ZefixCompanyRegistry.tsx
  website/src/app/[lang]/[country]/(website)/company-search/page.tsx
  website/src/app/[lang]/[country]/(website)/company-search/types.tsx
  website/src/app/api/companies/ch/route.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(website): update navbar
  shared/locales/de/website-common.json
  shared/locales/en/website-common.json
  shared/locales/en/website-index.json
  shared/src/utils/i18n.ts
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/language-switcher.tsx
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/layout.tsx
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/survey.tsx
  website/src/app/[lang]/[country]/(website)/about-us/team/page.tsx
  website/src/app/[lang]/[country]/(website)/layout.tsx
  website/src/app/[lang]/[country]/(website)/our-work/section-1.tsx
  website/src/components/navbar/navbar-client.tsx
  website/src/components/navbar/navbar-wrapper.tsx
  website/src/components/navbar/navbar.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

remove file
  website/src/components/navbar/navbar-wrapper.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 553 🛫
  functions-playwright-report/pr-553/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-553/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-553/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-553/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-553/index.html
Owners: none

bugfix(admintool) fix message displayed when there's no row in a datagrid
  admin/src/components/Overlays.tsx
  admin/src/views/NextSurveysView.tsx
  admin/src/views/PaymentsConfirmationView.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(website): update navbar (#553)
  shared/locales/de/website-common.json
  shared/locales/en/website-common.json
  shared/locales/en/website-index.json
  shared/src/utils/i18n.ts
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/language-switcher.tsx
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/layout.tsx
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/survey.tsx
  website/src/app/[lang]/[country]/(website)/about-us/team/page.tsx
  website/src/app/[lang]/[country]/(website)/layout.tsx
  website/src/app/[lang]/[country]/(website)/our-work/section-1.tsx
  website/src/components/navbar/navbar-client.tsx
  website/src/components/navbar/navbar-wrapper.tsx
  website/src/components/navbar/navbar.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feat(recipients_app): Add two error codes messages (#548)
  recipients_app/lib/l10n/app_en.arb
  recipients_app/lib/l10n/app_kri.arb
  recipients_app/lib/view/pages/welcome_page.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Make components translations be the english for calendar and so on (#549)
  recipients_app/lib/kri_intl.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Deploy preview for PR 549 🛫
  functions-playwright-report/pr-549/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-549/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-549/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-549/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-549/index.html
Owners: none

bugfix(admintool) fix message displayed when there's no row in a datagrid (#554)
  admin/src/components/Overlays.tsx
  admin/src/views/NextSurveysView.tsx
  admin/src/views/PaymentsConfirmationView.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): add contact details section
  admin/package.json
  admin/src/collections/shared.ts
  firestore.rules
  package-lock.json
  seed/auth_export/accounts.json
  seed/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  seed/firestore_export/all_namespaces/all_kinds/output-0
  seed/firestore_export/firestore_export.overall_export_metadata
  shared/locales/de/website-me.json
  shared/locales/en/website-me.json
  shared/src/types/admin/User.ts
  shared/tests/firestore.rules.test.ts
  website/package.json
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/page.tsx
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/survey.tsx
  website/src/app/[lang]/[country]/(website)/(home)/page.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-2.tsx
  website/src/app/[lang]/[country]/(website)/donate/success/create-user-form.tsx
  website/src/app/[lang]/[country]/(website)/donate/success/link-google-form.tsx
  website/src/app/[lang]/[country]/(website)/login/layout.tsx
  website/src/app/[lang]/[country]/(website)/login/login-form.tsx
  website/src/app/[lang]/[country]/(website)/login/page.tsx
  website/src/app/[lang]/[country]/(website)/login/password-reset/page.tsx
  website/src/app/[lang]/[country]/(website)/me/contact-details/page.tsx
  website/src/app/[lang]/[country]/(website)/me/layout-tab.tsx
  website/src/app/[lang]/[country]/(website)/me/layout.tsx
  website/src/app/[lang]/[country]/(website)/me/login/page.tsx
  website/src/app/[lang]/[country]/(website)/me/page.tsx
  website/src/app/[lang]/[country]/(website)/me/payments/page.tsx
  website/src/app/layout.tsx
  website/src/app/providers.tsx
  website/src/app/query-client.tsx
  website/src/components/navbar/navbar-client.tsx
  website/src/components/navbar/navbar.tsx
  website/src/firebase/client.ts
  website/src/hooks/useAuthUser.ts
  website/src/i18n.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 555 🛫
  functions-playwright-report/pr-555/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-555/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-555/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-555/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-555/index.html
Owners: none

remove lodash from middleware code
  website/src/app/[lang]/[country]/(website)/(home)/section-2.tsx
  website/src/i18n.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

linting
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): add user contact details form (#555)
  admin/package.json
  admin/src/collections/shared.ts
  firestore.rules
  package-lock.json
  seed/auth_export/accounts.json
  seed/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  seed/firestore_export/all_namespaces/all_kinds/output-0
  seed/firestore_export/firestore_export.overall_export_metadata
  shared/locales/de/website-me.json
  shared/locales/en/website-me.json
  shared/src/types/admin/User.ts
  shared/tests/firestore.rules.test.ts
  website/package.json
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/page.tsx
  website/src/app/[lang]/[country]/(survey-tool)/survey/[recipient]/[survey]/survey.tsx
  website/src/app/[lang]/[country]/(website)/(home)/page.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-2.tsx
  website/src/app/[lang]/[country]/(website)/donate/success/create-user-form.tsx
  website/src/app/[lang]/[country]/(website)/donate/success/link-google-form.tsx
  website/src/app/[lang]/[country]/(website)/login/layout.tsx
  website/src/app/[lang]/[country]/(website)/login/login-form.tsx
  website/src/app/[lang]/[country]/(website)/login/page.tsx
  website/src/app/[lang]/[country]/(website)/login/password-reset/page.tsx
  website/src/app/[lang]/[country]/(website)/me/contact-details/page.tsx
  website/src/app/[lang]/[country]/(website)/me/layout-tab.tsx
  website/src/app/[lang]/[country]/(website)/me/layout.tsx
  website/src/app/[lang]/[country]/(website)/me/login/page.tsx
  website/src/app/[lang]/[country]/(website)/me/page.tsx
  website/src/app/[lang]/[country]/(website)/me/payments/page.tsx
  website/src/app/layout.tsx
  website/src/app/providers.tsx
  website/src/app/query-client.tsx
  website/src/components/navbar/navbar-client.tsx
  website/src/components/navbar/navbar.tsx
  website/src/firebase/client.ts
  website/src/hooks/useAuthUser.ts
  website/src/i18n.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

fix timestamp issues
  functions/src/webhooks/admin/scripts/BatchAddCHFToPayments.test.ts
  shared/src/firebase/index.ts
  shared/src/stripe/StripeWebhookHandler.test.ts
  shared/src/types/admin/Contribution.ts
  shared/src/types/admin/Payment.ts
  shared/src/types/admin/Recipient.ts
  shared/src/types/admin/Survey.ts
  shared/src/utils/date.ts
  shared/src/utils/stats/ContributionStatsCalculator.test.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 556 🛫
  functions-playwright-report/pr-556/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-556/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-556/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-556/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-556/index.html
Owners: none

fix timestamp issues
  functions/src/webhooks/admin/payment-process/tasks/CreatePaymentsTask.ts
  functions/src/webhooks/admin/scripts/BatchAddCHFToPayments.test.ts
  functions/src/webhooks/admin/scripts/SurveyManager.ts
  shared/src/firebase/admin/utils.ts
  shared/src/stripe/StripeEventHandler.ts
  shared/src/stripe/StripeWebhookHandler.test.ts
  shared/src/utils/date.ts
  shared/src/utils/stats/ContributionStatsCalculator.test.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Interaction prototype of company search
  firestore.rules
  shared/src/types/admin/EmployerSubmission.ts
  website/src/app/[lang]/[country]/(website)/company-search/companies_registers/zefix.tsx
  website/src/app/[lang]/[country]/(website)/company-search/create-employer-submission.tsx
  website/src/app/[lang]/[country]/(website)/company-search/page.tsx
  website/src/app/[lang]/[country]/(website)/company-search/success/page.tsx
  website/src/app/[lang]/[country]/(website)/company-search/types.tsx
  website/src/app/[lang]/[country]/(website)/donate/success/page.tsx
  website/src/app/api/companies/ch/route.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 556 🛫
  functions-playwright-report/pr-556/index.html
Owners: none

website(refactor): cleanups and add analytics
  admin/package.json
  functions/package.json
  package-lock.json
  package.json
  shared/locales/de/website-home.json
  shared/locales/en/website-home.json
  shared/package.json
  shared/src/stripe/StripeEventHandler.ts
  shared/src/stripe/StripeWebhookHandler.test.ts
  ui/src/components/containers/base-container.tsx
  website/package.json
  website/src/app/[lang]/[country]/(website)/(home)/section-1-input.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-1.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-2.tsx
  website/src/app/[lang]/[country]/(website)/me/contributions/contributions-table.tsx
  website/src/app/[lang]/[country]/(website)/me/contributions/page.tsx
  website/src/app/providers.tsx
  website/src/components/navbar/navbar-client.tsx
  website/src/firebase-admin.ts
  website/src/firebase/client.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Deploy preview for PR 557 🛫
  functions-playwright-report/pr-557/data/23ff0bd944bf5ab025ac4e1d56a89aa21f05ae91.png
  functions-playwright-report/pr-557/data/4c4b1602ad994adf4a91716d649ff1ddb6f06266.png
  functions-playwright-report/pr-557/data/aa711bc781bae80188931c7200e86f6f96509d53.png
  functions-playwright-report/pr-557/data/c847c0bda6ee11e5a047e3b881e1f03c526bcfaf.png
  functions-playwright-report/pr-557/index.html
Owners: none

fix imports
  shared/src/stripe/index.ts
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/charts/page.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/page.tsx
  website/src/app/api/stripe/billing-portal/route.ts
  website/src/app/api/stripe/checkout/success/route.ts
  website/src/app/api/user/create-auth-user/route.ts
  website/src/app/providers.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 557 🛫
  functions-playwright-report/pr-557/index.html
Owners: none

update AnalyticsProviderWrapper
  website/src/app/providers.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

fix linting problem
  website/src/app/providers.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

small fixes
  website/src/app/[lang]/[country]/(website)/faq/page.tsx
  website/src/app/providers.tsx
  website/src/components/navbar/language-switcher.tsx
  website/src/components/navbar/navbar-client.tsx
  website/src/components/navbar/navbar.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

cleanup navbar
  website/src/components/navbar/navbar-client.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

website(refactor): cleanups and add analytics (#557)
  admin/package.json
  functions/package.json
  package-lock.json
  package.json
  shared/locales/de/website-home.json
  shared/locales/en/website-home.json
  shared/package.json
  shared/src/stripe/StripeEventHandler.ts
  shared/src/stripe/StripeWebhookHandler.test.ts
  shared/src/stripe/index.ts
  ui/src/components/containers/base-container.tsx
  website/package.json
  website/src/app/[lang]/[country]/(website)/(home)/section-1-input.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-1.tsx
  website/src/app/[lang]/[country]/(website)/(home)/section-2.tsx
  website/src/app/[lang]/[country]/(website)/faq/page.tsx
  website/src/app/[lang]/[country]/(website)/me/contributions/contributions-table.tsx
  website/src/app/[lang]/[country]/(website)/me/contributions/page.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/charts/page.tsx
  website/src/app/[lang]/[country]/(website)/transparency/[currency]/page.tsx
  website/src/app/api/stripe/billing-portal/route.ts
  website/src/app/api/stripe/checkout/success/route.ts
  website/src/app/api/user/create-auth-user/route.ts
  website/src/app/providers.tsx
  website/src/components/navbar/language-switcher.tsx
  website/src/components/navbar/navbar-client.tsx
  website/src/components/navbar/navbar.tsx
  website/src/firebase-admin.ts
  website/src/firebase/client.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Bump app version
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org
