Repository socialincome-san/public, changes with the owners that CODEOWNERS names for each.
All owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, verena@socialincome.org, mikolaj@socialincome.org

CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/ui/ rene@socialincome.org
.github/workflows/ui.yml rene@socialincome.org

firebase.json andras@socialincome.org michael@socialincome.org
firestore.rules andras@socialincome.org michael@socialincome.org
package.json andras@socialincome.org michael@socialincome.org
storage.rules andras@socialincome.org michael@socialincome.org

admin/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
functions/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
shared/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
recipients_app/ verena@socialincome.org mikolaj@socialincome.org sandino@socialincome.org
website/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org

*.md sandino@socialincome.org andras@socialincome.org michael@socialincome.org

refactor(general): allow donation certificate download on website
  admin/src/actions/CreateDonationCertificatesAction.tsx
  admin/src/collections/Users.tsx
  functions/src/webhooks/admin/donation-certificates/DonationCertificateHandler.ts
  functions/src/webhooks/admin/donation-certificates/DonationCertificateWriter.ts
  functions/src/webhooks/admin/donation-certificates/index.ts
  shared/locales/de/donation-certificate.json
  shared/locales/de/website-me.json
  shared/locales/en/donation-certificate.json
  shared/locales/en/website-me.json
  shared/locales/fr/donation-certificate.json
  shared/src/firebase/admin/StorageAdmin.test.ts
  shared/src/firebase/admin/StorageAdmin.ts
  shared/src/types/donation-certificate.ts
  shared/src/utils/i18n.test.ts
  website/src/app/[lang]/[region]/(website)/me/donation-certificates/donation-certificates-table.tsx
  website/src/app/[lang]/[region]/(website)/me/donation-certificates/page.tsx
  website/src/app/[lang]/[region]/(website)/me/layout-client.tsx
  website/src/app/[lang]/[region]/(website)/me/layout.tsx
  website/src/app/[lang]/[region]/(website)/me/personal-info/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): add button to donate via twint (#671)
  shared/locales/de/website-donate.json
  shared/locales/de/website-our-work.json
  shared/locales/en/website-donate.json
  website/src/app/[lang]/[region]/(website)/(home)/section-2.tsx
  website/src/app/[lang]/[region]/donate/one-time/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  shared/locales/de/website-me.json
  shared/locales/en/website-me.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Added missing German translations on the landing page
  shared/locales/de/website-home.json
  shared/locales/de/website-our-work.json
  shared/locales/en/website-home.json
  ui/src/components/card.tsx
  website/src/app/[lang]/[region]/(website)/(home)/section-5-card.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Prettified Code!
  website/src/app/[lang]/[region]/(website)/(home)/section-5-card.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 673 🛫
  pr-preview/pr-673/project.json
Owners: none

Updating monthly amount after change
  shared/locales/de/website-our-work.json
  shared/locales/en/website-our-work.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): missing translations (de) (#673)
  shared/locales/de/website-home.json
  shared/locales/de/website-our-work.json
  shared/locales/en/website-home.json
  shared/locales/en/website-our-work.json
  ui/src/components/card.tsx
  website/src/app/[lang]/[region]/(website)/(home)/section-5-card.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, rene@socialincome.org

Deploying to gh-pages from @ socialincome-san/public@79047aee7c073b4835884013d4d03a9197eefdc4 🚀
  assets/Color-6VNJS4EI-364543b3.js
  assets/Color-6VNJS4EI-364543b3.js.map
  assets/Color-6VNJS4EI-f4bd807a.js
  assets/Color-6VNJS4EI-f4bd807a.js.map
  assets/DocsRenderer-NNNQARDV-30f34c82.js
  assets/DocsRenderer-NNNQARDV-30f34c82.js.map
  assets/DocsRenderer-NNNQARDV-9447122a.js
  assets/DocsRenderer-NNNQARDV-9447122a.js.map
  assets/WithTooltip-4HIR6TLV-4149b2c7.js
  assets/WithTooltip-4HIR6TLV-4149b2c7.js.map
  assets/WithTooltip-4HIR6TLV-45fb206a.js
  assets/WithTooltip-4HIR6TLV-45fb206a.js.map
  assets/chunk-HLWAVYOI-09ac8972.js.map
  assets/chunk-HLWAVYOI-4a490140.js
  assets/chunk-HLWAVYOI-4a490140.js.map
  assets/formatter-SWP5E3XI-253f7f36.js
  assets/formatter-SWP5E3XI-253f7f36.js.map
  assets/formatter-SWP5E3XI-75883c2c.js.map
  assets/iframe-b160edaf.js
  assets/iframe-b160edaf.js.map
  assets/iframe-b97b68b4.js
  assets/iframe-b97b68b4.js.map
  assets/preview-259d34b0.js
  assets/preview-259d34b0.js.map
  assets/preview-cda9c1dc.js
  assets/preview-cda9c1dc.js.map
  assets/syntaxhighlighter-NMPM6SWI-7207b39b.js
  assets/syntaxhighlighter-NMPM6SWI-7207b39b.js.map
  assets/syntaxhighlighter-NMPM6SWI-dcc73d54.js
  assets/syntaxhighlighter-NMPM6SWI-dcc73d54.js.map
  assets/typography.stories-c5ee5b9b.js.map
  assets/typography.stories-d6c6ef1e.js
  assets/typography.stories-d6c6ef1e.js.map
  iframe.html
  project.json
Owners: none

use raisenow instead of twint
  admin/src/collections/Contributions.ts
  shared/locales/de/website-me.json
  shared/locales/en/website-me.json
  shared/src/types/contribution.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 670 🛫
  pr-preview/pr-670/project.json
Owners: none

feature(website/admin): raisenow as payment category (#670)
  admin/src/collections/Contributions.ts
  shared/locales/de/website-me.json
  shared/locales/en/website-me.json
  shared/src/types/contribution.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

GTM Tracking Installed
  admin/index.html
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

added google tracking under tracking
  website/src/components/tracking/google-tracking.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

added google-tracking to context-providers
  website/src/app/context-providers.tsx
  website/src/components/tracking/google-tracking.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Bump version
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

feature(website): add google tag manager tracking
  shared/locales/de/website-privacy.json
  shared/locales/en/website-privacy.json
  website/src/app/context-providers.tsx
  website/src/components/tracking/facebook-tracking.tsx
  website/src/components/tracking/google-tag-manager.tsx
  website/src/components/tracking/linkedin-tracking.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): add google tag manager tracking (#678)
  shared/locales/de/website-privacy.json
  shared/locales/en/website-privacy.json
  website/src/app/context-providers.tsx
  website/src/components/tracking/facebook-tracking.tsx
  website/src/components/tracking/google-tag-manager.tsx
  website/src/components/tracking/linkedin-tracking.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Small style update for FAQ answers
  website/src/app/[lang]/[region]/(website)/faq/faq-section.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/app/[lang]/[region]/(website)/faq/faq-section.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Adjust margin and padding in the Accordian
  website/src/app/[lang]/[region]/(website)/faq/faq-section.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/app/[lang]/[region]/(website)/faq/faq-section.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Remove extra space in accordion
  ui/src/components/accordion.tsx
Owners: rene@socialincome.org

feature(website): faq design update (#679)
  ui/src/components/accordion.tsx
  website/src/app/[lang]/[region]/(website)/faq/faq-section.tsx
Owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploying to gh-pages from @ socialincome-san/public@e2171a80970f891a021d0caa0144102f2d92ef22 🚀
  assets/Color-6VNJS4EI-3c42ec68.js
  assets/Color-6VNJS4EI-3c42ec68.js.map
  assets/Color-6VNJS4EI-f4bd807a.js
  assets/Color-6VNJS4EI-f4bd807a.js.map
  assets/DocsRenderer-NNNQARDV-8a13da0e.js
  assets/DocsRenderer-NNNQARDV-8a13da0e.js.map
  assets/DocsRenderer-NNNQARDV-9447122a.js
  assets/DocsRenderer-NNNQARDV-9447122a.js.map
  assets/WithTooltip-4HIR6TLV-45fb206a.js
  assets/WithTooltip-4HIR6TLV-45fb206a.js.map
  assets/WithTooltip-4HIR6TLV-83aec35d.js
  assets/WithTooltip-4HIR6TLV-83aec35d.js.map
  assets/chunk-HLWAVYOI-4a490140.js.map
  assets/chunk-HLWAVYOI-eea786cc.js
  assets/chunk-HLWAVYOI-eea786cc.js.map
  assets/formatter-SWP5E3XI-253f7f36.js.map
  assets/formatter-SWP5E3XI-6a9bcd45.js
  assets/formatter-SWP5E3XI-6a9bcd45.js.map
  assets/globals-93e80697.css
  assets/globals-9e76c4f0.css
  assets/iframe-988b28b5.js
  assets/iframe-988b28b5.js.map
  assets/iframe-b97b68b4.js
  assets/iframe-b97b68b4.js.map
  assets/preview-1273b0ad.js
  assets/preview-1273b0ad.js.map
  assets/preview-174e811a.js
  assets/preview-174e811a.js.map
  assets/preview-c5e4e620.js.map
  assets/preview-cda9c1dc.js
  assets/preview-cda9c1dc.js.map
  assets/syntaxhighlighter-NMPM6SWI-b0ed1b9e.js
  assets/syntaxhighlighter-NMPM6SWI-b0ed1b9e.js.map
  assets/syntaxhighlighter-NMPM6SWI-dcc73d54.js
  assets/syntaxhighlighter-NMPM6SWI-dcc73d54.js.map
  assets/typography.stories-1571c65c.js
  assets/typography.stories-1571c65c.js.map
  assets/typography.stories-d6c6ef1e.js.map
  iframe.html
  project.json
Owners: none

feature(website): add video section on home page
  shared/locales/de/website-home.json
  shared/locales/en/website-home.json
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/address-inequality.tsx
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/hero-form.tsx
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/hero.tsx
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/recognized-carousel.tsx
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/recognized.tsx
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/sdg-card.tsx
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/sdg.tsx
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/swiss-section.tsx
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/three-approaches-card.tsx
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/three-approaches.tsx
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/video.tsx
  website/src/app/[lang]/[region]/(website)/(home)/(sections)/what-would-change.tsx
  website/src/app/[lang]/[region]/(website)/(home)/page.tsx
  website/src/app/globals.css
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bugfix(website): filter out test recipients in payment stats
  shared/src/utils/stats/PaymentStatsCalculator.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bugfix(website): filter out test recipients in payment stats (#681)
  shared/src/utils/stats/PaymentStatsCalculator.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Bump intl_phone_number_input
  recipients_app/pubspec.lock
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Adding texts and image to future page
  shared/locales/en/website-campaign-ebola-survivors.json
  website/src/app/[lang]/[region]/(website)/campaigns/ebola-survivors/ismatu-gwendolyn.jpeg
  website/src/app/[lang]/[region]/(website)/campaigns/ebola-survivors/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Update of credits
  shared/locales/de/website-home.json
  shared/locales/en/website-home.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(general): only create users on successful stripe charge
  admin/src/collections/Contributions.tsx
  admin/src/collections/Users.tsx
  functions/src/storage/postfinance-payments-files/PostfinancePaymentsFileImporter.ts
  shared/src/stripe/StripeEventHandler.ts
  shared/src/stripe/StripeWebhookHandler.test.ts
  shared/src/types/contribution.ts
  shared/src/types/currency.ts
  shared/src/types/user.ts
  shared/src/utils/stats/ContributionStatsCalculator.test.ts
  shared/src/utils/stats/ContributionStatsCalculator.ts
  website/src/app/api/stripe/checkout-session/create/route.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

wip
  admin/src/collections/Contributions.tsx
  admin/src/collections/Users.tsx
  shared/src/stripe/StripeEventHandler.ts
  shared/src/types/contribution.ts
  website/src/app/api/stripe/checkout-session/create/route.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

wip
  shared/src/stripe/StripeWebhookHandler.test.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

refactor(general): only create firestore user on successful stripe charge (#686)
  admin/src/collections/Contributions.tsx
  admin/src/collections/Users.tsx
  functions/src/storage/postfinance-payments-files/PostfinancePaymentsFileImporter.ts
  shared/src/stripe/StripeEventHandler.ts
  shared/src/stripe/StripeWebhookHandler.test.ts
  shared/src/types/contribution.ts
  shared/src/types/currency.ts
  shared/src/types/user.ts
  shared/src/utils/stats/ContributionStatsCalculator.test.ts
  shared/src/utils/stats/ContributionStatsCalculator.ts
  website/src/app/api/stripe/checkout-session/create/route.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bugfix(functions): fix typing issue
  functions/src/storage/postfinance-payments-files/PostfinancePaymentsFileImporter.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Add Accodion to FAQ section in recipient selection
  website/src/app/[lang]/[region]/(website)/transparency/recipient-selection/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/app/[lang]/[region]/(website)/transparency/recipient-selection/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Change styling of the rest of the page to match accordion
  website/src/app/[lang]/[region]/(website)/transparency/recipient-selection/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Add text-left to AccordionTrigger
  website/src/app/[lang]/[region]/(website)/transparency/recipient-selection/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org
