Repository socialincome-san/public, changes with the owners that CODEOWNERS names for each.
All owners: rene@socialincome.org, andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org, verena@socialincome.org, mikolaj@socialincome.org

CODEOWNERS:

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/ui/ rene@socialincome.org
.github/workflows/ui.yml rene@socialincome.org

firebase.json andras@socialincome.org michael@socialincome.org
firestore.rules andras@socialincome.org michael@socialincome.org
package.json andras@socialincome.org michael@socialincome.org
storage.rules andras@socialincome.org michael@socialincome.org

admin/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
functions/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
shared/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org
recipients_app/ verena@socialincome.org mikolaj@socialincome.org sandino@socialincome.org
website/ andras@socialincome.org michael@socialincome.org sandino@socialincome.org

*.md sandino@socialincome.org andras@socialincome.org michael@socialincome.org

Added troubleshooting for port taken and cleaned up some minor things
  README.md
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

Prettified Code!
  README.md
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

chore(deps): add storyblok libraries
  package-lock.json
  website/package.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 740 🛫
  pr-preview/pr-740/project.json
Owners: none

Added troubleshooting for missing translations and cleaned up
  README.md
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

Added troubleshooting for missing translations and cleaned up
  README.md
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

Prettified Code!
  README.md
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

Updated twitter logo & name to X
  website/src/components/footer/footer.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Updated twitter logo & name to X (#742)
  website/src/components/footer/footer.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(all): readme adaptions (#739)
  README.md
Owners: sandino@socialincome.org, andras@socialincome.org, michael@socialincome.org

Deleted duplicated credits and simplified the process for retrieving Vimeo video codes (now centralized in the website-video.json).
  shared/locales/de/website-about-us.json
  shared/locales/de/website-home.json
  shared/locales/de/website-our-work.json
  shared/locales/en/website-about-us.json
  shared/locales/en/website-home.json
  shared/locales/en/website-our-work.json
  website/src/app/[lang]/[region]/(website)/(home)/page.tsx
  website/src/app/[lang]/[region]/(website)/our-work/(sections)/our-work.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/app/[lang]/[region]/(website)/(home)/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Former volunteers who are currently working on a project are now again in the active volunteers group
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/team.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  website/src/components/footer/footer.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): merge existing webpages into /legal page (#738)
  shared/locales/de/website-common.json
  shared/locales/de/website-fundraisers.json
  shared/locales/de/website-legal.json
  shared/locales/en/website-common.json
  shared/locales/en/website-fundraisers.json
  shared/locales/en/website-legal.json
  website/src/app/[lang]/[region]/(website)/legal/donations/page.tsx
  website/src/app/[lang]/[region]/(website)/legal/fundraisers/page.tsx
  website/src/app/[lang]/[region]/(website)/legal/layout-client.tsx
  website/src/app/[lang]/[region]/(website)/legal/layout.tsx
  website/src/app/[lang]/[region]/(website)/legal/page.tsx
  website/src/app/[lang]/[region]/(website)/legal/privacy/page.tsx
  website/src/app/[lang]/[region]/(website)/legal/site-use/page.tsx
  website/src/components/footer/footer.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

add lottie-animated logo to navbar
  package-lock.json
  package.json
  website/public/assets/Social.Income.Logo.Lottie.json
  website/src/components/logos/si-logo.tsx
  website/src/components/navbar/navbar-client.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

fixes missing DocumentTextIcon icon for legal item in Footer
  website/src/components/footer/footer.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

bugfix(website): Missing icon for legal item in the footer (#746)
  website/src/components/footer/footer.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): specific pages for each video (#720)
  shared/locales/de/website-about-us.json
  shared/locales/de/website-home.json
  shared/locales/de/website-our-work.json
  shared/locales/de/website-videos.json
  shared/locales/en/website-about-us.json
  shared/locales/en/website-home.json
  shared/locales/en/website-our-work.json
  shared/locales/en/website-videos.json
  website/src/app/[lang]/[region]/(website)/(home)/page.tsx
  website/src/app/[lang]/[region]/(website)/(video)/explainer-video/page.tsx
  website/src/app/[lang]/[region]/(website)/(video)/money-route-video/page.tsx
  website/src/app/[lang]/[region]/(website)/(video)/testimonial-video/page.tsx
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/flow-of-funds.tsx
  website/src/app/[lang]/[region]/(website)/our-work/(sections)/our-work.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

feature(website): change status from former to active for some volunteers (#744)
  website/src/app/[lang]/[region]/(website)/about-us/(sections)/team.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Make dateFormat to be based on date skeletons
  recipients_app/lib/kri_intl.dart
  recipients_app/lib/ui/configs/app_theme.dart
  recipients_app/lib/view/pages/account_page.dart
  recipients_app/lib/view/pages/payment_tile.dart
  recipients_app/lib/view/widgets/survey/survey_card_bottom_action.dart
  recipients_app/lib/view/widgets/survey/survey_list_card.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

feature(recipients_app): Add overview list for surveys (#691)
  recipients_app/lib/core/cubits/survey/survey_cubit.dart
  recipients_app/lib/core/cubits/survey/survey_state.dart
  recipients_app/lib/data/models/survey/mapped_survey.dart
  recipients_app/lib/data/models/survey/survey_card_status.dart
  recipients_app/lib/kri_intl.dart
  recipients_app/lib/l10n/app_en.arb
  recipients_app/lib/l10n/app_kri.arb
  recipients_app/lib/ui/configs/app_theme.dart
  recipients_app/lib/ui/icons/survey_status_icon_with_text.dart
  recipients_app/lib/view/pages/account_page.dart
  recipients_app/lib/view/pages/dashboard_page.dart
  recipients_app/lib/view/pages/payment_tile.dart
  recipients_app/lib/view/pages/surveys_page.dart
  recipients_app/lib/view/widgets/empty_item.dart
  recipients_app/lib/view/widgets/income/balance_card/balance_card_container.dart
  recipients_app/lib/view/widgets/survey/survey_card_bottom_action.dart
  recipients_app/lib/view/widgets/survey/survey_card_container.dart
  recipients_app/lib/view/widgets/survey/survey_list_card.dart
  recipients_app/lib/view/widgets/survey/survey_status_chip.dart
  recipients_app/lib/view/widgets/survey/surveys_overview_card.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

new lottie w/o whitespace + better height for lottie
  website/public/assets/Social.Income.Logo.Lottie.json
  website/src/components/logos/si-logo.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Initial Commit for Mailchimp API
  package-lock.json
  package.json
  shared/src/mailchimp/MailchimpEventHandler.ts
  website/src/app/api/mailchimp/checkSubscriptionStatus/route.ts
  website/src/app/api/mailchimp/updateSubscription/route.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  shared/src/mailchimp/MailchimpEventHandler.ts
  website/src/app/api/mailchimp/checkSubscriptionStatus/route.ts
  website/src/app/api/mailchimp/updateSubscription/route.ts
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Deploy preview for PR 747 🛫
  pr-preview/pr-747/project.json
Owners: none

disable looping by default
  website/src/components/logos/si-logo.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Adding structure and sections
  website/src/app/[lang]/[region]/(website)/home2/(sections)/approach.tsx
  website/src/app/[lang]/[region]/(website)/home2/(sections)/explainer-video.tsx
  website/src/app/[lang]/[region]/(website)/home2/(sections)/faq.tsx
  website/src/app/[lang]/[region]/(website)/home2/(sections)/hero-video.tsx
  website/src/app/[lang]/[region]/(website)/home2/(sections)/introduction.tsx
  website/src/app/[lang]/[region]/(website)/home2/(sections)/mobile-illustration.tsx
  website/src/app/[lang]/[region]/(website)/home2/(sections)/recipient-selection.tsx
  website/src/app/[lang]/[region]/(website)/home2/(sections)/sdgs.tsx
  website/src/app/[lang]/[region]/(website)/home2/(sections)/testimonials.tsx
  website/src/app/[lang]/[region]/(website)/home2/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Adding EN translations
  shared/locales/en/website-home2.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Adding asset
  website/src/app/[lang]/[region]/(website)/home2/(assets)/sdg-logo.svg
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  shared/locales/en/website-home2.json
  website/src/app/[lang]/[region]/(website)/home2/(sections)/approach.tsx
  website/src/app/[lang]/[region]/(website)/home2/(sections)/explainer-video.tsx
  website/src/app/[lang]/[region]/(website)/home2/(sections)/faq.tsx
  website/src/app/[lang]/[region]/(website)/home2/(sections)/hero-video.tsx
  website/src/app/[lang]/[region]/(website)/home2/(sections)/introduction.tsx
  website/src/app/[lang]/[region]/(website)/home2/(sections)/mobile-illustration.tsx
  website/src/app/[lang]/[region]/(website)/home2/(sections)/recipient-selection.tsx
  website/src/app/[lang]/[region]/(website)/home2/(sections)/sdgs.tsx
  website/src/app/[lang]/[region]/(website)/home2/(sections)/testimonials.tsx
  website/src/app/[lang]/[region]/(website)/home2/page.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Combine titles and subtitles for introduction.tsx
  website/src/app/[lang]/[region]/(website)/home2/(sections)/introduction.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Combine titles and subtitles for introduction.tsx (json file)
  shared/locales/en/website-home2.json
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

Prettified Code!
  shared/locales/en/website-home2.json
  website/src/app/[lang]/[region]/(website)/home2/(sections)/introduction.tsx
Owners: andras@socialincome.org, michael@socialincome.org, sandino@socialincome.org

- fixed scrollview in dashboard
  recipients_app/lib/view/pages/dashboard_page.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

cleanup
  recipients_app/lib/data/repositories/survey_repository.dart
  recipients_app/lib/view/pages/dashboard_page.dart
  recipients_app/lib/view/widgets/survey/survey_card_container.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Adjust paddings on dashboard page
  recipients_app/lib/view/pages/dashboard_page.dart
  recipients_app/lib/view/widgets/income/balance_card/balance_card_container.dart
  recipients_app/lib/view/widgets/survey/surveys_overview_card.dart
  recipients_app/pubspec.yaml
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Add pull to refresh for surveys page
  recipients_app/lib/view/pages/surveys_page.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Make sure payment list is scrolled as one
  recipients_app/lib/view/pages/payments_page.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org

Fix next payment day calculation, make it based on date only without time
  recipients_app/lib/core/cubits/payment/payments_cubit.dart
Owners: verena@socialincome.org, mikolaj@socialincome.org, sandino@socialincome.org
